<div ng-controller="categoryCtrl">
    <!-- <div class="row">
        <div class="col-md-4">
            <div id="nestable-menu">                
                <button id="tab-{{lang.Code}}" ng-repeat="lang in $root.languages track by $index" type="button" class="btn btn-white btn-sm active" ng-click="event.selectLang(lang.Code, lang.ID)" ng-if="lang.ID !== 0 && lang.Status !== '0' && lang.Code === filterLang">
                    <span ng-bind="lang.Name"></span>
                </button> 
                <button id="tab-{{lang.Code}}" ng-repeat="lang in $root.languages track by $index" type="button" class="btn btn-white btn-sm" ng-click="event.selectLang(lang.Code, lang.ID)" ng-if="lang.ID !== 0 && lang.Status !== '0' && lang.Code !== filterLang">
                    <span ng-bind="lang.Name"></span>
                </button>                
            </div>
        </div>
    </div> -->
    <div class="row">        
        <div class="col-md-12">
            <div class="row wrapper">               
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Danh sách danh mục</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div id="editable_length" class="dataTables_length">
                                    <label>
                                        <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                        </select>
                                    </label>
                                    dòng trên mỗi trang
                                </div>
                            </div>                                
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="center">Tên</th>
                                        <th class="center">Đường dẫn</th>                                            
                                        <th class="center">Ngôn ngữ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in $root.categories | filter:searchText | itemsPerPage: numberPage track by item.CatID" pagination-id="filterCate">
                                        <td class="center" ng-bind="item.CatName"></td>
                                        <td class="center" ng-bind="item.CatMeta"></td>     
                                        <td class="center" ng-bind="item.CatLang"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row line-top">
                            <dir-pagination-controls class="right" pagination-id="filterCate" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa Danh mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="event.del()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa nhiều mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa những mục đã chọn?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="event.delAllItem()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
</div>