<div ng-controller="editCategoryCtrl">
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <form role="form" name="Form" ng-submit="event.submitForm()" novalidate>
                <fieldset>
                    <div class="col-lg-9">
                        <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                            <label>Tên<span class="text-danger">&nbsp;(*)</span></label>
                            <input class="form-control" placeholder="Tên danh mục" name="Name" type="text" ng-model="selectedCate.CatName"  required ng-blur="event.catName_changed(true)" autofocus />
                            <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tên danh mục.</p>
                        </div>                            
                        <div class="form-group" ng-class="{'has-error': Form.Link.$invalid && Form.Link.$touched && Form.Link.$error.required}">
                            <label>Đường dẫn<span class="text-danger">&nbsp;(*)</span></label>
                            <input class="form-control" placeholder="Đường dẫn danh mục" name="Link" type="text" ng-model="selectedCate.CatMeta"  required />
                            <p ng-show="Form.Link.$invalid && Form.Link.$touched && Form.Link.$error.required" class="text-danger">Vui lòng nhập đường dẫn.</p>
                        </div>
                        <div class="form-group">
                            <label>Nội dung</label>
                            <textarea ckeditor="options" name="des" ng-model="selectedCate.CatDescribes"></textarea>
                        </div>                                              
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Thông tin SEO</h5>                                
                            </div>
                            <div class="ibox-content">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'has-error': Form.SeoTitle.$invalid && Form.SeoTitle.$touched && Form.SeoTitle.$error.required}">
                                            <label>SEO Title<span class="text-danger">&nbsp;(*)</span></label>
                                            <input class="form-control" placeholder="Tiêu đề" name="SeoTitle" type="text" ng-model="selectedCate.SeoTitle" autofocus required />
                                            <p ng-show="Form.SeoTitle.$invalid && Form.SeoTitle.$touched && Form.SeoTitle.$error.required" class="text-danger">Vui lòng nhập seo title.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>SEO Keyword</label>
                                            <input class="form-control" placeholder="Từ khoá" name="SeoKeyword" type="text" ng-model="selectedCate.SeoKeyword"  />                                            
                                        </div>                                        
                                        <div class="form-group" ng-class="{'has-error': Form.SeoCanonica.$invalid && Form.SeoCanonica.$touched && Form.SeoCanonica.$error.required}">
                                            <label>SEO Canonica<span class="text-danger">&nbsp;(*)</span></label>
                                            <input class="form-control" placeholder="Canonica" name="SeoCanonica" type="text" ng-model="selectedCate.SeoCanonica"  required />
                                            <p ng-show="Form.SeoCanonica.$invalid && Form.SeoCanonica.$touched && Form.SeoCanonica.$error.required" class="text-danger">Vui lòng nhập seo canonica.</p>
                                        </div> 
                                    </div>
                                    <div class="col-md-6">             
                                        <div class="form-group">
                                            <label>Meta Robot</label>
                                            <input class="form-control" placeholder="Meta Robot" name="MetaRobot" type="text" ng-model="selectedCate.MetaRobot"  />                                            
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': Form.SeoDescribes.$invalid && Form.SeoDescribes.$touched && Form.SeoDescribes.$error.required}">
                                            <label>SEO Describes<span class="text-danger">&nbsp;(*)</span></label>
                                            <textarea class="form-control" placeholder="Mô tả" name="SeoDescribes" rows="3" ng-model="selectedCate.SeoDescribes"  required></textarea>
                                            <p ng-show="Form.SeoDescribes.$invalid && Form.SeoDescribes.$touched && Form.SeoDescribes.$error.required" class="text-danger">Vui lòng nhập seo describes.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-lg-3">
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Đăng danh mục</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="panel-body">                                        
                                        <!-- <div class="form-group" ng-class="{'has-error': Form.lang.$invalid && Form.lang.$touched && Form.lang.$error.required }">
                                            <label><i class="fa fa-language"></i>&nbsp;Ngôn ngữ<span class="text-danger">&nbsp;(*)</span></label>
                                            <div class="selectContainer width">
                                                <select id="cbLang" class="form-control ui search dropdown" name="lang" ng-model="selectedCate.CatLang"  required>
                                                    <option style="display:none" value="">--Chọn ngôn ngữ--</option>
                                                    <option ng-repeat="item in $root.languages track by $index" ng-if="item.ID !== 0 && item.Status !== '0'" value="{{item.Code}}">{{item.Name}}</option>
                                                </select>
                                            </div>
                                            <p ng-show="Form.lang.$invalid && Form.lang.$touched && Form.lang.$error.required" class="text-danger">Vui lòng chọn ngôn ngữ.</p>
                                        </div> -->
                                        <div class="row form-group">
                                            <div class="col-sm-7">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitchAdd" ng-model="selectedCate.Status" ng-true-value="'1'" ng-false-value="'0'" />
                                                    <label class="onoffswitch-label" for="onoffswitchAdd">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="modal-footer no-border">
                                        <button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Đăng</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft" style="z-index: 0;">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Danh mục cha</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">  
                                    <div class="selectContainer width">
                                        <select class="form-control ui search dropdown" name="CatParent" ng-model="selectedCate.CatParent" >
                                            <option style="display:none" value="">--Chọn danh mục--</option>
                                            <option value="0">Trống</option>
                                            <option ng-repeat="item in $root.categories track by $index" value="{{item.CatID}}" ng-if="selectedCate.CatID !== item.CatID && selectedCate.CatID !== item.CatParent">{{item.CatName}}</option>
                                        </select>
                                    </div>                                     
                                </div>
                            </div>
                        </div>                        
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Kiểu hiển thị<span class="text-danger">&nbsp;(*)</span></h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content"> 
                                    <div class="form-group" ng-class="{'has-error': Form.Temp.$invalid && Form.Temp.$touched && Form.Temp.$error.required}">
                                        <div class="selectContainer width">
                                            <select id="cbTemp" class="form-control ui search dropdown" name="Temp" ng-model="selectedCate.TempId" ng-if="$root.dataType === 1" required>
                                                <option style="display:none" value="">--Chọn kiểu hiển thị--</option>
                                                <option ng-repeat="item in $root.templates track by $index" value="{{item.TempID}}" ng-if="item.Status !== '0' && item.Type === 'category'">{{item.TempName}}</option>
                                            </select>
                                            <select id="cbTemp" class="form-control ui search dropdown" name="Temp" ng-model="selectedCate.TempId" ng-if="$root.dataType === 2" required>
                                                <option style="display:none" value="">--Chọn kiểu hiển thị--</option>
                                                <option ng-repeat="item in $root.templates track by $index" value="{{item.TempID}}" ng-if="item.Status !== '0' && item.Type === 'proCategory'">{{item.TempName}}</option>
                                            </select>
                                        </div>
                                        <p ng-show="Form.Temp.$invalid && Form.Temp.$touched && Form.Temp.$error.required" class="text-danger">Vui lòng chọn kiểu hiển thị.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Ảnh danh mục</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <img id="img" class="img-review" ng-src="{{selectedCate.Image}}" alt="">
                                    <div class="modal-footer no-border">
                                        <button type="button" class="btn btn-primary" ng-click="event.browserImg(true)">Browser</button> 
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>