<div class="right-nav">
	<ul class="nav-action" id="home-nav">
		<li data-menuanchor="home"><a href="#home">01</a></li>
		<li data-menuanchor="gioithieu"><a href="#gioithieu">02</a></li>
		<li data-menuanchor="vitri"><a href="#vitri">03</a></li>
		<li data-menuanchor="loaihinhsanpham"><a href="#loaihinhsanpham">04</a></li>
		<li data-menuanchor="tienich"><a href="#tienich">05</a></li>
		<li data-menuanchor="loiichdautu"><a href="#loiichdautu">06</a></li>
		<li data-menuanchor="tintucduan"><a href="#tintucduan">07</a></li>
		<li data-menuanchor="tiendoduan"><a href="#tiendoduan">08</a></li>
	</ul>
</div>


<div id="fullpage1">
	<div class="section" data-anchor="home" id="section0" ng-style="{'background':'url(' + section.section1.background + ')', 'background-size': 'cover'}">
		<div class="wave-in">
			<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 270.38">
				<defs>
					<style>
						.wave1 {
							fill: url(#linear-gradient);
						}

						.wave2 {
							fill: url(#linear-gradient-2);
						}

						.wave3 {
							fill: url(#linear-gradient-3);
						}

						.wave4 {
							fill: url(#linear-gradient-4);
						}
					</style>
					<linearGradient id="linear-gradient" x1="92.74" y1="587.53" x2="1829.15" y2="-194.85"
						gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#6aaafd" stop-opacity="0.6" />
						<stop offset="0.15" stop-color="#57afce" stop-opacity="0.5" />
						<stop offset="0.43" stop-color="#37b87d" stop-opacity="0.33" />
						<stop offset="0.68" stop-color="#1fbf42" stop-opacity="0.2" />
						<stop offset="0.88" stop-color="#10c31e" stop-opacity="0.13" />
						<stop offset="1" stop-color="#0bc411" stop-opacity="0.1" />
					</linearGradient>
					<linearGradient id="linear-gradient-2" x1="72.04" y1="545.01" x2="1861.78" y2="-261.39"
						gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#8273fd" stop-opacity="0.6" />
						<stop offset="0.23" stop-color="#6d82ec" stop-opacity="0.52" />
						<stop offset="0.7" stop-color="#37a9c2" stop-opacity="0.33" />
						<stop offset="1" stop-color="#12c4a5" stop-opacity="0.2" />
					</linearGradient>
					<linearGradient id="linear-gradient-3" x1="72.96" y1="546.92" x2="1860.45" y2="-258.47"
						gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#0bc411" stop-opacity="0.2" />
						<stop offset="0.13" stop-color="#10c31e" stop-opacity="0.22" />
						<stop offset="0.33" stop-color="#1fbe43" stop-opacity="0.28" />
						<stop offset="0.57" stop-color="#37b87f" stop-opacity="0.39" />
						<stop offset="0.86" stop-color="#58afd1" stop-opacity="0.52" />
						<stop offset="1" stop-color="#6aaafd" stop-opacity="0.6" />
					</linearGradient>
					<linearGradient id="linear-gradient-4" x1="73.27" y1="547.64" x2="1861.42" y2="-258.05"
						gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#082148" />
						<stop offset="1" stop-color="#0c3d66" />
					</linearGradient>
				</defs>
				<title>all - SML</title>
				<path class="wave1"
					d="M0,123.16S169.46,43,366.25,42.16c185.48-.82,417.38,76.7,562.23,76.7,157.3,0,349.63-67.31,522.72-67.31,225.39,0,468.8,90.12,468.8,90.12V270.38H0Z" />
				<path class="wave2"
					d="M0,19.51s193.2,68.3,390,67.43C575.46,86.12,777.31,35.5,922.16,35.5c157.3,0,355.95,42.83,529,42.83,225.39,0,468.8-71.48,468.8-71.48V270.33L0,270.38Z" />
				<path class="wave3"
					d="M0,24.14S193.2,99.56,390,98.69c185.47-.82,387.32-57.34,532.17-57.34,157.3,0,355.95,46.18,529,46.18,225.39,0,468.8-75,468.8-75V270.36l-1920,0Z" />
				<path class="wave4"
					d="M0,25.83s193.2,90.82,390,89.84c185.47-.92,387.32-59,532.17-59,157.3,0,355.95,49.32,529,49.32,225.39,0,468.8-95.12,468.8-95.12V270.38H0Z" />
			</svg>

		</div>
	</div>
	<div class="section tropical-paradise" data-anchor="gioithieu" id="section1" ng-style="{'background':'url(' + section.section2.background + ')', 'background-size': 'cover'}">
		<div class="container">
			<div class="wrapper-tropical-paradise">
				<div class="left-tropical-paradise">
					<div class="heading-tropical-paradise">
						<h3 class="title">
							<img ng-src="{{section.section2.Title}}" alt="" class="img-res">
						</h3>
					</div>
					<div class="text-group-tropical-paradise">
						<div class="description-tropical-paradise" ng-bind-html="section.section2.Content">
							
						</div>
					</div>
				</div>
				<div class="right-tropical-paradise">
					<img ng-src="{{section.section2.Image}}" alt="img"
						class="content-img">
				</div>
			</div>
		</div>
	</div>
	<div class="section home-vitri" data-anchor="vitri" id="section2" ng-style="{'background':'url(' + section.section3.background + ')', 'background-size': 'cover'}">
		<h2 class="title-vitri-mobile" ng-bind="section.section3.Title"></h2>
		<div class="map-customize">
			<!-- <div class="dot-ani Phone is-animating"></div>
				                         
            </div> -->
			<img ng-src="{{section.section3.Image}}" alt="" />   
			<div class="dot-ani Phone is-animating"></div> 
			<img class="map-logo" src="assets/clients/imgs/logo-map.svg" alt="" />  
		</div>
		<div class="content">
			<h2 class="title-vitri" ng-bind="section.section3.Title"></h2>
			<p ng-bind-html="section.section3.Content"></p>

			<div class="group-box">
				<div class="item" ng-repeat="item in section.section3_TQ track by $index">
					<div class="left">
						<div class="position">
							<h3 ng-bind="item.fromPlace"></h3>
							<img src="assets/clients/svg/arrow-right.svg" alt="">
							<h3 ng-bind="item.toPlace"></h3>
						</div>
						<p class="away" ng-bind="item.detailPlace"></p>
					</div>
					<div class="divider"></div>
					<div class="right">
						<h3 ng-bind="item.time">180</h3>
						<span class="time">phút</span>
					</div>
				</div>
			</div>

			<div class="group-address">
				<div class="header-address">
					<h3>TỪ SUMMERLAND ĐẾN</h3>
					<div class="home-vitri-scroll-to">
						<div class="home-vitri-box-scroll-to">
							<div class="chevron"></div>
							<div class="chevron"></div>
							<div class="chevron"></div>
							<div class="chevron"></div>
						</div>
					</div>
					
				</div>

				<div class="content-address">
					<div class="item" ng-repeat="item in section.section3_DT track by $index">
						<img src="assets/clients/svg/arrow-right-white.svg" alt="">
						<p ng-bind="item.name"></p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="section overall-type" data-anchor="loaihinhsanpham" id="section3" style="background:url(./assets/clients/imgs/overall-type/bg4.jpg); background-size: cover;">
		<div class="container overall-wrapper">
			<h2 class="title-overall">LOẠI HÌNH SẢN PHẨM</h2>
			<div class="box-image">
				<div class="box-item" id="box-item-first">
					<div class="overcall-box-header">
						<img src="assets/clients/imgs/overall-type/biet-thu-nha-pho.jpg" alt="">
						<div class="overlay"></div>
						<a class="button-detail" href="biet-thu"> Xem chi tiết</a>
					</div>
					<h3>BIỆT THỰ/NHÀ PHỐ</h3>
				</div>
				<div class="box-item" id="box-item-last">
					<div class="overcall-box-header">
						<img src="assets/clients/imgs/overall-type/can-ho-dich-vu.jpg" alt="">
						<div class="overlay"></div>
						<a class="button-detail" ng-href="#">Sắp ra mắt</a>
					</div>
					<h3>CĂN HỘ DỊCH VỤ</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="section home-tienich" data-anchor="tienich" id="section4" ng-style="{'background':'url(' + section.section4.background + ')', 'background-size': 'cover'}">
		<div class="container" ng-if="dataLoaded && dataLoadedNews && dataLoadedSlide" ng-click="onChangeDisable()">
			<div class="home-tabs">
				<div class="tabs-left">
					<h2 class="heading-tabs" ng-bind="section.section4.title" ng-click="onChangeDisable()"></h2>
					<ul id="tabs-nav">
						<li ng-repeat="item in section.section4_CATESLIDE track by $index" data-name="{{$index}}" ng-click="onChangeDisable()"><a href="{{'#tab' + item.CatID}}" ng-bind="item.CatName"></a></li>
					</ul>
				</div>
				<div class="tabs-right" ng-if="dataLoaded && dataLoadedNews && dataLoadedSlide">
					<div id="tabs-content">
						<div ng-if="dataLoaded && dataLoadedNews && dataLoadedSlide" ng-repeat="item in itemAs track by $index" class="tab-content" id="{{item.tab}}">
							<div class="slide-tienich" ng-click="onChangeDisable()">
								<div class="slide-img" ng-repeat="items in item.list track by $index">
									<img ng-src="{{items.Image}}" alt="" class="img-res" ng-hide="!dataLoaded" ng-click="onChangeDisable()">
									<div class="tienich-text" ng-bind="items.Title"></div>
								</div>
							</div>
							<div class="thumb-tienich" ng-click="onChangeDisable()">
								<div class="slide-img" ng-repeat="items in item.list track by $index">
									<img ng-src="{{items.Image}}" alt="" class="img-res" ng-click="onChangeDisable()">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section home-connect" data-anchor="loiichdautu" id="section7" ng-style="{'background':'url(assets/clients/imgs/loiich/bg-loiich.jpg)', 'background-size': 'cover'}">
		<div class="container">
			<div class="heading-bg">
				<img src="assets/clients/imgs/title.png" alt="" class="img-res">
			</div>
			<div class="heading">
				<h2 class="heading-connect" ng-bind="section.section7.title"></h2>
			</div>
			<div class="loiich-wrapper">
				<div class="item-loiich-1 item-loiich" >
					<div class="item-circle">
						<img src="{{tempsdata[0].icon}}" alt="" class="img-res" ng-click="onClickLoiIch(0)">
					</div>
					<div class="title-loiich">
						<div class="text1" ng-bind="tempsdata[0].title_1">
						</div>
						<div class="text2" ng-bind="tempsdata[0].title_2">
						</div>
					</div>
				</div>
				<div class="item-loiich-2 item-loiich" >
					<div class="item-circle">
						<img src="{{tempsdata[1].icon}}" alt="" class="img-res" ng-click="onClickLoiIch(1)">
					</div>
					<div  class="title-loiich">
						<div class="text1" ng-bind="tempsdata[1].title_1">
						</div>
						<div class="text2" ng-bind="tempsdata[1].title_2">
						</div>
					</div>
				</div>
				<div class="item-loiich-3 item-loiich" >
					<div class="item-circle">
						<img src="{{tempsdata[2].icon}}" alt="" class="img-res" ng-click="onClickLoiIch(2)">
					</div>
					<div class="title-loiich3" ng-bind="tempsdata[2].title"></div>
				</div>
				<div class="item-loiich-4 item-loiich" >
					<div class="item-circle">
						<img src="{{tempsdata[3].icon}}" alt="" class="img-res" ng-click="onClickLoiIch(3)">
					</div>
					<div  class="title-loiich">
						<div class="text1" ng-bind="tempsdata[3].title_1">
						</div>
						<div class="text2" ng-bind="tempsdata[3].title_2">
						</div>
					</div>
				</div>
				<div class="item-loiich-5 item-loiich" >
					<div class="item-circle">
						<img src="{{tempsdata[4].icon}}" alt="" class="img-res" ng-click="onClickLoiIch(4)">
					</div>
					<div  class="title-loiich">
						<div class="text1" ng-bind="tempsdata[4].title_1">
						</div>
						<div class="text2" ng-bind="tempsdata[4].title_2">
						</div>
					</div>
				</div>
			</div>
			
			<div class="item-loiich-center">
				<div class="title-loiich-mobile" ng-bind="tempsdata[2].title"></div>
				<div class="item-loiich-road">
					<img src="assets/clients/imgs/loiich/space-line.svg" alt="">
				</div>
				<div class="item-content-loi-ich" ng-bind="tempsdata[2].content"></div>
			</div>
		</div>
	</div>

	<div class="section page-news" data-anchor="tintucduan" id="section6" ng-style="{'background':'url(' + section.section6_tq.background + ')', 'background-size': 'cover'}">
		<h1 class="heading-page-news">Tin tức dự án</h1>
		<div class="news-list mask-content">
			<div class="scroll">
				<div class="grid-news" id="scrollnews" ng-if="dataLoaded && dataLoadedNews && dataLoadedSlide">
					<div class="link-news" ng-repeat="item in section.section6 track by $index">
						<div class="box-news" ng-click="mydetail(item)">
							<div ng-if="$index == 0 || $index == 1" class="new-icon"></div>
							<div class="pic-thumb">
								<img ng-src="{{item.Image}}" alt="{{item.Image}}" class="img-res">
							</div>
							<div class="date-thumb" ng-bind-html="item.date_month_html"></div>
							<div class="head-text">
								<a ng-click="mydetail(item)" class="popup-with-zoom-anim"><h3 ng-bind="item.ArtName"></h3></a>
								<a class="go-news" ng-click="mydetail(item)" class="popup-with-zoom-anim">chi tiết</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scroll-left"></div>
			<div class="scroll-right"></div>
		</div> 
	</div>
	
	<div class="section home-project-outline" data-anchor="tiendoduan" id="section8" ng-style="{'background':'url(' + section.section8.background + ')', 'background-size': 'cover'}">
		<h2 class="title-project-outline" ng-bind="section.section8.title"></h2>

		<div class="thumb-project-outline" ng-if="dataLoaded && dataLoadedNews && dataLoadedSlide">
			<div class="thumb-project-slide-item" ng-repeat="page_date in section.section8_SLIDE track by $index">
				<div class="subtitle-project-outline">
					<h3>Tháng {{page_date.date}}</h3>
				</div>
				<div class="grid-image-project-ouline">
					<a ng-repeat="image in page_date.images_urls track by $index" class="slide-img-project-outline fancybox-thumb" data-fancybox="images"
						href="{{image.Image}}" title="{{image.CatName}}">
						<img src="{{image.Image}}" class="img-project-outline" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section home-footer" data-anchor="lienhe" id="section9" ng-style="{'background':'url(' + section.sectionFooter.background + ')', 'background-size': 'cover'}">
		<div class="footer-wrapper">
			<div class="footer-left">
				<img class="logo-footer" src="assets/clients/imgs/footer/logo.png" alt="">
				<div class="content-wrapper">
					<div class="content-left">
						<span class="title-left">CHỦ ĐẦU TƯ</span>
						<img src="assets/clients/imgs/footer/chu-dau-tu.png" alt="">
					</div>
                  <div class="content-center">
						<span class="title-center">TỔNG ĐẠI LÝ PHÂN PHỐI</span>
						<img src="assets/clients/imgs/footer/HPL.png" alt="">
					</div>
					<div class="content-right">
						<span class="title-right">ĐỐI TÁC DỰ ÁN</span>
						<div class="partner">
							<div class="image-partner" ng-repeat="items in section.section9_list track by $index">
								<img ng-src="{{items.icon}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-right">
				<form onSubmit="return" id="register" name="register" method="post">
					<div class="form-register">
						<h3 class="title">Đăng ký nhận <br> thông tin dự án</h3>
						<h3 class="title-mobile">Đăng ký <br/>nhận thông tin dự án</h3>
						<div class="input-text">
							<span class="holder">Họ và Tên (*)</span>
							<input class="o2o-name" id="nameregister" name="nameregister" value="" type="text"
								data-error="Vui lòng nhập tên!" data-default="Họ và Tên (*)" ng-model="mailContactInfo.Name" />
						</div>
						<p class="text-danger" ng-if="checkName" ng-bind="messageName"></p>
						<div class="input-text" ng-class="{ 'has-error' : Form.email.$invalid && Form.email.$touched && Form.email.$error.required }">
							<span class="holder">Email (*)</span>
							<input class="o2o-email" id="emailregister" name="emailregister" value="" type="text" ng-model="mailContactInfo.Email" />
						</div>
						<p class="text-danger" ng-if="checkEmail" ng-bind="messageEmail"></p>
						<div class="input-text">
							<span class="holder">Điện thoại (*)</span>
							<input class="o2o-phone" id="phoneregister" name="phoneregister" value="" type="text"
								data-error="Điện thoại không hợp lệ!" data-default="Điện thoại (*)"
								ng-model="mailContactInfo.Phone" />
						</div>
						<p class="text-danger" ng-if="checkPhone" ng-bind="messagePhone"></p>
						<div class="input-text-message">
							<span class="holder">Lời nhắn:</span>
							<textarea id="o2o-message" name="message" class="o2o-message" rows="4" cols="50" ng-model="mailContactInfo.Content"></textarea>
						</div>
						<div class="button-submit">
							<button class="but" class="o20-button-submit" id="btn-register-submit" ng-click="sendCustomerInfo()">Gửi thông
								tin</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="info-footer">
			<div>Thông tin, hình ảnh các tiện ích trong website này chỉ mang tính chất tương đối và có thể được điều
				chỉnh theo quyết định của Chủ đầu tư tại từng thời điểm đảm bảo phù hợp quy hoạch và thực tế thi
				công
				của Dự án. Các thông tin, cam kết chính thức sẽ được quy định cụ thể tại Hợp đồng mua bán. Việc quản
				lý,
				vận hành và kinh doanh dự án sẽ theo quy định của Ban Quản Lý.</div>
			<div class="brochure" ng-click="downloadfile()">
				<img src="assets/clients/imgs/footer/brochure.png" alt="">
				<p class="brochure-text">Tải brochure dự án</p>
			</div>
		</div>
	</div>
</div>
    <!-- let's call the following div as the POPUP FRAME -->
    <div id="popup" class="popup panel panel-primary" style="background-image: url('assets/clients/imgs/banner.jpg'); background-size: cover;
    max-width: 100%;
    max-height: 100%; background-position: center; padding: 15px;">
		<a class="boxclose" id="boxclose"></a>
    </div>

<script>
	$('.cls-3').hover(function () {
    	$('.number-img-2').toggleClass('active-map')
	})
	$('.cls-2').hover(function () {
		$('.number-img-1').toggleClass('active-map')
	})
	$('.cls-4').hover(function () {
		$('.number-img-3').toggleClass('active-map')
	})

	$(document).ready(function () {
    //select the POPUP FRAME and show it
		$("#popup").hide().fadeIn(10000);

		//close the POPUP if the button with id="close" is clicked
		$(".boxclose").on("click", function (e) {
			e.preventDefault();
			$("#popup").hide();
		});
	});
</script>

<script ng-if="dataLoaded && dataLoadedNews && dataLoadedSlide && dataLoadedSlideLI">
	function reload_js(src) {
		$('script[src="' + src + '"]').remove();
		$('<script>').attr('type', 'text/javascript').attr('src', src).appendTo('#loadscript');
	}

	setTimeout(() => {
		reload_js('assets/clients/js/animations.js');
	},0)
</script>