<div ng-controller="assignmentCtrl">
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <form role="form" name="Form" ng-submit="submitForm()" novalidate>
                <fieldset>
                    <div class="col-lg-6">
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Chọn khu vực và bưu tá</h5>                                
                                </div>
                                <div class="ibox-content">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="form-group" ng-class="{'has-error': Form.billCustomId.$invalid && Form.billCustomId.$touched && Form.billCustomId.$error.required}">
                                                <label>Chọn khu vực <span class="text-danger">&nbsp;(*)</span></label>
                                                <autocomplete ng-model="selectedProvince.prov_name" data="movies" on-type="updateMovies"></autocomplete>
                                                <button type="submit" class="btn btn-primary" ng-click="loadData()">Chọn khu vực</button>
                                                <p class="{{notice.class}}" ng-bind="notice.message"></p>
                                            </div>
                                            <div class="form-group" append-source>
                                                <label>Chọn bưu tá <span class="text-danger">&nbsp;(*)</span></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div id="editable_length" class="dataTables_length">
                                                    <label>
                                                        <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage_postman">
                                                            <option value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="15">15</option>
                                                            <option value="20">20</option>
                                                        </select>
                                                    </label>
                                                    dòng trên mỗi trang
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Tìm kiếm tên bưu tá" class="input-sm form-control" ng-model="searchText_postman" /> <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>  
                                                        <th class="center">Chọn (Sử dụng Mã vạch)</th> 
                                                        <th class="center">Phân công</th>
                                                        <th class="center">Mã bưu tá</th>
                                                        <th class="center">Tên</th>
                                                        <th class="center">Email</th>
                                                        <th class="center">Mã tỉnh</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="item in postman | filter:searchText_postman | itemsPerPage: numberPage_postman" pagination-id="filterUser">
                                                        <td class="center">
                                                            <label for="item-{{item.UserID}}">       
                                                                 <input id="item-{{item.UserID}}" type="checkbox" name="check-item" checklist-model="listToChoose.listUserIds" checklist-value="item.UserID" ng-click="toggleOne(item)" >
                                                            </label>
                                                        </td>
                                                        <td class="center">
                                                            <button ng-if="!checkExistsList" class="btn btn-info padding-2" disabled><span class="fa fa-edit"> Phân công</span></button>
                                                            <button ng-if="checkExistsList" class="btn btn-info padding-2" data-toggle="modal" data-target="#myModal" ng-click="assignPost(item.UserID)"><span class="fa fa-edit"> Phân công</span></button>
                                                        </td>
                                                        <td class="center" ng-bind="item.UserID"></td> 
                                                        <td class="center" ng-bind="item.UserName"></td> 
                                                        <td class="center" ng-bind="item.Email"></td>                                        
                                                        <td class="center" ng-bind="item.prov_id"></td>
                                                    </tr>
                                                </tbody>
                                            </table>                            
                                        </div>
                                        <div class="row line-top">                        
                                            <dir-pagination-controls class="right" pagination-id="filterUser" max-size="numOfPage_postman" boundary-links="true"></dir-pagination-controls>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div id="editable_length" class="dataTables_length">
                                                    <label>
                                                        <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage_assign">
                                                            <option value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="15">15</option>
                                                            <option value="20">20</option>
                                                        </select>
                                                    </label>
                                                    dòng trên mỗi trang
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-group m-b col-md-8">
                                                    <input type="text" class="card-checkin form-control" placeholder="Mã vạch" my-enter="onEnterCode()" ng-model="billCustomId" autofocus="">
                                                </div>
                                            </div>  
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText_assign" /> <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="center">
                                                            <label for="item-all">       
                                                                <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="checkAll()">
                                                           </label>
                                                        </th>
                                                        <th class="center">Mã vận đơn</th>
                                                        <th class="center">Ngày tạo đơn</th>
                                                        <th class="center">Nơi đi</th>
                                                        <th class="center">Nơi đến</th>
                                                        <th class="center">Trọng lượng</th>
                                                        <th class="center">Tổng cước</th>
                                                        <th class="center">Trạng thái</th>
                                                        <th class="center">Chức năng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="item in assign | filter:searchText | itemsPerPage: numberPage_assign track by $index" pagination-id="filterOrder">
                                                        <td class="center">
                                                            <label for="item-{{item.billId}}">       
                                                                 <input id="item-{{item.billId}}" type="checkbox" name="check-item" checklist-model="listToChoose.listBillIds" checklist-value="item.billId" ng-click="toggleAll(item)" >
                                                            </label>
                                                        </td>
                                                        <td class="center" ng-bind="item.billCustomId"></td>   
                                                        <td class="center" ng-bind="item.createdDate"></td>
                                                        <td class="center" ng-bind="item.provinceFrom"></td>
                                                        <td class="center" ng-bind="item.provinceTo"></td>
                                                        <td class="center" ng-bind="item.weight"></td>
                                                        <td class="center" ng-bind="item.totalPrice | number"></td>
                                                        <td ng-dblclick="appendSelectStatus(item.billId)" id="status-{{item.billId}}">
                                                            <span ng-if="item.status === '2'" class="label label-success">Phát thành công</span>
                                                            <span ng-if="item.status === '1'" class="label label-primary">Đang vận chuyển</span>
                                                            <span ng-if="item.status === '0'" class="label label-warning">Đang đóng gói</span>
                                                            <span ng-if="item.status === '-1'" class="label label-danger">Đã hủy đơn hàng</span>
                                                            <span ng-if="item.status === '3'" class="label label-danger">Tồn - Thông báo chuyển hoàn</span>
                                                            <span ng-if="item.status === '4'" class="label label-warning">Hoàn thành công - Chuyển trả người gửi</span>
                                                        </td>
                                                        <td class="center">
                                                            <button class="btn btn-info fa fa-edit padding-2" ng-click="edit(item)"></button>
                                                            <button class="btn btn-danger fa fa-trash padding-2" data-toggle="modal" data-target="#delAlert" ng-click="detail(item)"></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>                            
                                        </div>
                                        <div class="row line-top">                        
                                            <dir-pagination-controls class="right" pagination-id="filterOrder" max-size="numOfPage_assign" boundary-links="true"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-md-12">  
                            <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">                                           
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Danh sách phân công</h5>    
                                                                   
                                    </div>
                                    <div class="ibox-content">
                                        <div class="panel-body">
                                            <div class="col-md-3">
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Ngày phân công</label>
                                                    <div class="dropdown width">
                                                        <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                            <div class="input-group">
                                                                <input type="datetime" class="form-control input-sm" name="postOn" ng-model="dateAssign" />
                                                                <span class="input-group-btn">
                                                                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-calendar"></i></button> </span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="dateAssign" data-datetimepicker-config="{ dropdownSelector: '#dLabel', minView: 'day',modelType: 'YYYY-MM-DD'}" ng-change="selectDate(dateAssign)"></datetimepicker>
                                                        </ul>
                                                    </div>                                             
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div id="editable_length" class="dataTables_length">
                                                        <label>
                                                            <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage_postman">
                                                                <option value="5">5</option>
                                                                <option value="10">10</option>
                                                                <option value="15">15</option>
                                                                <option value="20">20</option>
                                                            </select>
                                                        </label>
                                                        dòng trên mỗi trang
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group">
                                                        <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText_postman" /> <span class="input-group-btn">
                                                        <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>  
                                                            <th class="center">Mã vận đơn</th>                                
                                                            <th class="center">Trạng thái</th>
                                                            <th class="center">Thời gian </th>
                                                            <th class="center">Chức năng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="item in assign_list | filter:searchText_postman | itemsPerPage: numberPage_postman" pagination-id="filterUser">
                                                            <td class="center" ng-bind="item.billCustomId"></td> 
                                                            <td class="center">
                                                                <span ng-if="item.status_assign === '2'" class="label label-success">Đã gửi phân công</span>
                                                                <span ng-if="item.status_assign === '1'" class="label label-primary">Chờ gửi phân công</span>
                                                            </td>
                                                            <td class="center" ng-bind="item.assignDate"></td>
                                                            <td class="center">
                                                                <button class="btn btn-danger fa fa-trash padding-2" data-toggle="modal" data-target="#delAlertAssign" ng-click="detail(item)"></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>                            
                                            </div>
                                            <div class="row line-top">                        
                                                <dir-pagination-controls class="right" pagination-id="filterUser" max-size="numOfPage_postman" boundary-links="true"></dir-pagination-controls>
                                            </div>
                                            <div class="modal-footer no-border">
                                                <button type="button" class="btn btn-primary" ng-click="onSendApprove()">Hoàn thành</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>                                  
                            </div>                       
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlertAssign" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Hủy phân công</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn hủy phân công?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="del()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

