<div ng-controller="customerCtrl">
    <!-- <div class="row">
        <div class="col-md-4">
            <div id="nestable-menu">                
                <button id="tab-{{lang.Code}}" ng-repeat="lang in $root.languages track by $index" type="button" class="btn btn-white btn-sm active" ng-click="event.selectLang(lang.Code, lang.ID)" ng-if="lang.ID !== 0 && lang.Status !== '0' && lang.Code === filterLang">
                    <span ng-bind="lang.Name"></span>
                </button> 
                <button id="tab-{{lang.Code}}" ng-repeat="lang in $root.languages track by $index" type="button" class="btn btn-white btn-sm" ng-click="event.selectLang(lang.Code, lang.ID)" ng-if="lang.ID !== 0 && lang.Status !== '0' && lang.Code !== filterLang">
                    <span ng-bind="lang.Name"></span>
                </button>                
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-4">
            <div class="wrapper wrapper-content animated fadeInLeft">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Thêm khách hàng</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="panel-body">
                            <form role="form" name="addForm" ng-submit="event.submitForm(false)" novalidate>
                                <fieldset>
                                    <div class="form-group">
                                        <label>Hình ảnh</label>
                                        <div class="clearfix"></div>
                                        <img id="img" class="img-review" ng-src="{{newCustomer.Image}}" alt="">
                                        <div class="modal-footer no-border">
                                            <button type="button" class="btn btn-primary" ng-click="event.browserImg(false)">Browser</button> 
                                        </div> 
                                    </div> 
                                    <div class="form-group" ng-class="{'has-error': addForm.Name.$invalid && addForm.Name.$touched && addForm.Name.$error.required}">
                                        <label>Tên<span class="text-danger">&nbsp;(*)</span></label>
                                        <input class="form-control" placeholder="Tên khách hàng" name="Name" type="text" ng-model="newCustomer.Name" required ng-blur="event.getAliasForCate(false)" />
                                        <p ng-show="addForm.Name.$invalid && addForm.Name.$touched && addForm.Name.$error.required" class="text-danger">Vui lòng nhập tên.</p>
                                    </div> 
                                    <div class="form-group">
                                        <label>Công ty</label>
                                        <input class="form-control" placeholder="Tên công ty" name="companyName" type="text" ng-model="newCustomer.companyName" />
                                    </div>  
                                    <label class="col-md-12">Mã quận<span class="text-danger">&nbsp;(*)</span></label>
                                    <div class="form-group col-md-4" ng-class="{'has-error': Form.district.$invalid && Form.district.$touched && Form.district.$error.required}">                                                
                                        <input class="form-control uppercase" placeholder="Mã quận" name="district" type="text" ng-model="newCustomer.district" my-enter="getDistrictNewCustomerById(newCustomer.district)" ng-blur="getDistrictNewCustomerById(newCustomer.district);" required />                                                    
                                        <p ng-show="Form.district.$invalid && Form.district.$touched && Form.district.$error.required" class="text-danger">Vui lòng nhập tỉnh đi.</p>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input class="form-control uppercase" placeholder="Quận/ huyện" name="districtDetail" type="text" ng-model="newCustomer.districtDetail" />
                                    </div>  
                                    <div class="form-group">
                                        <label>Tỉnh</label>
                                        <input class="form-control" placeholder="Tỉnh" name="province" type="text" ng-model="newCustomer.province" readonly />                                                                                                                                                                
                                    </div>                  
                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input class="form-control" placeholder="Địa chỉ của khách hàng" name="Address" type="text" ng-model="newCustomer.Address" />                                        
                                    </div>
                                    <div class="form-group">
                                        <label>Điện thoại</label>
                                        <input class="form-control" placeholder="Điện thoại của khách hàng" name="Comment" type="text" ng-model="newCustomer.Phone" />                                        
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" placeholder="Email của khách hàng" name="Comment" type="text" ng-model="newCustomer.Email" />                                        
                                    </div>  
                                    <div class="form-group">
                                        <label>Ghi chú</label>
                                        <textarea class="form-control" placeholder="Ghi chú" name="Comment" rows="3" ng-model="newCustomer.Estimate">
                                        </textarea>                                        
                                    </div>
                                    <!-- <div class="form-group" ng-class="{'has-error': addForm.lang.$invalid && addForm.lang.$touched && addForm.lang.$error.required }">
                                        <label>Ngôn ngữ<span class="text-danger">&nbsp;(*)</span></label>
                                        <div class="selectContainer width">
                                            <select id="cbLanguage" class="form-control ui search dropdown" name="lang" ng-model="newCustomer.Language" required ng-change="event.getAliasForCate(false)">
                                                <option style="display:none" value="">--Chọn ngôn ngữ--</option>
                                                <option ng-repeat="item in $root.languages track by $index" ng-if="item.ID !== 0 && item.Status !== '0'" value="{{item.Code}}">{{item.Name}}</option>
                                            </select>
                                        </div>
                                        <p ng-show="addForm.lang.$invalid && addForm.lang.$touched && addForm.lang.$error.required" class="text-danger">Vui lòng chọn ngôn ngữ.</p>
                                    </div>                                                                       -->
                                    <div class="modal-footer no-border">
                                        <button type="submit" class="btn btn-primary" ng-disabled="addForm.$invalid">Thêm khách hàng</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Danh sách khách hàng</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div id="editable_length" class="dataTables_length">
                                        <label>
                                            <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                        </label>
                                        dòng trên mỗi trang
                                    </div>
                                </div>                                
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                <label for="item-all">       
                                                     <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="event.checkAll()">
                                                </label>
                                                <button class="btn btn-danger fa fa-trash padding" data-toggle="modal" data-target="#delAllAlert"></button>
                                            </th>
                                            <th class="center">Mã</th>
                                            <th class="center">Tên</th>
                                            <th class="center">Công ty</th>
                                            <th class="center">Địa chỉ</th>                                            
                                            <th class="center">Điện thoại</th> 
                                            <th class="center">Email</th>
                                            <th class="center">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="item in $root.customerList | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterCustomer">
                                            <td class="center">
                                                <label for="item-{{item.ID}}">       
                                                     <input id="item-{{item.ID}}" type="checkbox" name="check-item" checklist-model="listToDelete" checklist-value="item.ID">
                                                </label>
                                            </td>
                                            <td class="center" ng-bind="item.ID"></td>
                                            <td class="center" ng-bind="item.Name"></td>
                                            <td class="center" ng-bind="item.companyName"></td>
                                            <td class="center" ng-bind="item.Address"></td>     
                                            <td class="center" ng-bind="item.Phone"></td>
                                            <td class="center" ng-bind="item.Email"></td>
                                            <td class="center">
                                                <button class="btn btn-info fa fa-edit padding-2" data-toggle="modal" data-target="#myModal" ng-click="event.edit(item)"></button>
                                                <button class="btn btn-danger fa fa-trash padding-2" data-toggle="modal" data-target="#delAlert" ng-click="event.getItem(item)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row line-top">
                                <dir-pagination-controls class="right" pagination-id="filterCustomer" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal inmodal in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
                <form role="form" name="Form" ng-submit="event.submitForm(true)" novalidate>
                    <fieldset>
                        <div class="modal-header">
                            <i class="fa fa-briefcase modal-icon"></i>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Sửa khách hàng</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Hình ảnh</label>
                                <div class="clearfix"></div>
                                <img id="img-update" class="img-review" ng-src="{{selectedCustomer.Image}}" alt="">
                                <div class="modal-footer no-border">
                                    <button type="button" class="btn btn-primary" ng-click="event.browserImg(true)">Browser</button> 
                                </div> 
                            </div> 
                            <div class="form-group" ng-class="{'has-error': addForm.Name.$invalid && addForm.Name.$touched && addForm.Name.$error.required}">
                                <label>Tên<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tên khách hàng" name="Name" type="text" ng-model="selectedCustomer.Name" required ng-blur="event.getAliasForCate(false)" />
                                <p ng-show="addForm.Name.$invalid && addForm.Name.$touched && addForm.Name.$error.required" class="text-danger">Vui lòng nhập tên.</p>
                            </div>   
                            <div class="form-group">
                                <label>Công ty</label>
                                <input class="form-control" placeholder="Tên công ty" name="companyName" type="text" ng-model="selectedCustomer.companyName" />
                            </div>    
                            <label class="col-md-12">Mã quận<span class="text-danger">&nbsp;(*)</span></label>
                            <div class="form-group col-md-4" ng-class="{'has-error': Form.district.$invalid && Form.district.$touched && Form.district.$error.required}">                                                
                                <input class="form-control uppercase" placeholder="Mã quận" name="district" type="text" ng-model="selectedCustomer.district" my-enter="getDistrictCustomerById(selectedCustomer.district)" ng-blur="getDistrictCustomerById(selectedCustomer.district);" required />                                                    
                                <p ng-show="Form.district.$invalid && Form.district.$touched && Form.district.$error.required" class="text-danger">Vui lòng nhập tỉnh đi.</p>
                            </div>
                            <div class="form-group col-md-8">
                                <input class="form-control uppercase" placeholder="Quận/ huyện" name="districtDetail" type="text" ng-model="selectedCustomer.districtDetail" />
                            </div>
                            <div class="form-group">
                                <label>Tỉnh</label>
                                <input class="form-control" placeholder="Tỉnh" name="province" type="text" ng-model="selectedCustomer.province" readonly />                                                                                                                                                                
                            </div>                              
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input class="form-control" placeholder="Địa chỉ của khách hàng" name="Address" type="text" ng-model="selectedCustomer.Address" />                                        
                            </div>
                            <div class="form-group">
                                <label>Điện thoại</label>
                                <input class="form-control" placeholder="Điện thoại của khách hàng" name="Comment" type="text" ng-model="selectedCustomer.Phone" />                                        
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email của khách hàng" name="Comment" type="text" ng-model="selectedCustomer.Email" />                                        
                            </div>  
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <textarea class="form-control" placeholder="Ghi chú" name="Comment" rows="3" ng-model="selectedCustomer.Estimate">
                                </textarea>                                        
                            </div>
                            <!-- <div class="form-group" ng-class="{'has-error': addForm.lang.$invalid && addForm.lang.$touched && addForm.lang.$error.required }">
                                <label>Ngôn ngữ<span class="text-danger">&nbsp;(*)</span></label>
                                <div class="selectContainer width">
                                    <select id="cbLanguage" class="form-control ui search dropdown" name="lang" ng-model="selectedCustomer.Language" required ng-change="event.getAliasForCate(false)">
                                        <option style="display:none" value="">--Chọn ngôn ngữ--</option>
                                        <option ng-repeat="item in $root.languages track by $index" ng-if="item.ID !== 0 && item.Status !== '0'" value="{{item.Code}}">{{item.Name}}</option>
                                    </select>
                                </div>
                                <p ng-show="addForm.lang.$invalid && addForm.lang.$touched && addForm.lang.$error.required" class="text-danger">Vui lòng chọn ngôn ngữ.</p>
                            </div>   -->
                        </div>
                        <div class="modal-footer no-border">
                            <p class="{{notice.class}}" ng-bind="notice.message"></p>                            
                            <button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Lưu</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa Danh mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="event.del()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa nhiều mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa những mục đã chọn?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="event.delAllItem()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
</div>