<div class="wrapper wrapper-content" ng-controller="dashboardCtrl">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Liên hệ</h5>
                </div>
                <div class="ibox-content">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-envelope-o fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Thư điện tử </span>
                                <h2 class="font-bold" ng-bind="$root.dashboard[0].Number"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Bài viết</h5>
                </div>
                <div class="ibox-content">
                    <div class="widget style1 red-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-edit fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Số bài viết </span>
                                <h2 class="font-bold" ng-bind="($root.dashboard[1].Number === null)? 0:$root.dashboard[1].Number"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>