<!DOCTYPE html>
<html>
 
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | B.A.T</title>
    <base href="<?php echo base_url();?>" />
    <link href="assets/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="assets/admin/css/animate.css" rel="stylesheet">
    <link href="assets/admin/css/style.css" rel="stylesheet">
    <link href="assets/admin/css/myStyles.css" rel="stylesheet">
    <style>
        .logo {
            max-width: 300px;
        }
    </style>
</head>

<body class="gray-bg" ng-controller="loginCtrl">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <!-- <img class="logo" src="assets/includes/upload/images/logo/logo.png" /> -->
            </div>
                      
            <p>Đăng nhập vào hệ thống.</p>            
            <form class="m-t" name="userForm" role="form" ng-submit="event.submitForm()">
               <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : userForm.Account.$invalid && !userForm.Account.$pristine }">
                    <input type="text" class="form-control" name="Account" placeholder="Nhập Account" ng-model="form.Account" autofocus required />
                    <p ng-show="userForm.Account.$invalid && userForm.Account.$touched && userForm.Account.$error.required" class="text-danger">Vui lòng nhập email hoặc Account.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$touched && userForm.password.$error.required }">
                    <input id="pwd" type="password" class="form-control" name="password" placeholder="Password" ng-minlength="3" required />
                    <p ng-show="userForm.password.$invalid && userForm.password.$touched && userForm.password.$error.required" class="text-danger">Vui lòng nhập password.</p>
                    <p ng-show="userForm.password.$error.minlength" class="text-danger">Password quá ngắn.</p>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="userForm.$invalid">Đăng nhập</button>

                <input type="checkbox" name="remember" value="" ng-model="form.isRemember" /> Ghi nhớ?
                </fieldset>                  
            </form>            
            <p class="m-t"> <small>Copyright VPSolutions &copy; 2020</small> </p>
        </div>
    </div>
    <flash-message>
        <div class="my-flash"></div>
    </flash-message>

    <!-- Mainly scripts -->
    <script src="assets/admin/js/jquery-2.1.1.js"></script>
<!--    <script language="javascript" src="assets/includes/ckeditor/ckeditor.js" type="text/javascript"></script>-->
    <!-- AngularJS -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <script src="assets/js/angular-sanitize.min.js"></script>
    <script src="assets/js/angular-md5.js"></script>    
    <script src="assets/js/angular-pagination.js"></script>
    <script src="assets/js/angular-ckeditor.min.js"></script>        
    <script src="assets/js/angular-flash.min.js"></script>
    <script src="assets/js/datetimepicker.js"></script>
    <script src="assets/js/checklist-model.js"></script>
    <script src="assets/js/angular-map.min.js"></script>   
    <script src="assets/admin/js/bootstrap.min.js"></script>
    <script src="assets/admin/js/plugins/alasql-develop-includes-excel/alasql.min.js"></script>
    <script src="assets/admin/js/plugins/alasql-develop-includes-excel/xlsx.core.min.js"></script>
    <script src="assets/admin/js/plugins/js-xlsx-master/shim.min.js"></script>
    <script src="assets/admin/js/plugins/js-xlsx-master/xlsx.full.min.js"></script>

    <script src="assets/js/angular-js-xlsx.js"></script>
    
    <!-- My Scripts --> 
    <script src="assets/scripts/configs/admin/app.js"></script>
    <script src="assets/scripts/configs/admin/config.js"></script>
    <script src="assets/scripts/services/baseService.js"></script>
    <script src="assets/scripts/services/encodingExtensions.js"></script>
    <script src="assets/scripts/controllers/admin/loginCtrl.js"></script>    

</body>

</html>
