<div ng-controller="orderCtrl">    
    <div class="row">        
        <div class="col-md-12">
            <div class="row wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Danh sách đơn hàng</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div id="editable_length" class="dataTables_length">
                                        <label>
                                            <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                        </label>
                                        dòng trên mỗi trang
                                    </div>
                                </div>                                
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                <label for="item-all">       
                                                     <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="checkAll()">
                                                </label>
                                                <button class="btn btn-danger fa fa-trash padding" data-toggle="modal" data-target="#delAllAlert"></button>
                                            </th>
                                            <th class="center">Tên</th>
                                            <th class="center">Điện thoại</th>
                                            <th class="center">Email</th>
                                            <th class="center">Địa chỉ</th>
                                            <th class="center">Ngày đặt hàng</th>
                                            <th class="center">Trạng thái</th>
                                            <th class="center">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="item in LIST_PURCHASE | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterOrder">
                                            <td class="center">
                                                <label for="item-{{item.orderId}}">       
                                                     <input id="item-{{item.orderId}}" type="checkbox" name="check-item" checklist-model="listToDelete" checklist-value="item.orderId">
                                                </label>
                                            </td>
                                            <td class="center" ng-bind="item.fullName"></td>
                                            <td class="center" ng-bind="item.phone"></td>     
                                            <td class="center" ng-bind="item.email"></td>
                                            <td class="center" ng-bind="item.address"></td>
                                            <td class="center" ng-bind="item.createdDate"></td>
                                            <td ng-dblclick="appendSelectStatus(item.orderId)" id="status-{{item.orderId}}">
                                                <span ng-if="item.status === '2'" class="label label-success">Phát thành công</span>
                                                <span ng-if="item.status === '1'" class="label label-primary">Đang vận chuyển</span>
                                                <span ng-if="item.status === '0'" class="label label-warning">Đang đóng gói</span>
                                                <span ng-if="item.status === '-1'" class="label label-danger">Đã hủy đơn hàng</span>
                                                <span ng-if="item.status === '3'" class="label label-danger">Tồn - Thông báo chuyển hoàn</span>
                                                <span ng-if="item.status === '4'" class="label label-warning">Hoàn thành công - Chuyển trả người gửi</span>
                                            </td>
                                            <td class="center">
                                                <button class="btn btn-info fa fa-edit padding-2" data-toggle="modal" data-target="#myModal" ng-click="detail(item)"></button>
                                                <button class="btn btn-danger fa fa-trash padding-2" data-toggle="modal" data-target="#delAlert" ng-click="detail(item)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row line-top">
                                <dir-pagination-controls class="right" pagination-id="filterOrder" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal inmodal in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
                <form role="form" name="Form" novalidate>
                    <fieldset>
                        <div class="modal-header">
                            <i class="fa fa-briefcase modal-icon"></i>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Chi tiết đơn hàng</h4>
                        </div>
                        <div class="modal-body">
                            <h3>Thông tin khách hàng</h3>
                            <legend></legend>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    Họ tên: <label ng-bind="item_purchase.fullName"></label>
                                </div>
                                <div class="col-sm-6">
                                    Điện thoại: <label ng-bind="item_purchase.phone"></label>
                                </div>
                                <div class="col-sm-6">
                                    Địa chỉ: <label ng-bind="item_purchase.address"></label>
                                </div>
                                <div class="col-sm-6">
                                    Email: <label ng-bind="item_purchase.email"></label>
                                </div>
                                <div class="col-sm-6">
                                    Ngày đặt: <label ng-bind="item_purchase.createdDate | date:medium"></label>
                                </div>
                                <div class="col-sm-6">
                                    Nội dung: <label ng-bind="item_purchase.content"></label>
                                </div>
                            </div>
                            <h3>Thông tin đơn hàng</h3>
                            <legend></legend>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Sản phẩm</th>
                                                <th>Số lượng</th>
                                                <th>Đơn giá</th>
                                                <th>T.Tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in order_detail track by $index">
                                                <td ng-bind="$index"></td>
                                                <td ng-bind="item.productName"></td>
                                                <td ng-bind="item.quantity"></td>
                                                <td ng-bind="item.proPrice | number"></td>
                                                <td ng-bind="(item.quantity * item.proPrice) | number"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6">
                                        <p>Tổng tiền: <label ng-bind="sum | number"></label> VNĐ</p>
                                        <p>
                                            Tình trạng: <label ng-if="item_purchase.status === '2'">Phát thành công</label>
                                            <label ng-if="item_purchase.status === '1'">Đang vận chuyển</label>
                                            <label ng-if="item_purchase.status === '0'">Đang đóng gói</label>
                                            <label ng-if="item_purchase.status === '-1'">Đã hủy đơn hàng</label>
                                            <label ng-if="item_purchase.status === '3'">Tồn - Thông báo chuyển hoàn</label>
                                            <label ng-if="item_purchase.status === '4'">Hoàn thành công - Chuyển trả người gửi</label>
                                        </p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="modal-footer no-border">                            
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa đơn hàng</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="del()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa nhiều mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa những mục đã chọn?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="delAllItem()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
</div>