<div ng-controller="templateCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Template/ SEO</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div id="editable_length" class="dataTables_length">
                                            <label>
                                                <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                </select>
                                            </label>
                                            records per page
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    <label for="item-all">       
                                                         <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="event.checkAll()">
                                                    </label>
                                                    <button class="btn btn-danger fa fa-trash padding" data-toggle="modal" data-target="#delAllAlert"></button>
                                                </th>
                                                <th class="center">Name</th>                                                
                                                <th class="center">Filename</th>
                                                <th class="center">Type</th>
                                                <th class="center">Meta/Url</th>                                                
                                                <th class="center">Status</th>
                                                <th class="center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="item in $root.templates | filter:searchText | itemsPerPage: numberPage track by item.TempID" pagination-id="filterTemp">
                                                <td class="center">
                                                    <label for="item-{{item.TempID}}">       
                                                         <input id="item-{{item.TempID}}" type="checkbox" name="check-item" checklist-model="listToDelete" checklist-value="item.TempID">
                                                    </label>
                                                </td>
                                                <td class="center" ng-bind="item.TempName"></td>                         
                                                <td class="center" ng-bind="item.Filename"></td>
                                                <td class="center" ng-bind="item.Type"></td>
                                                <td class="center" ng-bind="item.Meta"></td>                                                
                                                <td class="center">
                                                    <i class="fa fa-check text-navy" ng-if="item.Status === '1'"></i>
                                                    <i class="fa fa-times text-navy" ng-if="item.Status === '0'"></i>
                                                </td>
                                                <td class="center">
                                                    <button class="btn btn-info fa fa-edit padding-2" data-toggle="modal" data-target="#myModal" ng-click="event.edit(item)"></button>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row line-top">                                    
                                    <dir-pagination-controls class="right" pagination-id="filterTemp" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal inmodal in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
                <form role="form" name="Form" ng-submit="event.submitForm(true)" novalidate>
                    <fieldset>
                        <div class="modal-header">
                            <i class="fa fa-clipboard modal-icon"></i>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Edit Template</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>Name<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Name" name="Name" type="text" ng-model="selectedTemp.TempName" autofocus required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Please type name.</p>
                            </div>
                            <div class="form-group">
                                <label>Filename</label>
                                <input class="form-control" placeholder="Filename" name="filename" type="text" ng-model="selectedTemp.Filename"  />                                        
                            </div>
                            <div class="form-group" ng-class="{'has-error': Form.Type.$invalid && Form.Type.$touched && Form.Type.$error.required}">
                                <label>Type<span class="text-danger">&nbsp;(*)</span></label>                                
                                <select class="form-control" name="Type" ng-model="selectedTemp.Type" ng-change="event.type_HasChanged(true)" required>
                                    <option style="display: none" value="">--Select type--</option>
                                    <option value="page">Trang</option>
                                    <option value="article">Bài viết</option>
                                    <option value="product">Sản phẩm</option>
                                    <option value="category">Danh mục</option>
                                    <option value="proCategory">Danh mục sản phẩm</option>
                                </select>
                                <p ng-show="Form.Type.$invalid && Form.Type.$touched && Form.Type.$error.required" class="text-danger">Please select type.</p>
                            </div>
                            <div class="form-group">
                                <label>Meta</label>
                                <input class="form-control" placeholder="Meta/Url" name="meta" type="text" ng-model="selectedTemp.Meta" ng-focus="event.meta_Focus(true)" />
                            </div>
                            <div class="form-group">
                                <label>Language</label>
                                <div class="selectContainer width">
                                    <select id="cbLanguage" class="form-control ui search dropdown" name="lang" ng-model="selectedTemp.Language">
                                        <option style="display:none" value="">--Chọn ngôn ngữ--</option>
                                        <option value="">--Trống--</option>
                                        <option ng-repeat="item in $root.languages track by $index" ng-if="item.ID !== 0 && item.Status !== '0'" value="{{item.Code}}">{{item.Name}}</option>
                                    </select>
                                </div>                                
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Status&nbsp;</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitch" ng-model="selectedTemp.Status" ng-true-value="'1'" ng-false-value="'0'" />
                                            <label class="onoffswitch-label" for="onoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="selectedTemp.Type === 'page'">
                                <div class="form-group" ng-class="{'has-error': Form.IsLanding.$invalid && Form.IsLanding.$touched && Form.IsLanding.$error.required}">
                                    <label>Is Landing<span class="text-danger">&nbsp;(*)</span></label>                                
                                    <select class="form-control" name="IsLanding" ng-model="selectedTemp.IsLanding" required>
                                        <option style="display: none" value="">--Select--</option>
                                        <option value="0">Trang con</option>
                                        <option value="1">Toàn trang</option>                                                
                                    </select>
                                    <p ng-show="Form.IsLanding.$invalid && Form.IsLanding.$touched && Form.IsLanding.$error.required" class="text-danger">Please select this field.</p>
                                </div>
                                <h2>SEO for Page</h2>
                                <div class="form-group" ng-class="{'has-error': Form.SeoTitle.$invalid && Form.SeoTitle.$touched && Form.SeoTitle.$error.required}">
                                    <label>SEO Title<span class="text-danger">&nbsp;(*)</span></label>
                                    <input class="form-control" placeholder="Title" name="SeoTitle" type="text" ng-model="selectedTemp.SeoTitle"  required />
                                    <p ng-show="Form.SeoTitle.$invalid && Form.SeoTitle.$touched && Form.SeoTitle.$error.required" class="text-danger">Please type seo title.</p>
                                </div> 
                                <div class="form-group">
                                    <label>SEO Keyword</label>
                                    <input class="form-control" placeholder="Keyword" name="SeoKeyword" type="text" ng-model="selectedTemp.SeoKeyword"  />                                    
                                </div> 
                                <div class="form-group" ng-class="{'has-error': Form.SeoCanonica.$invalid && Form.SeoCanonica.$touched && Form.SeoCanonica.$error.required}">
                                    <label>SEO Canonica<span class="text-danger">&nbsp;(*)</span></label>
                                    <input class="form-control" placeholder="Canonica" name="SeoCanonica" type="text" ng-model="selectedTemp.SeoCanonica"  required />
                                    <p ng-show="Form.SeoCanonica.$invalid && Form.SeoCanonica.$touched && Form.SeoCanonica.$error.required" class="text-danger">Vui lòng nhập seo canonica.</p>
                                </div>
                                <div class="form-group">
                                    <label>Meta Robot</label>
                                    <input class="form-control" placeholder="Meta Robot" name="MetaRobot" type="text" ng-model="selectedTemp.MetaRobot"  />                                            
                                </div>
                                <div class="form-group" ng-class="{'has-error': Form.SeoDescribes.$invalid && Form.SeoDescribes.$touched && Form.SeoDescribes.$error.required}">
                                    <label>SEO Describes<span class="text-danger">&nbsp;(*)</span></label>
                                    <textarea class="form-control" placeholder="Describes" name="SeoDescribes" rows="3" ng-model="selectedTemp.SeoDescribes"  required></textarea>
                                    <p ng-show="Form.SeoDescribes.$invalid && Form.SeoDescribes.$touched && Form.SeoDescribes.$error.required" class="text-danger">Please type seo describes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer no-border">
                            <p class="{{notice.class}}" ng-bind="notice.message"></p>
                            <button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                            
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Template</h4>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="event.del()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa nhiều mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa những mục đã chọn?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="event.delAllItem()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ẩn hiện khu cao tầng</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="center">ID</th>
                                    <th class="center">Ẩn/ Hiện</th>
                                    <th class="center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in enableList | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterService">
                                    <td class="center" ng-bind="item.id"></td>   
                                    <td class="center">
                                        <span ng-if="item.enable == 1">Hiện</span>
                                        <span ng-if="item.enable == 0">Ẩn</span>
                                    </td>                         
                                    <td class="center">
                                        <button class="btn btn-info padding-2" data-toggle="modal" data-target="#myModalHide" ng-click="event.editHide(item)">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row line-top">
                        <dir-pagination-controls class="right" pagination-id="filterService" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalHide" class="modal inmodal in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
                <form role="form" name="Form" ng-submit="event.submitFormHide()" novalidate>
                    <fieldset>
                        <div class="modal-header">
                            <i class="fa fa-thumbs-up modal-icon"></i>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" ng-bind="label.title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>ẨN/ Hiện</label>
                                <div class="selectContainer">
                                    <select class="form-control" id="enable" name="enable" ng-model="selectedEnable.enable">
                                        <option style="display:none" value="">--Chọn xuất hiện--</option>
                                        <option value="0">Ẩn</option>
                                        <option value="1">Hiện</option>
                                    </select>
                                </div>
                                <p class="text-danger" ng-show="Form.enable.$invalid && Form.enable.$touched && Form.enable.$error.required">Vui lòng không để trống phần này.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p class="{{notice.class}}" ng-bind="notice.message"></p>
                            <button id="btnSubmit" type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Lưu</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>