<div ng-controller="postalChargesCtrl">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Bảng giá cước</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="event.add()">Thêm mới dịch vụ</button>
                            <button class="btn btn-primary btn-file" type="button">
                                <js-xls onread="read" onerror="error"></js-xls>
                                Nhập excel
                            </button>                            
                        </div>
                        <div class="row">
                            <div class="col-sm-7">
                                <div id="editable_length" class="dataTables_length">
                                    <label>
                                        <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                        </select>
                                    </label>
                                    dòng trên mỗi trang
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="center">
                                            <label for="item-all">       
                                                    <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="event.checkAll()">
                                            </label>
                                            <button class="btn btn-danger fa fa-trash padding" data-toggle="modal" data-target="#delAllAlert"></button>
                                        </th>
                                        <th class="center">Tỉnh</th>
                                        <th class="center">Điểm đến</th>
                                        <th class="center">Dịch vụ</th>
                                        <th class="center">Từ Trọng lượng(g)</th>
                                        <th class="center">Đến Trọng lượng(g)</th>
                                        <th class="center">Giá cước</th>
                                        <th class="center">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in postalCharges | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterService">
                                        <td class="center">
                                            <label for="item-{{item.priceId}}">       
                                                    <input id="item-{{item.priceId}}" type="checkbox" name="check-item" checklist-model="listToDelete" checklist-value="item.priceId">
                                            </label>
                                        </td>
                                        <td class="center" ng-bind="item.fromPlace"></td>
                                        <td class="center" ng-bind="item.toPlace"></td>
                                        <td class="center" ng-bind="item.service"></td>
                                        <td class="center" ng-bind="item.dcpWeight | number"></td> 
                                        <td class="center" ng-bind="item.dcpToWeight | number"></td> 
                                        <td class="center" ng-bind="item.dcpPrice | number"></td>                                
                                        <td class="center">
                                            <button class="btn btn-info padding-2" data-toggle="modal" data-target="#myModal" ng-click="event.edit(item)">
                                                <span class="fa fa-edit"></span>
                                            </button>
                                            <button class="btn btn-danger padding-2" data-toggle="modal" data-target="#delAlert" ng-click="event.getItem(item)">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row line-top">
                            <dir-pagination-controls class="right" pagination-id="filterService" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div id="myModal" class="modal inmodal in" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceIn">
                <form role="form" name="Form" ng-submit="event.submitForm()" novalidate>
                    <fieldset>
                        <div class="modal-header">
                            <i class="fa fa-thumbs-up modal-icon"></i>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" ng-bind="label.title"></h4>
                        </div>
                        <div class="modal-body">                                                
                            <div class="form-group" ng-class="{'has-error': Form.fromPlace.$invalid && Form.fromPlace.$touched && Form.fromPlace.$required}">
                                <label>Điểm đi<span class="text-danger">&nbsp;(*)</span></label>                                
                                <div class="input-group">
                                    <input class="form-control input-sm" placeholder="Điểm đi" name="fromPlace" type="text" ng-model="fromPlace" my-enter="getDistrictFromById(fromPlace)" ng-blur="getDistrictFromById(fromPlace)" required /> 
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" ng-click="getDistrictFromById(fromPlace)">Tìm</button> 
                                    </span>
                                </div> 
                                <p class="text-danger" ng-show="Form.fromPlace.$invalid && Form.fromPlace.$touched && Form.fromPlace.$error.required">Vui lòng nhập điểm đi.</p>                          
                            </div>
                            <div class="form-group" ng-class="{'has-error': Form.toPlace.$invalid && Form.toPlace.$touched && Form.toPlace.$required}">
                                <label>Điểm đến<span class="text-danger">&nbsp;(*)</span></label>
                                <div class="input-group">
                                    <input class="form-control input-sm" placeholder="Điểm đến" name="toPlace" type="text" ng-model="toPlace" my-enter="getDistrictToById(toPlace)" ng-blur="getDistrictToById(toPlace)" required /> 
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" ng-click="getDistrictToById(toPlace)">Tìm</button> 
                                    </span>
                                </div>
                                <p class="text-danger" ng-show="Form.toPlace.$invalid && Form.toPlace.$touched && Form.toPlace.$error.required">Vui lòng nhập điểm đến.</p>                          
                            </div>
                            <div class="form-group">
                                <label>Dịch vụ</label>
                                <input class="form-control" placeholder="Dịch vụ" name="service" type="text" ng-model="selectedPostal.service" />                                 
                            </div>
                            <div class="form-group" ng-class="{'has-error': Form.dcpWeight.$invalid && Form.dcpWeight.$touched && Form.dcpWeight.$required}">
                                <label>Từ Trọng lượng(g) <span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Trọng lượng" name="dcpWeight" type="text" format="number" ng-model="selectedPostal.dcpWeight" required /> 
                                <p class="text-danger" ng-show="Form.dcpWeight.$invalid && Form.dcpWeight.$touched && Form.dcpWeight.$error.required">Vui lòng nhập trọng lượng.</p>                          
                            </div>
                            <div class="form-group" ng-class="{'has-error': Form.dcpToWeight.$invalid && Form.dcpToWeight.$touched && Form.dcpToWeight.$required}">
                                <label>Đến Trọng lượng(g) <span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Trọng lượng" name="dcpToWeight" type="text" format="number" ng-model="selectedPostal.dcpToWeight" required /> 
                                <p class="text-danger" ng-show="Form.dcpToWeight.$invalid && Form.dcpToWeight.$touched && Form.dcpToWeight.$error.required">Vui lòng nhập trọng lượng.</p>                          
                            </div>
                            <div class="form-group" ng-class="{'has-error': Form.dcpPrice.$invalid && Form.dcpPrice.$touched && Form.dcpPrice.$required}">
                                <label>Giá cước<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Giá cước" name="dcpPrice" type="text" format="number" ng-model="selectedPostal.dcpPrice" required /> 
                                <p class="text-danger" ng-show="Form.dcpPrice.$invalid && Form.dcpPrice.$touched && Form.dcpPrice.$error.required">Vui lòng nhập giá cước.</p>                          
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p class="{{notice.class}}" ng-bind="notice.message"></p>
                            <button id="btnSubmit" type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Lưu</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa giá cước</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa giá cước này?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="event.del()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa nhiều mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa những mục đã chọn?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="event.delAllItem()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
</div>