<div class="right-nav">
    <ul class="nav-action" id="tienichtang-nav">
        <li data-menuanchor="tang-1"><a href="#tang-1">01</a></li>
        <li data-menuanchor="tang-4"><a href="#tang-4">02</a></li>
        <li data-menuanchor="tang-5"><a href="#tang-5">03</a></li>
        <li data-menuanchor="tang-27"><a href="#tang-27">04</a></li>
    </ul>
</div>

<!--SHOW BOX-->
<div class="info-facilities">
    <div class="show-box-pic" data-pic="01">
        <div class="faci-text">
            <h3>Entry Sculpture - Cổng Vào Điêu Khắc</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="02">
        <div class="faci-text">
            <h3>Shophouse Drop Off - Sảnh Đón Shophouse</h3>
        </div>
    </div>
    <div class="show-box-pic" data-pic="03">
        <div class="faci-text">
            <h3>Summer Plaza - Quảng Trường Thương Mại</h3>
        </div>
    </div>
    <div class="show-box-pic" data-pic="04">
        <div class="faci-text">
            <h3>Amphitheatre - Sân Khấu Ngoài Trời</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="05">
        <div class="faci-text">
            <h3>Outdoor Café - Café Sân Vườn</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="06">
        <div class="faci-text">
            <h3>Feature Seating Pod - Khoang Ghế Nghệ Thuật</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="07">
        <div class="faci-text">
            <h3>Seating Area - Khu Ngồi Nghỉ</h3>
        </div>
    </div>
    <div class="show-box-pic" data-pic="08">
        <div class="faci-text">
            <h3>Planter Terrace - Bồn Hoa Giật Bậc</h3>
        </div>
    </div>
    <div class="show-box-pic" data-pic="09">
        <div class="faci-text">
            <h3>Shophouse - Cửa Hàng</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="10">
        <div class="faci-text">
            <h3>Feature Planter - Bồn Cây Trang Trí</h3>
        </div>
    </div>
    <div class="show-box-pic" data-pic="11">
        <div class="faci-text">
            <h3>Water Cascade - Thác Nước</h3>
        </div>
    </div>
    <div class="show-box-pic" data-pic="12">
        <div class="faci-text">
            <h3>Summer Square - Quảng Trường Giải Trí TT</h3>
        </div>
    </div>
    <div class="show-box-pic" data-pic="13">
        <div class="faci-text">
            <h3>Picnic Areas – Khu Vực Picnic</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="14">
        <div class="faci-text">
            <h3>VR Game - Khu Trò Chơi Thực Tế Ảo</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="15">
        <div class="faci-text">
            <h3>Motorbike Parking - Bãi Đậu Mô Tô</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="16">
        <div class="faci-text">
            <h3>Indoor Sport - Khu thể thao trong nhà</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="17">
        <div class="faci-text">
            <h3>Community Living Room - Phòng SHCĐ</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="18">
        <div class="faci-text">
            <h3>Business center - Tổ dịch vụ văn phòng</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="19">
        <div class="faci-text">
            <h3>Guard House - Nhà Bảo Vệ </h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="20">
        <div class="faci-text">
            <h3>Entry Gate - Cổng vào</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="21">
        <div class="faci-text">
            <h3>Art Wall - Tường Nghệ Thuật</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="22">
        <div class="faci-text">
            <h3>Water Cascade - Thác Nước</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="23">
        <div class="faci-text">
            <h3>Welcome Lounge - Sảnh Đón Luxury</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="24">
        <div class="faci-text">
            <h3>Herb Garden - Vườn Thảo Dược</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="25">
        <div class="faci-text">
            <h3>Water Lily Pond - Hồ Hoa Lily</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="26">
        <div class="faci-text">
            <h3>Discovery Restaurant - Nhà Hàng Discovery</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="27">
        <div class="faci-text">
            <h3>Feature Seating Pod - Khoang Ghế Nghệ Thuật</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="28">
        <div class="faci-text">
            <h3>Floating Sculpture - Tượng Điêu Khắc Nổi</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="29">
        <div class="faci-text">
            <h3>Pool Chair – Ghế Thư Giãn</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="30">
        <div class="faci-text">
            <h3>Hồ Jacuzzi - Hồ Thư Giãn Jacuzzi</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="31">
        <div class="faci-text">
            <h3>Chill Pool - Hồ Bơi Resort</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="32">
        <div class="faci-text">
            <h3>Social Deck - Sân Công Cộng</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="33">
        <div class="faci-text">
            <h3>Kids Play Ground - Sân Chơi Trẻ Em</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="34">
        <div class="faci-text">
            <h3>Water Sculpture -Tượng Phun Nước</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="35">
        <div class="faci-text">
            <h3>Sunset Deck - Sân Hoàng Hôn</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="36">
        <div class="faci-text">
            <h3>Pool Bridge - Hồ Bơi Cầu Kính</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="37">
        <div class="faci-text">
            <h3>BBQ Corner - BBQ Ngoài Trời</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="38">
        <div class="faci-text">
            <h3>Stepped Planter - Bồn Hoa Bậc Thang</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="39">
        <div class="faci-text">
            <h3>Camping On Podium - Cắm Trại Tầng Podium</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="40">
        <div class="faci-text">
            <h3>Outdoor Theatre - Rạp Chiếu Phim Ngoài Trời</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="41">
        <div class="faci-text">
            <h3>Shop House Plaza - Quảng Trường Shophouse</h3>
        </div>
    </div>

    <div class="show-box-pic no-pic" data-pic="42">
        <div class="faci-text">
            <h3>Hammock Garden - Vườn Thư Giãn</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="43">
        <div class="faci-text">
            <h3>Sculpture Park - Công Viên Biểu Tượng </h3>
        </div>
    </div>

    <div class="show-box-pic no-pic" data-pic="44">
        <div class="faci-text">
            <h3>Chess Field - Cánh Đồng Cờ Vua</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="45">
        <div class="faci-text">
            <h3>Cabana - Chòi Nghỉ</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="46">
        <div class="faci-text">
            <h3>Shape Structure - Công Viên Điêu Khắc</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="47">
        <div class="faci-text">
            <h3>Event Room  - Phòng Đa Chức Năng</h3>
        </div>
    </div>

    <div class="show-box-pic no-pic" data-pic="48">
        <div class="faci-text">
            <h3>Locker Room - Phòng Thay Đồ, Wc</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="49">
        <div class="faci-text">
            <h3>Kid’s Library - Thư Viện Trẻ Em</h3>
        </div>
    </div>

    <div class="show-box-pic no-pic" data-pic="50">
        <div class="faci-text">
            <h3>GYM</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="51">
        <div class="faci-text">
            <h3>Meeting & Event Room - Phòng Hội Họp & Sự Kiện</h3>
        </div>
    </div>

    <div class="show-box-pic no-pic" data-pic="52">
        <div class="faci-text">
            <h3>Kid’s Club - Clb Trẻ Em</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="53">
        <div class="faci-text">
            <h3>Glass Elevator - Thang Máy Xuyên Sáng</h3>
        </div>
    </div>

    <div class="show-box-pic no-pic" data-pic="54">
        <div class="faci-text">
            <h3>Green Wall - Tường Xanh</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="55">
        <div class="faci-text">
            <h3>Camping Area - Khu Cắm Trại</h3>
        </div>
    </div>

    <div class="show-box-pic no-pic" data-pic="56">
        <div class="faci-text">
            <h3>Sunset Viewing Deck - Đài Quan Sát Hoàng Hôn</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="57">
        <div class="faci-text">
            <h3>Pool Shower - Tắm Hồ Bơi</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="58">
        <div class="faci-text">
            <h3>Pool Chair – Ghế Thư Giãn</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="59">
        <div class="faci-text">
            <h3>Floating Sculpture - Tượng Điêu Khắc Nổi</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="60">
        <div class="faci-text">
            <h3>Feature Sculpture - Tượng Trang Trí </h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="61">
        <div class="faci-text">
            <h3>Pool Bar - Quầy Bar</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="62">
        <div class="faci-text">
            <h3>Sunken Seat - Sàn Ngồi Âm</h3>
        </div>
    </div>

    <div class="show-box-pic no-pic" data-pic="63">
        <div class="faci-text">
            <h3>Panorama Pool – Hồ Bơi Vô Cực</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="64">
        <div class="faci-text">
            <h3>Sky Restaurant - Nhà Hàng Rooftop</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="65">
        <div class="faci-text">
            <h3>BBQ Lounge -  Khu BBQ</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="66">
        <div class="faci-text">
            <h3>Herb Garden - Vườn Thảo Dược</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="67">
        <div class="faci-text">
            <h3>Relax Seat - Ghế Ngồi Thư Giãn</h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="68">
        <div class="faci-text">
            <h3>Exercise - Sân Thể Thao </h3>
        </div>
    </div>
    <div class="show-box-pic no-pic" data-pic="69">
        <div class="faci-text">
            <h3>Yoga Lawn - Khu Tập Yoga </h3>
        </div>
    </div>
</div>


<div id="fullpagetienichtang">
    <div class="section tienichtang" id="section-tien-ich-tang"
        style="background-image:url(./assets/clients/imgs/tienich-tang/tang1/background.png);">
        <div class="content-main">
            <div class="title-main">
                <h2>Mặt bằng tiện tích tầng 01</h2>
            </div>
            <div class="facilities-map">
                <div class="facilities-bg"
                    style="background-image:url(./assets/clients/imgs/tienich-tang/tang1/tang-1.png)">
                    <div class="all-dot">
                        <div class="all-dot-top">
                            <a class="dot-num dot-01 no-pic" href="javascript:void(0);" data-name="01"
                                data-box="01">01<span class="circle"></span></a>
                            <a class="dot-num dot-02 no-pic" href="javascript:void(0);" data-name="02"
                                data-box="02">02<span class="circle"></span></a>
                            <a class="dot-num dot-03 no-pic" href="javascript:void(0);" data-name="03"
                                data-box="03">03<span class="circle"></span></a>
                            <a class="dot-num dot-03-02 no-pic" href="javascript:void(0);" data-name="03"
                                data-box="03">03<span class="circle"></span></a>
                            <a class="dot-num dot-03-03 no-pic" href="javascript:void(0);" data-name="03"
                                data-box="03">03<span class="circle"></span></a>
                            <a class="dot-num dot-03-04 no-pic" href="javascript:void(0);" data-name="03"
                                data-box="03">03<span class="circle"></span></a>
                            <a class="dot-num dot-04 no-pic" href="javascript:void(0);" data-name="04"
                                data-box="04">04<span class="circle"></span></a>
                            <a class="dot-num dot-05 no-pic" href="javascript:void(0);" data-name="05"
                                data-box="05">05<span class="circle"></span></a>

                            <a class="dot-num dot-06 no-pic" href="javascript:void(0);" data-name="06"
                                data-box="06">06<span class="circle"></span></a>
                            <a class="dot-num dot-06-02 no-pic" href="javascript:void(0);" data-name="06"
                                data-box="06">06<span class="circle"></span></a>
                            <a class="dot-num dot-06-03 no-pic" href="javascript:void(0);" data-name="06"
                                data-box="06">06<span class="circle"></span></a>
                            <a class="dot-num dot-06-04 no-pic" href="javascript:void(0);" data-name="06"
                                data-box="06">06<span class="circle"></span></a>
                            <a class="dot-num dot-07 no-pic" href="javascript:void(0);" data-name="07"
                                data-box="07">07<span class="circle"></span></a>
                            <a class="dot-num dot-07-02 no-pic" href="javascript:void(0);" data-name="07"
                                data-box="07">07<span class="circle"></span></a>
                            <a class="dot-num dot-08 no-pic" href="javascript:void(0);" data-name="08"
                                data-box="08">08<span class="circle"></span></a>
                            <a class="dot-num dot-08-02 no-pic" href="javascript:void(0);" data-name="08"
                                data-box="08">08<span class="circle"></span></a>
                            <a class="dot-num dot-08-03 no-pic" href="javascript:void(0);" data-name="08"
                                data-box="08">08<span class="circle"></span></a>
                            <a class="dot-num dot-09 no-pic" href="javascript:void(0);" data-name="09"
                                data-box="09">09<span class="circle"></span></a>
                            <a class="dot-num dot-09-02 no-pic" href="javascript:void(0);" data-name="09"
                                data-box="09">09<span class="circle"></span></a>
                            <a class="dot-num dot-09-03 no-pic" href="javascript:void(0);" data-name="09"
                                data-box="09">09<span class="circle"></span></a>
                            <a class="dot-num dot-09-04 no-pic" href="javascript:void(0);" data-name="09"
                                data-box="09">09<span class="circle"></span></a>
                            <a class="dot-num dot-10 no-pic" href="javascript:void(0);" data-name="10"
                                data-box="10">10<span class="circle"></span></a>

                            <a class="dot-num dot-11 no-pic" href="javascript:void(0);" data-name="11"
                                data-box="11">11<span class="circle"></span></a>
                            <a class="dot-num dot-11-02 no-pic" href="javascript:void(0);" data-name="11"
                                data-box="11">11<span class="circle"></span></a>
                            <a class="dot-num dot-12 no-pic" href="javascript:void(0);" data-name="12"
                                data-box="12">12<span class="circle"></span></a>
                            <a class="dot-num dot-13 no-pic" href="javascript:void(0);" data-name="13"
                                data-box="13">13<span class="circle"></span></a>
                            <a class="dot-num dot-14 no-pic" href="javascript:void(0);" data-name="14"
                                data-box="14">14<span class="circle"></span></a>
                            <a class="dot-num dot-15 no-pic" href="javascript:void(0);" data-name="15"
                                data-box="15">15<span class="circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="note-facilities">
                <div class="note-facilities-columns">
                    <ul>
                        <li data-text="01"><span class="no-pic">01</span>
                            <h3>Entry Sculpture - Cổng Vào Điêu Khắc</h3>
                        </li>
                        <li data-text="02"><span class="no-pic">02</span>
                            <h3>Shophouse Drop Off - Sảnh Đón Shophouse</h3>
                        </li>
                        <li data-text="03"><span class="no-pic">03</span>
                            <h3>Summer Plaza - Quảng Trường Thương Mại</h3>
                        </li>
                        <li data-text="04"><span class="no-pic">04</span>
                            <h3>Amphitheatre - Sân Khấu Ngoài Trời</h3>
                        </li>

                    </ul>
                    <ul>
                        <li data-text="05"><span class="no-pic">05</span>
                            <h3>Outdoor Café - Café Sân Vườn</h3>
                        </li>
                        <li data-text="06"><span class="no-pic">06</span>
                            <h3>Feature Seating Pod - Khoang Ghế Nghệ Thuật</h3>
                        </li>
                        <li data-text="07"><span class="no-pic">07</span>
                            <h3>Seating Area - Khu Ngồi Nghỉ</h3>
                        </li>
                        <li data-text="08"><span class="no-pic">08</span>
                            <h3>Planter Terrace - Bồn Hoa Giật Bậc</h3>
                        </li>
                    </ul>
                </div>
                <div class="note-facilities-columns">
                    <ul>
                        <li data-text="09"><span class="no-pic">09</span>
                            <h3>Shophouse - Cửa Hàng</h3>
                        </li>
                        <li data-text="10"><span class="no-pic">10</span>
                            <h3>Feature Planter - Bồn Cây Trang Trí</h3>
                        </li>
                        <li data-text="11"><span class="no-pic">11</span>
                            <h3>Water Cascade - Thác Nước</h3>
                        </li>
                        <li data-text="12"><span class="no-pic">12</span>
                            <h3>Summer Square - Quảng Trường Giải Trí TT</h3>
                        </li>

                    </ul>
                    <ul>
                        <li data-text="13"><span class="no-pic">13</span>
                            <h3>Picnic Areas – Khu Vực Picnic</h3>
                        </li>
                        <li data-text="14"><span class="no-pic">14</span>
                            <h3>VR Game - Khu Trò Chơi Thực Tế Ảo </h3>
                        </li>
                        <li data-text="15"><span class="no-pic">15</span>
                            <h3>Motorbike Parking - Bãi Đậu Mô Tô</h3>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="section tienichtang" id="section-tien-ich-tang"
        style="background-image:url(./assets/clients/imgs/tienich-tang/tang1/background.png);">
        <div class="content-main">
            <div class="title-main">
                <h2>Mặt bằng tiện tích tầng 04</h2>
            </div>
            <div class="facilities-map">
                <div class="facilities-bg"
                    style="background-image:url(./assets/clients/imgs/tienich-tang/tang4/tang-4.png)">
                    <div class="all-dot">
                        <div class="all-dot-top">
                            <a class="dot-num dot-16 no-pic" href="javascript:void(0);" data-name="16"
                                data-box="16">01<span class="circle"></span></a>
                            <a class="dot-num dot-17 no-pic" href="javascript:void(0);" data-name="17"
                                data-box="17">02<span class="circle"></span></a>
                            <a class="dot-num dot-18 no-pic" href="javascript:void(0);" data-name="18"
                                data-box="18">03<span class="circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="note-facilities">
                <div class="note-facilities-columns">
                    <ul>
                        <li data-text="16"><span class="no-pic">01</span>
                            <h3>Indoor Sport - Khu thể thao trong nhà</h3>
                        </li>
                        <li data-text="17"><span class="no-pic">02</span>
                            <h3>Community Living Room - Phòng SHCĐ</h3>
                        </li>
                        <li data-text="18"><span class="no-pic">03</span>
                            <h3>Business center - Tổ dịch vụ văn phòng</h3>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="section tienichtang tienich-tang-5" id="section-tien-ich-tang"
        style="background-image:url(./assets/clients/imgs/tienich-tang/tang1/background.png);">
        <div class="content-main">
            <div class="title-main">
                <h2>Mặt bằng tiện tích tầng 05</h2>
            </div>
            <div class="facilities-map">
                <div class="facilities-bg" style="background-image:url(./assets/clients/imgs/tienich-tang/tang5/tang-5.png)">
                    <div class="all-dot">
                        <div class="all-dot-top">
                            <a class="dot-num dot-19 no-pic" href="javascript:void(0);" data-name="19"
                                data-box="19">01<span class="circle"></span></a>
                            <a class="dot-num dot-20 no-pic" href="javascript:void(0);" data-name="20"
                                data-box="20">02<span class="circle"></span></a>
                            <a class="dot-num dot-21 no-pic" href="javascript:void(0);" data-name="21"
                                data-box="21">03<span class="circle"></span></a>
                            <a class="dot-num dot-21-02 no-pic" href="javascript:void(0);" data-name="21"
                                data-box="21">03<span class="circle"></span></a>
                            <a class="dot-num dot-21-03 no-pic" href="javascript:void(0);" data-name="21"
                                data-box="21">03<span class="circle"></span></a>
                            <a class="dot-num dot-21-04 no-pic" href="javascript:void(0);" data-name="21"
                                data-box="21">03<span class="circle"></span></a>
                            <a class="dot-num dot-21-05 no-pic" href="javascript:void(0);" data-name="21"
                                data-box="21">03<span class="circle"></span></a>
                            <a class="dot-num dot-21-06 no-pic" href="javascript:void(0);" data-name="21"
                                data-box="21">03<span class="circle"></span></a>
                            <a class="dot-num dot-22 no-pic" href="javascript:void(0);" data-name="22"
                                data-box="22">04<span class="circle"></span></a>
                            <a class="dot-num dot-23 no-pic" href="javascript:void(0);" data-name="23"
                                data-box="23">05<span class="circle"></span></a>
                            <a class="dot-num dot-23-02 no-pic" href="javascript:void(0);" data-name="23"
                                data-box="23">05<span class="circle"></span></a>
                            <a class="dot-num dot-24 no-pic" href="javascript:void(0);" data-name="24"
                                data-box="24">06<span class="circle"></span></a> 
                            <a class="dot-num dot-24-02 no-pic" href="javascript:void(0);" data-name="24"
                                data-box="24">06<span class="circle"></span></a> 
                            <a class="dot-num dot-24-03 no-pic" href="javascript:void(0);" data-name="24"
                                data-box="24">06<span class="circle"></span></a> 
                            <a class="dot-num dot-25 no-pic" href="javascript:void(0);" data-name="25"
                                data-box="25">07<span class="circle"></span></a>
                            <a class="dot-num dot-25-02 no-pic" href="javascript:void(0);" data-name="25"
                                data-box="25">07<span class="circle"></span></a>
                            <a class="dot-num dot-25-03 no-pic" href="javascript:void(0);" data-name="25"
                                data-box="25">07<span class="circle"></span></a>
                            <a class="dot-num dot-25-04 no-pic" href="javascript:void(0);" data-name="25"
                                data-box="25">07<span class="circle"></span></a>
                            <a class="dot-num dot-25-05 no-pic" href="javascript:void(0);" data-name="25"
                                data-box="25">07<span class="circle"></span></a>
                            <a class="dot-num dot-26 no-pic" href="javascript:void(0);" data-name="26"
                                data-box="26">08<span class="circle"></span></a>
                            <a class="dot-num dot-27 no-pic" href="javascript:void(0);" data-name="27"
                                data-box="27">09<span class="circle"></span></a>
                            <a class="dot-num dot-28 no-pic" href="javascript:void(0);" data-name="28"
                                data-box="28">10<span class="circle"></span></a>
                            <a class="dot-num dot-29 no-pic" href="javascript:void(0);" data-name="29"
                                data-box="29">11<span class="circle"></span></a>
                            <a class="dot-num dot-30 no-pic" href="javascript:void(0);" data-name="30"
                                data-box="30">12<span class="circle"></span></a>
                            <a class="dot-num dot-31 no-pic" href="javascript:void(0);" data-name="31"
                                data-box="31">13<span class="circle"></span></a>
                            <a class="dot-num dot-32 no-pic" href="javascript:void(0);" data-name="32"
                                data-box="32">14<span class="circle"></span></a>
                            <a class="dot-num dot-33 no-pic" href="javascript:void(0);" data-name="33"
                                data-box="33">15<span class="circle"></span></a>
                            <a class="dot-num dot-34 no-pic" href="javascript:void(0);" data-name="34"
                                data-box="34">16<span class="circle"></span></a>
                            <a class="dot-num dot-35 no-pic" href="javascript:void(0);" data-name="35"
                                data-box="35">17<span class="circle"></span></a>
                            <a class="dot-num dot-36 no-pic" href="javascript:void(0);" data-name="36"
                                data-box="36">18<span class="circle"></span></a>
                            <a class="dot-num dot-37 no-pic" href="javascript:void(0);" data-name="37"
                                data-box="37">19<span class="circle"></span></a>
                            <a class="dot-num dot-37 no-pic" href="javascript:void(0);" data-name="37"
                                data-box="37">19<span class="circle"></span></a>
                            <a class="dot-num dot-38 no-pic" href="javascript:void(0);" data-name="38"
                                data-box="38">20<span class="circle"></span></a>
                            <a class="dot-num dot-38-02 no-pic" href="javascript:void(0);" data-name="38"
                                data-box="38">20<span class="circle"></span></a>

                            <a class="dot-num dot-39 no-pic" href="javascript:void(0);" data-name="39"
                                data-box="39">21<span class="circle"></span></a>
                            <a class="dot-num dot-40 no-pic" href="javascript:void(0);" data-name="40"
                                data-box="40">22<span class="circle"></span></a>
                            <a class="dot-num dot-41 no-pic" href="javascript:void(0);" data-name="41"
                                data-box="41">23<span class="circle"></span></a>
                            <a class="dot-num dot-42 no-pic" href="javascript:void(0);" data-name="42"
                                data-box="42">24<span class="circle"></span></a>
                            <a class="dot-num dot-43 no-pic" href="javascript:void(0);" data-name="43"
                                data-box="43">25<span class="circle"></span></a>
                            <a class="dot-num dot-44 no-pic" href="javascript:void(0);" data-name="44"
                                data-box="44">26<span class="circle"></span></a>
                            <a class="dot-num dot-45 no-pic" href="javascript:void(0);" data-name="45"
                                data-box="45">27<span class="circle"></span></a>
                            <a class="dot-num dot-46 no-pic" href="javascript:void(0);" data-name="46"
                                data-box="46">28<span class="circle"></span></a>
                            <a class="dot-num dot-47 no-pic" href="javascript:void(0);" data-name="47"
                                data-box="47">29<span class="circle"></span></a>
                            <a class="dot-num dot-48 no-pic" href="javascript:void(0);" data-name="48"
                                data-box="48">30<span class="circle"></span></a>


                            <a class="dot-num dot-49 no-pic" href="javascript:void(0);" data-name="49"
                                data-box="49">31<span class="circle"></span></a>
                            <a class="dot-num dot-50 no-pic" href="javascript:void(0);" data-name="50"
                                data-box="50">32<span class="circle"></span></a>
                            <a class="dot-num dot-51 no-pic" href="javascript:void(0);" data-name="51"
                                data-box="51">33<span class="circle"></span></a>
                            <a class="dot-num dot-52 no-pic" href="javascript:void(0);" data-name="52"
                                data-box="52">34<span class="circle"></span></a>
                            <a class="dot-num dot-53 no-pic" href="javascript:void(0);" data-name="53"
                                data-box="53">35<span class="circle"></span></a>
                            <a class="dot-num dot-54 no-pic" href="javascript:void(0);" data-name="54"
                                data-box="54">36<span class="circle"></span></a>
                            <a class="dot-num dot-55 no-pic" href="javascript:void(0);" data-name="55"
                                data-box="55">37<span class="circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="note-facilities">
                <div class="note-facilities-columns">
                    <ul>
                        <li data-text="19"><span class="no-pic">01</span>
                            <h3>Guard House - Nhà Bảo Vệ </h3>
                        </li>
                        <li data-text="20"><span class="no-pic">02</span>
                            <h3>Entry Gate - Cổng vào</h3>
                        </li>
                        <li data-text="21"><span class="no-pic">03</span>
                            <h3>Art Wall - Tường Nghệ Thuật</h3>
                        </li>
                        <li data-text="22"><span class="no-pic">04</span>
                            <h3>Water Cascade - Thác Nước</h3>
                        </li>
                        <li data-text="23"><span class="no-pic">05</span>
                            <h3>Welcome Lounge - Sảnh Đón Luxury</h3>
                        </li>
                        <li data-text="24"><span class="no-pic">06</span>
                            <h3>Herb Garden - Vườn Thảo Dược</h3>
                        </li>
                        <li data-text="25"><span class="no-pic">07</span>
                            <h3>Water Lily Pond - Hồ Hoa Lily</h3>
                        </li>
                        <li data-text="26"><span class="no-pic">08</span>
                            <h3>Discovery Restaurant - Nhà Hàng Discovery</h3>
                        </li>
                        <li data-text="27"><span class="no-pic">09</span>
                            <h3>Feature Seating Pod - Khoang Ghế Nghệ Thuật</h3>
                        </li>
                        <li data-text="28"><span class="no-pic">10</span>
                            <h3>Floating Sculpture - Tượng Điêu Khắc Nổi</h3>
                        </li>
                    </ul>
                    <ul>
                        <li data-text="29"><span class="no-pic">11</span>
                            <h3>Pool Chair – Ghế Thư Giãn</h3>
                        </li>
                        <li data-text="30"><span class="no-pic">12</span>
                            <h3>Hồ Jacuzzi - Hồ Thư Giãn Jacuzzi</h3>
                        </li>
                        <li data-text="31"><span class="no-pic">13</span>
                            <h3>Chill Pool - Hồ Bơi Resort</h3>
                        </li>
                        <li data-text="32"><span class="no-pic">14</span>
                            <h3>Social Deck - Sân Công Cộng</h3>
                        </li>
                        <li data-text="33"><span class="no-pic">15</span>
                            <h3>Kids Play Ground - Sân Chơi Trẻ Em</h3>
                        </li>

                        <li data-text="34"><span class="no-pic">16</span>
                            <h3>Water Sculpture -Tượng Phun Nước</h3>
                        </li>
                        <li data-text="35"><span class="no-pic">17</span>
                            <h3>Sunset Deck - Sân Hoàng Hôn</h3>
                        </li>
                        <li data-text="36"><span class="no-pic">18</span>
                            <h3>Pool Bridge - Hồ Bơi Cầu Kính</h3>
                        </li>
                        <li data-text="37"><span class="no-pic">19</span>
                            <h3>BBQ Corner - BBQ Ngoài Trời</h3>
                        </li>
                    </ul>
                </div>
                <div class="note-facilities-columns">
                    <ul>
                        <li data-text="38"><span class="no-pic">20</span>
                            <h3>Stepped Planter - Bồn Hoa Bậc Thang</h3>
                        </li>
                        <li data-text="39"><span class="no-pic">21</span>
                            <h3>Camping On Podium - Cắm Trại Tầng Podium</h3>
                        </li>
                        <li data-text="40"><span class="no-pic">22</span>
                            <h3>Outdoor Theatre - Rạp Chiếu Phim Ngoài Trời</h3>
                        </li>
                        <li data-text="41"><span class="no-pic">23</span>
                            <h3>Shop House Plaza - Quảng Trường Shophouse</h3>
                        </li>
                        <li data-text="42"><span class="no-pic">24</span>
                            <h3>Hammock Garden - Vườn Thư Giãn</h3>
                        </li>
                        <li data-text="43"><span class="no-pic">25</span>
                            <h3>Sculpture Park - Công Viên Biểu Tượng </h3>
                        </li>

                        <li data-text="44"><span class="no-pic">26</span>
                            <h3>Chess Field - Cánh Đồng Cờ Vua</h3>
                        </li>
                        <li data-text="45"><span class="no-pic">27</span>
                            <h3>Cabana - Chòi Nghỉ</h3>
                        </li>
                        <li data-text="46"><span class="no-pic">28</span>
                            <h3>Shape Structure - Công Viên Điêu Khắc</h3>
                        </li>
                        <li data-text="47"><span class="no-pic">29</span>
                            <h3>Event Room  - Phòng Đa Chức Năng</h3>
                        </li>
                    </ul>
                    <ul>
                        <li data-text="48"><span class="no-pic">30</span>
                            <h3>Locker Room - Phòng Thay Đồ, Wc</h3>
                        </li>
                        <li data-text="49"><span class="no-pic">31</span>
                            <h3>Kid’s Library - Thư Viện Trẻ Em</h3>
                        </li>
                        <li data-text="50"><span class="no-pic">32</span>
                            <h3>GYM</h3>
                        </li>
                        <li data-text="51"><span class="no-pic">33</span>
                            <h3>Meeting & Event Room - Phòng Hội Họp & Sự Kiện</h3>
                        </li>
                        <li data-text="52"><span class="no-pic">34</span>
                            <h3>Kid’s Club - Clb Trẻ Em</h3>
                        </li>
                        <li data-text="53"><span class="no-pic">35</span>
                            <h3>Glass Elevator - Thang Máy Xuyên Sáng</h3>
                        </li>
                        <li data-text="54"><span class="no-pic">36</span>
                            <h3>Green Wall - Tường Xanh</h3>
                        </li>
                        <li data-text="55"><span class="no-pic">37</span>
                            <h3>Camping Area - Khu Cắm Trại</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section tienichtang tien-ich-tang-26" id="section-tien-ich-tang"
    style="background-image:url(./assets/clients/imgs/tienich-tang/tang1/background.png);">
    <div class="content-main">
        <div class="title-main">
            <h2>Mặt bằng tiện tích tầng 26 (T1 & T2), 27 (T3)</h2>
        </div>
        <div class="facilities-map">
            <div class="facilities-bg"
                style="background-image:url(./assets/clients/imgs/tienich-tang/tang27/tang-27.png)">
                <div class="all-dot">
                    <div class="all-dot-top">
                        <a class="dot-num dot-56 no-pic" href="javascript:void(0);" data-name="56"
                            data-box="56">01<span class="circle"></span></a>
                        <a class="dot-num dot-56-02 no-pic" href="javascript:void(0);" data-name="56"
                            data-box="56">01<span class="circle"></span></a>
                        <a class="dot-num dot-56-03 no-pic" href="javascript:void(0);" data-name="56"
                            data-box="56">01<span class="circle"></span></a>
                        <a class="dot-num dot-57 no-pic" href="javascript:void(0);" data-name="57"
                            data-box="57">02<span class="circle"></span></a>
                        <a class="dot-num dot-58 no-pic" href="javascript:void(0);" data-name="58"
                            data-box="58">03<span class="circle"></span></a>
                        <a class="dot-num dot-59 no-pic" href="javascript:void(0);" data-name="59"
                            data-box="59">04<span class="circle"></span></a>
                        <a class="dot-num dot-60 no-pic" href="javascript:void(0);" data-name="60"
                            data-box="60">05<span class="circle"></span></a>
                         <a class="dot-num dot-60-02 no-pic" href="javascript:void(0);" data-name="60"
                            data-box="60">05<span class="circle"></span></a>
                        <a class="dot-num dot-61 no-pic" href="javascript:void(0);" data-name="61"
                            data-box="61">06<span class="circle"></span></a>
                        <a class="dot-num dot-62 no-pic" href="javascript:void(0);" data-name="62"
                            data-box="62">07<span class="circle"></span></a>

                        <a class="dot-num dot-63 no-pic" href="javascript:void(0);" data-name="63"
                            data-box="63">08<span class="circle"></span></a>
                        <a class="dot-num dot-63-02 no-pic" href="javascript:void(0);" data-name="63"
                            data-box="63">08<span class="circle"></span></a>
                        <a class="dot-num dot-64 no-pic" href="javascript:void(0);" data-name="64"
                            data-box="64">09<span class="circle"></span></a>
                        <a class="dot-num dot-65 no-pic" href="javascript:void(0);" data-name="65"
                            data-box="65">10<span class="circle"></span></a>
                        <a class="dot-num dot-65-02 no-pic" href="javascript:void(0);" data-name="65"
                            data-box="65">10<span class="circle"></span></a>
                        <a class="dot-num dot-66 no-pic" href="javascript:void(0);" data-name="66"
                            data-box="66">11<span class="circle"></span></a>
                        <a class="dot-num dot-66-02 no-pic" href="javascript:void(0);" data-name="66"
                            data-box="66">11<span class="circle"></span></a>
                        <a class="dot-num dot-66-03 no-pic" href="javascript:void(0);" data-name="66"
                            data-box="66">11<span class="circle"></span></a>
                        <a class="dot-num dot-67 no-pic" href="javascript:void(0);" data-name="67"
                            data-box="67">12<span class="circle"></span></a>
                        <a class="dot-num dot-67-02 no-pic" href="javascript:void(0);" data-name="67"
                            data-box="67">12<span class="circle"></span></a>
                        <a class="dot-num dot-67-03 no-pic" href="javascript:void(0);" data-name="67"
                            data-box="67">12<span class="circle"></span></a>
                        <a class="dot-num dot-67-04 no-pic" href="javascript:void(0);" data-name="67"
                            data-box="67">12<span class="circle"></span></a>

                        <a class="dot-num dot-68 no-pic" href="javascript:void(0);" data-name="68"
                            data-box="68">13<span class="circle"></span></a>
                        <a class="dot-num dot-68-02 no-pic" href="javascript:void(0);" data-name="68"
                            data-box="68">13<span class="circle"></span></a>

                        <a class="dot-num dot-69 no-pic" href="javascript:void(0);" data-name="69"
                            data-box="69">14<span class="circle"></span></a>
                        <a class="dot-num dot-69-02 no-pic" href="javascript:void(0);" data-name="69"
                            data-box="69">14<span class="circle"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="note-facilities">
            <div class="note-facilities-columns">
                <ul>
                    <li data-text="56"><span class="no-pic">01</span>
                        <h3>Sunset Viewing Deck - Đài Quan Sát Hoàng Hôn</h3>
                    </li>
                    <li data-text="57"><span class="no-pic">02</span>
                        <h3>Pool Shower - Tắm Hồ Bơi</h3>
                    </li>
                    <li data-text="58"><span class="no-pic">03</span>
                        <h3>Pool Chair – Ghế Thư Giãn</h3>
                    </li>
                    <li data-text="59"><span class="no-pic">04</span>
                        <h3>Floating Sculpture - Tượng Điêu Khắc Nổi</h3>
                    </li>
                </ul>
               <ul>
                    <li data-text="60"><span class="no-pic">05</span>
                        <h3>Feature Sculpture - Tượng Trang Trí </h3>
                    </li>
                    <li data-text="61"><span class="no-pic">06</span>
                        <h3>Pool Bar - Quầy Bar</h3>
                    </li>
                    <li data-text="62"><span class="no-pic">07</span>
                        <h3>Sunken Seat - Sàn Ngồi Âm</h3>
                    </li>
               </ul>
            </div>
            <div class="note-facilities-columns">
                <ul>
                    <li data-text="63"><span class="no-pic">08</span>
                        <h3>Panorama Pool – Hồ Bơi Vô Cực</h3>
                    </li>
                    <li data-text="64"><span class="no-pic">09</span>
                        <h3>Sky Restaurant - Nhà Hàng Rooftop</h3>
                    </li>
                    <li data-text="65"><span class="no-pic">10</span>
                        <h3>BBQ Lounge -  Khu BBQ</h3>
                    </li>
                    <li data-text="66"><span class="no-pic">11</span>
                        <h3>Herb Garden - Vườn Thảo Dược</h3>
                    </li>
                </ul>
                <ul>
                    <li data-text="67"><span class="no-pic">12</span>
                        <h3>Relax Seat - Ghế Ngồi Thư Giãn</h3>
                    </li>
                    <li data-text="68"><span class="no-pic">13</span>
                        <h3>Exercise - Sân Thể Thao </h3>
                    </li>
                    <li data-text="69"><span class="no-pic">14</span>
                        <h3>Yoga Lawn - Khu Tập Yoga </h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<script>


    function reload_js(src) {
        $('script[src="' + src + '"]').remove();
        $('<script>').attr('type', 'text/javascript').attr('src', src).appendTo('#loadscript');
    }
    reload_js('assets/clients/js/animations.js');
    reload_js('assets/clients/js/animations.js');
</script>