    <div class="home-news-project"  id="section6" style="background-image:url(./assets/clients/imgs/tintucduan/bg_tintucduan.png);">
        <div class="dialog dialog-lg zoom-anim-dialog p-xlg" ng-if="dataLoaded">
            <a class="close-detail" href=".//tin-tuc">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.89 22.89"><defs><style>.cls-1{fill:#fff;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M22.55,20.91l-9.46-9.46L22.55,2A1.16,1.16,0,0,0,20.91.34L11.45,9.8,2,.34A1.18,1.18,0,0,0,.34.34,1.18,1.18,0,0,0,.34,2L9.8,11.45.34,20.91A1.16,1.16,0,0,0,2,22.55l9.46-9.46,9.46,9.46a1.16,1.16,0,0,0,1.64-1.64Z"/></g></g></svg>
            </a> 
            <div class="detail-logo">
                <img src="./assets/clients/imgs/header/detail-logo.png" alt="" class="img-res">
            </div>
            <ul class="list-register-news">
                <li><a href="mailto:sales@muinesummerland.vn"><img src="assets/clients/imgs/tintucduan/nhantin.png" alt=""></a></li>
                <li class="line-register"></li>
                <li><a target="_blank" href="https://www.facebook.com/TapdoanHungLocPhat"><img src="assets/clients/imgs/tintucduan/outline-fb.png" alt=""></a></li>
                <li class="width-register"></li>
                <li><a href="tel:1800789989"><img src="assets/clients/imgs/tintucduan/outline-phone.png" alt=""></a></li>
            </ul>
            <div class="content-popup pop-content">
                <div class="group-heading-detail-page">
                    <div class="date-news">
                        <p class="big-date" ng-bind="oNew.DayBinding"></p>
                        <p class="small-date" ng-bind="oNew.MonthYearBinding"></p>
                    </div>
                    <h3 class="heading-detail-news" ng-bind="oNew.ArtName"></h3>
                </div>
                <div class="description-content-news pop-content">
                    <div ng-bind-html="trustedHtml(oNew.Content)"></div>
                    <ul class="list-share">
                        Share : 
                        <!-- <li><a ng-click="shareFB(oNew)"><img src="assets/clients/imgs/tintucduan/fb.png" alt=""></a></li> -->
                        <li><div class="zalo-share-button" data-href="{{oNew.link}}" data-oaid="579745863508352884" data-layout="2" data-color="blue" data-customize=false></div></li>
                        <li><a ng-click="copyLink(oNew)" class="copylink"><img src="assets/clients/imgs/tintucduan/link.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({appId: '1149670902182902', status: true, cookie: true,
            xfbml: true});
        };
        (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol +
            '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
        function reload_js(src) {
            $('script[src="' + src + '"]').remove();
            $('<script>').attr('type', 'text/javascript').attr('src', src).appendTo('#loadscript');
        }
        setTimeout(() => {
            reload_js('assets/clients/js/zalo.js');
        },300)
    </script>