<div ng-controller="editDetailCtrl">
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <form role="form" name="Form" ng-submit="event.submitForm()" novalidate>
                <fieldset>
                    <div class="col-lg-9">
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>Position<span class="text-danger">&nbsp;(*)</span></label>
                                <input tring-to-number class="form-control" placeholder="Tiêu đề" name="Name" type="number" ng-model="selectedMasterDetail.position" required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                            </div> 
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>carpet_area<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tiêu đề" name="Name" type="number" ng-model="selectedMasterDetail.carpet_area" required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                            </div>  
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>built_up_area<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tiêu đề" name="Name" type="number" ng-model="selectedMasterDetail.built_up_area" required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                            </div>  
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>number_bedrooms<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tiêu đề" name="Name" type="number" ng-model="selectedMasterDetail.number_bedrooms" required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                            </div> 
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>x_axis<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tiêu đề" name="Name" type="number" ng-model="selectedMasterDetail.x_axis" required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                            </div>  
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>y_axis<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tiêu đề" name="Name" type="number" ng-model="selectedMasterDetail.y_axis" required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                            </div>  
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>radius<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tiêu đề" name="Name" type="text" ng-model="selectedMasterDetail.radius" required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                            </div> 
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                                <label>matrix<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tiêu đề" name="Name" type="text" ng-model="selectedMasterDetail.matrix" required />
                                <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                            </div>  
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{'has-error': Form.kind_of_room.$invalid && Form.kind_of_room.$touched && Form.kind_of_room.$error.required}">
                                <label>kind_of_room<span class="text-danger">&nbsp;(*)</span></label>
                                <input class="form-control" placeholder="Tiêu đề" name="kind_of_room" type="text" ng-model="selectedMasterDetail.kind_of_room" required />
                                <p ng-show="Form.kind_of_room.$invalid && Form.kind_of_room.$touched && Form.kind_of_room.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                            </div>  
                        </div>
                        <div class="form-group" ng-class="{'has-error': Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required}">
                            <label>Đường dẫn<span class="text-danger">&nbsp;(*)</span></label>
                            <input class="form-control" placeholder="Tiêu đề" name="Name" type="text" ng-model="selectedMasterDetail.path_name" required />
                            <p ng-show="Form.Name.$invalid && Form.Name.$touched && Form.Name.$error.required" class="text-danger">Vui lòng nhập tiêu đề.</p>
                        </div>
                        <div class="form-group">
                            <label>Coords</label>
                            <textarea class="form-control" rows="5" placeholder="Tóm tắt/Mô tả" name="Des" type="text" ng-model="selectedMasterDetail.coords"></textarea>                            
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Thông tin SEO</h5>                                
                            </div>
                            <div class="ibox-content">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'has-error': Form.SeoTitle.$invalid && Form.SeoTitle.$touched && Form.SeoTitle.$error.required}">
                                            <label>SEO Title<span class="text-danger">&nbsp;(*)</span></label>
                                            <input class="form-control" placeholder="Tiêu đề" name="SeoTitle" type="text" ng-model="selectedMasterDetail.SeoTitle" autofocus required ng-blur="event.selectedChange()"/>
                                            <p ng-show="Form.SeoTitle.$invalid && Form.SeoTitle.$touched && Form.SeoTitle.$error.required" class="text-danger">Vui lòng nhập seo title.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>SEO Keyword</label>
                                            <input class="form-control" placeholder="Từ khoá" name="SeoKeyword" type="text" ng-model="selectedMasterDetail.SeoKeyword"  />                                            
                                        </div>                                        
                                        <div class="form-group" ng-class="{'has-error': Form.SeoCanonica.$invalid && Form.SeoCanonica.$touched && Form.SeoCanonica.$error.required}">
                                            <label>SEO Canonica<span class="text-danger">&nbsp;(*)</span></label>
                                            <input class="form-control" placeholder="Canonica" name="SeoCanonica" type="text" ng-model="selectedMasterDetail.SeoCanonica"  required />
                                            <p ng-show="Form.SeoCanonica.$invalid && Form.SeoCanonica.$touched && Form.SeoCanonica.$error.required" class="text-danger">Vui lòng nhập seo describes.</p>
                                        </div> 
                                    </div>
                                    <div class="col-md-6">             
                                        <div class="form-group">
                                            <label>Meta Robot</label>
                                            <input class="form-control" placeholder="Meta Robot" name="MetaRobot" type="text" ng-model="selectedMasterDetail.MetaRobot"  />                                            
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': Form.SeoDescribes.$invalid && Form.SeoDescribes.$touched && Form.SeoDescribes.$error.required}">
                                            <label>SEO Describes<span class="text-danger">&nbsp;(*)</span></label>
                                            <textarea class="form-control" placeholder="Mô tả" name="SeoDescribes" rows="3" ng-model="selectedMasterDetail.SeoDescribes"  required></textarea>
                                            <p ng-show="Form.SeoDescribes.$invalid && Form.SeoDescribes.$touched && Form.SeoDescribes.$error.required" class="text-danger">Vui lòng nhập seo describes.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-lg-3">
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft" style="z-index: 0;">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Mặt bằng</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-group">                  
                                        <select class="form-control" name="service" ng-model="selectedMasterDetail.master_plan_id">
                                            <option value="">--Mặt bằng--</option>
                                            <option value="{{x.id}}" ng-repeat="x in masterplan track by $index" ng-bind="x.name"></option>
                                        </select>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Kiểu hiển thị<span class="text-danger">&nbsp;(*)</span></h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" ng-class="{'has-error': Form.temps.$invalid && Form.temps.$error.required }"> 
                                    <select class="form-control" name="service" ng-model="selectedMasterDetail.shape">
                                        <option value="">--Kiếu hiển thị--</option>
                                        <option value="{{x.Name}}" ng-repeat="x in type_display track by $index" ng-bind="x.Name"></option>
                                    </select>                                                                  
                                    <p class="text-danger" ng-show="Form.temps.$invalid && Form.temps.$error.required">Vui lòng chọn kiểu hiển thị.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Ảnh tiêu biểu</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">                                    
                                    <img id="img" class="img-review" ng-src="{{selectedMasterDetail.Image}}">
                                    <div class="modal-footer no-border">
                                        <button type="button" class="btn btn-primary" ng-click="event.browserImg()">Browser</button> 
                                    </div>                                  
                                </div>
                            </div>
                        </div> 
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Đăng</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="panel-body"> 
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <label><i class="fa fa-check"></i>&nbsp;Trạng thái:</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="onoffswitch">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="selectedMasterDetail.Status" ng-true-value="'1'" ng-false-value="'0'" />
                                                    <label class="onoffswitch-label" for="myonoffswitch">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <label><i class="fa fa-check"></i>&nbsp;Thứ tự:</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <input class="form-control" placeholder="Số thứ tự" name="sort" type="number" string-to-number ng-model="selectedMasterDetail.sort"  />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer no-border">
                                        <button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Đăng</button>
                                    </div>
                                </div>
                            </div>
                        </div>                         
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>