<div class="right-nav">
    <ul class="nav-action" id="bietthu-nav">
        <!-- <li data-menuanchor="tinh-hoa-cua-bien-ca"><a href="#tinh-hoa-cua-bien-ca">01</a></li>
        <li data-menuanchor="mat-bang-tong-the"><a href="#mat-bang-tong-the">02</a></li>
        <li data-menuanchor="dai-cong-vien-nuoc"><a href="#dai-cong-vien-nuoc">03</a></li>
        <li data-menuanchor="cac-tien-ich-noi-troi"><a href="#cac-tien-ich-noi-troi">04</a></li>
        <li data-menuanchor="hinh-anh-noi-that"><a href="#hinh-anh-noi-that">05</a></li> -->
        
        <li data-menuanchor="tinh-hoa-cua-bien-ca"><a href="#tinh-hoa-cua-bien-ca">01</a></li>
        <li data-menuanchor="mat-bang-tong-the"><a href="#mat-bang-tong-the">02</a></li>
        <li data-menuanchor="cac-tien-ich-noi-troi"><a href="#cac-tien-ich-noi-troi">03</a></li>
        <li data-menuanchor="hinh-anh-noi-that"><a href="#hinh-anh-noi-that">04</a></li>
    </ul>
</div>


<div id="fullpage2">
    <div class="section tinhhoa" id="section14" ng-style="{'background':'url(' + section.sectionTH.background + ')', 'background-size': 'cover'}">
        <div class="container">
            <div class="wrapper-tinhhoa">
                <div class="group-tinhhoa">
                    <div class="left-tinhhoa">
                        <div class="heading-tinhhoa">
                            <h3 class="title">
                                <img ng-src="{{section.sectionTH.title}}" alt="tinh hoa của biển cả" class="img-res">
                                <!-- <p class="first-head">
                                    Tinh hoa
                                    <span class="small-head">của biển cả</span>
                                </p> -->
                            </h3>
                            <span class="slogan" ng-bind="section.sectionTH.title_section"></span>
                        </div>
                        <div class="text-group-tinhhoa">
                            <div class="description-tinhoa" ng-bind-html="section.sectionTH.content">
                            </div>
                            <div class="group-number-house">
                                <h4 class="heading-number-house">
                                    Cơ cấu sản phẩm
                                </h4>
                                <div class="bumber-house-grid">
                                    <div class="items">
                                        <div class="name">Biệt thự</div>
                                        <div class="number">
                                            <span class="count" ng-bind="section.sectionTH.count_bt"></span>
                                            <p>căn</p>
                                        </div>
                                    </div>
                                    <div class="items">
                                        <div class="name">Nhà phố</div>
                                        <div class="number">
                                            <span class="count" ng-bind="section.sectionTH.count_np"></span>
                                            <p>căn</p>
                                        </div>
                                    </div>
                                    <div class="items">
                                        <div class="name">Nhà phố <br> thương mại</div>
                                        <div class="number">
                                            <span class="count" ng-bind="section.sectionTH.count_nptm"></span>
                                            <p>căn</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-tinhhoa">
                        <img ng-src="{{section.sectionTH.image}}" alt="img" class="img-res">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-matbang" id="section5" style="background:url(./assets/clients/imgs/matbang/map.jpg); background-size: cover;">
		<div class="text-map-matbang">
			<div class="group-text-map" id="tab-1">
				The island
			</div>
			<div class="group-text-map" id="tab-2">
				The summer
			</div>
			<div class="group-text-map" id="tab-3">
				The Utopia villas
			</div>
		</div>
		<div class="map-matbang matbang-pc">
			<div class="mask order-1 none-img number-img-1" style="background: url(./assets/clients/imgs/matbang/1.jpg); background-size: cover;"></div>
			<div class="mask order-2 none-img number-img-2" style="background: url(./assets/clients/imgs/matbang/2.jpg); background-size: cover;"></div>
			<div class="mask order-3 none-img number-img-3" style="background: url(./assets/clients/imgs/matbang/3.jpg); background-size: cover;"></div>
			<div class="mask2">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440.25 727.75">
					<defs>
					   <style>.cls-1{fill:transparent;stroke:transparent;stroke-miterlimit:10;opacity:0.38;}.cls-2{fill:transparent;opacity:0.46;}.cls-3{fill:transparent;}.cls-4{fill:transparent;}</style>
					</defs>
					<g id="Layer_2" data-name="Layer 2">
					   <g id="Layer_1-2" data-name="Layer 1">
							  <rect class="cls-1" x="0.5" y="0.5" width="1439.25" height="726.75"/>
							  <a data-tab="tab-1" class="slide-img-project-outline fancybox-map" data-fancybox="images" href="assets/clients/imgs/matbang/kv1.jpg">
								<path class="cls-2" d="M85.89,293.41V68S89,56.54,102.59,56.54H524.67s8.87,2.61,9.92,9.39-6.26,34.44-6.26,34.44L496,163l-43.31,51.65-68.34,55.83s-18.26-8.35-34.44-8.87-26-4.7-39.6-1-21.44,3.13-21.44,3.13S277.37,270.46,268,276.2s-31.83,17.21-31.83,17.21l-34.43,7.31H100Z"/>
							</a>
							<a data-tab="tab-2" class="slide-img-project-outline fancybox-map" data-fancybox="images" href="assets/clients/imgs/matbang/kv2.jpg">
								<path class="cls-3" d="M85.89,385.76V319.5s0-7.83,7.83-9.91,102.26,5.74,127.82-4.7,60.53-27.13,60.53-27.13,12.52-7.83,31.3-9.39,45.91,4.17,45.91,4.17l14.09,4.18s14.09,6.26,19.3,1.56,74.61-67.82,74.61-67.82l10.44-9.92s8.35-1.56,10.43,0,21.39,9.39,38.61,7.83,32.87-1.57,38.61-4.17,21.91-4.35,21.91-4.35,23.48-26.44,83.48-34.26,89.74,3.13,89.74,3.13,44.35,9.39,80.87,33.91,27.65,20.87,43.3,40.7,29.74,53.74,35,72,2.61,75.13,2.61,75.13l-12.52,6.78H95.28Z"/>
							</a>
							<a  data-tab="tab-3" class="slide-img-project-outline fancybox-map" data-fancybox="images" href="assets/clients/imgs/matbang/kv3.jpg">
								<path class="cls-4" d="M936.85,388.89s4.17-46.43-3.13-74.09-30.26-64.17-30.26-64.17-26.09-46.43-29.74-49.56-24.52-13-24.52-13-8.87-5.22.52-15.13,10.95-23,10.95-23l9.92-10.43,5.21-24,7.83-47s-3.65-10.43,11-10.43h88.17l264.52-2.61s13.57,2.09,14.61,11.48,0,95.79,0,95.79l.47,222.47s-.47,11.48-15.08,12-291.65,0-291.65,0h-12Z"/>
							</a>
					   </g>
					</g>
				 </svg>
			</div>
		</div>
        <div class="map-matbang matbang-ipad-pro">
			<div class="maskpro order-1 none-img number-img-1" style="background: url(./assets/clients/imgs/matbang/1366x1024/full.jpg); background-size: cover;"></div>
			<div class="maskpro order-2 none-img number-img-2" style="background: url(./assets/clients/imgs/matbang/1366x1024/full.jpg); background-size: cover;"></div>
			<div class="maskpro order-3 none-img number-img-3" style="background: url(./assets/clients/imgs/matbang/1366x1024/full.jpg); background-size: cover;"></div>
			<div class="maskpro">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 1024">
                    <defs>
                        <style>.cls-1{fill:transparent;stroke:transparent;stroke-miterlimit:10;opacity:0.38;}.cls-2{fill:transparent;opacity:0.46;}.cls-3{fill:transparent;}.cls-4{fill:transparent;}</style>
                     </defs>
                    <g id="Layer_2" data-name="Layer 2">
                       <g id="Layer_1-2" data-name="Layer 1">
                          <rect class="cls-1" width="1366" height="1024"/>
                          <a data-tab="tab-1" class="slide-img-project-outline fancybox-map-ipad-pro" data-fancybox="images" href="assets/clients/imgs/matbang/1366x1024/khu-1.jpg">
                            <polygon class="cls-2" points="88.56 71.35 88.56 341.35 140.22 356.61 278.74 326.09 319.83 307.3 387.91 314.35 417.26 293.22 450.13 255.65 538.17 133.56 549.91 71.35 105 63.13 88.56 71.35" />
                          </a>
                          <a data-tab="tab-2" class="slide-img-project-outline fancybox-map-ipad-pro" data-fancybox="images" href="assets/clients/imgs/matbang/1366x1024/khu-2.jpg">
                            <polygon class="cls-3" points="88.56 378.91 95.61 363.65 124.96 363.65 220.04 356.61 298.7 328.44 331.56 314.35 362.09 320.22 405.52 324.91 420.78 307.3 487.7 240.39 549.91 240.39 626.22 227.48 694.3 194.61 771.78 188.74 834 209.87 876.26 241.56 915 283.83 951.39 364.83 951.39 438.78 951.39 461.09 922.04 470.48 100.3 470.48 88.56 457.56 88.56 378.91" />
                        </a>
                        <a  data-tab="tab-3" class="slide-img-project-outline fancybox-map-ipad-pro" data-fancybox="images" href="assets/clients/imgs/matbang/1366x1024/khu-3.jpg">
                            <path class="cls-4" d="M871.57,209.87l31.69-69.26,10.57-72.78L1192,63.13h103.31V464.61l-89.22,5.87H979.57L962,451.7C951.46,344.37,950,226.44,871.57,209.87Z" />
                        </a>
                          
                       </g>
                    </g>
                 </svg>
			</div>
		</div>
        <div class="map-matbang matbang-ipad-mini">
			<div class="maskmini order-1 none-img number-img-1" style="background: url(./assets/clients/imgs/matbang/1024x768/full.jpg); background-size: cover;"></div>
			<div class="maskmini order-2 none-img number-img-2" style="background: url(./assets/clients/imgs/matbang/1024x768/full.jpg); background-size: cover;"></div>
			<div class="maskmini order-3 none-img number-img-3" style="background: url(./assets/clients/imgs/matbang/1024x768/full.jpg); background-size: cover;"></div>
			<div class="maskmini">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768">
                    <defs>
                        <style>.cls-1{fill:transparent;stroke:transparent;stroke-miterlimit:10;opacity:0.38;}.cls-2{fill:transparent;opacity:0.46;}.cls-3{fill:transparent;}.cls-4{fill:transparent;}</style>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <rect class="cls-1" width="1024" height="768" />
                        <a data-tab="tab-1" class="slide-img-project-outline fancybox-map-ipad-mini" href="assets/clients/imgs/matbang/1024x768/khu-1.jpg">
                            <path class="cls-2" d="M64,257V59L83,46H213l197,6v53L322,216s-34,21-30,22-76-5-76-5l-32,24-76,10H78Z" />
                        </a>
                        <a data-tab="tab-2" class="slide-img-project-outline fancybox-map-ipad-mini" href="assets/clients/imgs/matbang/1024x768/khu-2.jpg">
                            <polygon class="cls-3" points="69 343 69 274 121 267 184 267 230 241 280 241 306 249 329 218 366 182 410 182 512 150 595 150 686 207 709 267 712 329 712 350 94 350 73 350 69 343" />
                        </a>
                        <a  data-tab="tab-3" class="slide-img-project-outline fancybox-map-ipad-mini" href="assets/clients/imgs/matbang/1024x768/khu-3.jpg">
                            <path class="cls-4" d="M730,350l-11-83-16-41-11-24-12-22-16-11-8-7s-3-15,0-19,14-18,14-18l5-15,6-23,1-23V51H969l5,292-8,7Z" />
                        </a>
                      </g>
                    </g>
                  </svg>
			</div>
		</div>
	</div>
    

    <div class="section home-service-hot" id="section10" style="background:url(./assets/clients/imgs/service_hot/service.png); background-size: cover;">
        <div class="container">
            <h2 class="heading-sevice-hot">Các tiện ích nổi trội</h2>
            <div class="slide-service-hot" ng-if="dataLoaded && dataLoadedTI">
                <div class="grid-service" ng-repeat="item in itemAsTI track by $index">
                    <div class="box-service" ng-repeat="items in item.list track by $index">
                        <a href="#">
                            <div class="box-service-img">
                                <img ng-src="{{items.Image}}" alt="" class="img-res" ng-hide="!dataLoadedTI" >
                            </div>
                            <div class="box-service-text">
                                <div class="title" ng-bind="items.Title"  ng-hide="!dataLoadedTI" ></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section gallery-house" id="section11" style="background:url(./assets/clients/imgs/galleryhouse/gallery-house.png); background-size: cover;">
        <div class="container">
            <h2 class="heading-gallery-house">Hình Ảnh Nội Thất</h2>
            <div class="tabs-gallery-house">
                <div class="main-tabs">
                    <ul id="control-tabs-gallery">
                        <li ng-repeat="item in section.section_CATESLIDE_IMAGE track by $index" data-name="{{$index}}">
                            <a href="{{'#tab' + item.CatID}}" ng-bind="item.CatName"></a>
                        </li>
                    </ul>

                </div>
                <div class="content-tab" ng-if="dataLoaded && dataLoadedTI">
                    <div ng-if="dataLoaded" ng-repeat="item in itemAs track by $index" class="tab-gallery-content" id="{{item.tab}}">
                        <div class="slide-gallery" >
                            <div class="slide-img" ng-repeat="items in item.list track by $index">
                                <img ng-src="{{items.Image}}" alt="" class="img-res" ng-hide="!dataLoaded" >
                                <div class="tienich-text" ng-bind="items.Title"></div>
                            </div>
                        </div>
                        <div class="thumb-gallery">
                            <div class="slide-img" ng-repeat="items in item.list track by $index">
                                <img ng-src="{{items.Image}}" alt="" class="img-res">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.cls-3').hover(function () {
    	$('.number-img-2').toggleClass('active-map')
	})
	$('.cls-2').hover(function () {
		$('.number-img-1').toggleClass('active-map')
	})
	$('.cls-4').hover(function () {
		$('.number-img-3').toggleClass('active-map')
	})
</script>

<script ng-if="dataLoaded">
	function reload_js(src) {
		$('script[src="' + src + '"]').remove();
		$('<script>').attr('type', 'text/javascript').attr('src', src).appendTo('#loadscript');
	}

	setTimeout(() => {
		reload_js('assets/clients/js/animations.js');
	},0)
</script>