<div>    
    <div class="row">        
        <div class="col-md-12">
            <div class="row wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Danh sách chuyến thư</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <button class="btn btn-primary" ng-click="event.add()">Thêm mới</button> 
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div id="editable_length" class="dataTables_length">
                                        <label>
                                            <select class="form-control input-sm" aria-controls="editable" name="editable_length" ng-model="numberPage">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                        </label>
                                        dòng trên mỗi trang
                                    </div>
                                </div>                                
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input type="text" placeholder="Tìm kiếm" class="input-sm form-control" ng-model="searchText" /> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                <label for="item-all">       
                                                     <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="event.checkAll()">
                                                </label>
                                                <button class="btn btn-danger fa fa-trash padding" data-toggle="modal" data-target="#delAllAlert"></button>
                                            </th>
                                            <th class="center">Mã</th>
                                            <th class="center">Hub đi</th>
                                            <th class="center">Hub đến</th>
                                            <th class="center">Trọng lượng</th>
                                            <th class="center">Loại</th>
                                            <th class="center">Ghi chú</th>
                                            <th class="center">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="item in shipments | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterOrder">
                                            <td class="center">
                                                <label for="item-{{item.shipmentId}}">       
                                                     <input id="item-{{item.shipmentId}}" type="checkbox" name="check-item" checklist-model="listToDelete.listPackIds" checklist-value="item.shipmentId">
                                                </label>
                                            </td>
                                            <td class="center" ng-bind="item.shipmentCustomId"></td>
                                            <td class="center" ng-bind="item.fromPlaceDetail"></td>
                                            <td class="center" ng-bind="item.toPlaceDetail"></td>
                                            <td class="center" ng-bind="item.weight"></td>
                                            <td class="center" ng-bind="item.typeShip"></td>
                                            <td class="center" ng-bind="item.note"></td>
                                            <td class="center">
                                                <button class="btn btn-info fa fa-edit padding-2" ng-click="event.edit(item)"></button>
                                                <button class="btn btn-danger fa fa-trash padding-2" data-toggle="modal" data-target="#delAlert" ng-click="event.getItem(item)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row line-top">
                                <dir-pagination-controls class="right" pagination-id="filterOrder" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa chuyến thư</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="event.del()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Xóa nhiều mục</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa những mục đã chọn?
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-danger" ng-click="event.delAllItem()">Có</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                </div>
            </div>
        </div>
    </div>
</div>