<div ng-controller="packageDetailCtrl">
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <form role="form" name="Form" ng-submit="submitForm()" novalidate>
                <fieldset>
                    <div class="col-lg-12">  
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">                                           
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Thông tin tải</h5>    
                                    <div class="ibox-tools">
                                        <button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Lưu</button>
                                        <button type="button" class="btn btn-primary" ng-click="onPrint()">In tải</button>
                                        <button type="button" class="btn btn-primary">Thoát</button>
                                    </div>                            
                                </div>
                                <div class="ibox-content">
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <div class="form-group" ng-class="{'has-error': Form.packageCustomId.$invalid && Form.packageCustomId.$touched && Form.packageCustomId.$error.required}">
                                                <label>Mã <span class="text-danger">&nbsp;(*)</span></label>
                                                <input class="form-control" placeholder="Mã tải" name="packageCustomId" ng-disabled="isUpdate" type="text" ng-model="package.packageCustomId" autofocus required />
                                                <p ng-show="Form.packageCustomId.$invalid && Form.packageCustomId.$touched && Form.packageCustomId.$error.required" class="text-danger">Vui lòng nhập mã phiếu gửi.</p>
                                            </div>           
                                            <div class="form-group">
                                                <label>Ngày gửi</label>
                                                <div class="dropdown width">
                                                    <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                        <div class="input-group">
                                                            <input type="datetime" class="form-control input-sm" name="postOn" ng-model="package.packageDatetime" />
                                                            <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-calendar"></i></button> </span>
                                                        </div>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <datetimepicker ng-model="package.packageDatetime" data-datetimepicker-config="{ dropdownSelector: '#dLabel', minView: 'day',modelType: 'YYYY-MM-DD'}"></datetimepicker>
                                                    </ul>
                                                </div>
                                            </div>
                                            <label class="col-md-12">Hub đi<span class="text-danger">&nbsp;(*)</span></label>
                                            <div class="form-group col-md-4" ng-class="{'has-error': Form.fromPlace.$invalid && Form.fromPlace.$touched && Form.fromPlace.$error.required}">                                                
                                                <input class="form-control uppercase" placeholder="Mã hub" name="fromPlace" type="text" ng-model="package.fromPlace" my-enter="getDistrictFromById(package.fromPlace)" ng-blur="getDistrictFromById(package.fromPlace);" required />                                                    
                                                <p ng-show="Form.fromPlace.$invalid && Form.fromPlace.$touched && Form.fromPlace.$error.required" class="text-danger">Vui lòng nhập tỉnh đi.</p>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <input class="form-control uppercase" placeholder="Hub đi" name="fromPlaceDetail" type="text" ng-model="package.fromPlaceDetail" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-md-12">Hub đến<span class="text-danger">&nbsp;(*)</span></label>
                                            <div class="form-group col-md-4" ng-class="{'has-error': Form.toPlace.$invalid && Form.toPlace.$touched && Form.toPlace.$error.required}">                                                
                                                <input class="form-control uppercase" placeholder="Mã hub" name="toPlace" type="text" ng-model="package.toPlace" my-enter="getDistrictToById(package.toPlace)" ng-blur="getDistrictToById(package.toPlace);" required />                                                    
                                                <p ng-show="Form.toPlace.$invalid && Form.toPlace.$touched && Form.toPlace.$error.required" class="text-danger">Vui lòng nhập tỉnh đi.</p>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <input class="form-control uppercase" placeholder="Hub đến" name="toPlaceDetail" type="text" ng-model="package.toPlaceDetail" />
                                            </div>
                                            <div class="form-group" ng-class="{'has-error': Form.weight.$invalid && Form.weight.$touched && Form.weight.$error.required}">
                                                <label>Trọng lượng (kg)<span class="text-danger">&nbsp;(*)</span></label>
                                                <input class="form-control" string-to-number placeholder="Trọng lượng" name="weight" type="number" ng-model="package.weight" autofocus required />
                                                <p ng-show="Form.weight.$invalid && Form.weight.$touched && Form.weight.$error.required" class="text-danger">Vui lòng nhập trọng lượng.</p>
                                            </div>
                                            <label class="col-md-12">Dịch vụ<span class="text-danger">&nbsp;(*)</span></label>
                                            <div class="form-group col-sm-4">
                                                <input class="form-control uppercase" name="serviceId" ng-model="package.serviceId" placeholder="Mã DV" />
                                            </div>
                                            <div class="form-group col-sm-8">
                                                <select class="form-control" name="service" ng-model="package.serviceId">
                                                    <option value="">--Chọn dịch vụ--</option>
                                                    <option value="{{x.ServiceId}}" ng-repeat="x in services track by $index" ng-bind="x.Name"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Ghi chú</label>
                                                <textarea class="form-control" rows="4" placeholder="Nội dung" name="note" type="text" ng-model="package.note" autofocus></textarea>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                  
                        </div>                       
                    </div>
                    <div class="col-lg-12">
                        <div class="row wrapper wrapper-content my-wrapper animated fadeInLeft">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Danh sách phiếu gửi trong tải</h5>                                
                                </div>
                                <div class="ibox-content">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="col-md-4">Quét mã vạch</label>
                                                <div class="input-group m-b col-md-7 pull-left">
                                                    <input type="text" class="card-checkin form-control" placeholder="Mã vạch" my-enter="onEnterCode()" ng-model="billCustomId" autofocus="">
                                                </div>
                                            </div>                                
                                            <div class="col-md-6">
                                                <label class="col-md-3">Tìm phiếu gửi</label>
                                                <div class="col-md-9">
                                                    <div class="btn-group mr-1 mb-1" style="display:inline-flex;width:100%;">
                                                        <button type="button" class="btn btn-outline-success btn-square" style="width: 92%;" ng-bind="selectedBill"></button>
                                                        <button type="button" class="btn btn-outline-success dropdown-toggle btn-square" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-chevron-down"></i>
                                                        </button>
                                                        <div class="dropdown-menu" role="menu" style="padding: 5px; top:32px; width:100%">
                                                            <input class="form-control" disable-auto-close="" type="search" ng-model="searchFilter" placeholder="Tìm hàng" autofocus="">
                                                            <ul class="makePaymentDropdownUlStyle">
                                                                <li role="presentation" ng-repeat="bill in listBills | filter: searchFilter track by $index" ng-click="selectBill(bill)">
                                                                    {{bill.billCustomId + '-' + bill.fromPlace + '-' + bill.CustomerName}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="center">
                                                            <label for="item-all">       
                                                                <input id="item-all" type="checkbox" name="checkAll" ng-model="selectAll" ng-change="event.checkAll()">
                                                            </label>
                                                            <button class="btn btn-danger fa fa-trash padding" type="button" data-toggle="modal" data-target="#delAllAlert"></button>
                                                        </th>
                                                        <th class="center">Mã</th>
                                                        <th class="center">Tên khách</th>
                                                        <th class="center">Ngày gửi</th>
                                                        <th class="center">Người lập</th>
                                                        <th class="center">Nơi đi</th>
                                                        <th class="center">Nơi đến</th>
                                                        <th class="center">Trọng lượng</th>  
                                                        <th class="center"></th>                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr dir-paginate="item in packageDetails | filter:searchText | itemsPerPage: numberPage track by $index" pagination-id="filterOrder">
                                                        <td class="center">
                                                            <label for="item-{{item.packDetailId}}">       
                                                                <input id="item-{{item.packDetailId}}" type="checkbox" name="check-item" checklist-model="listToDelete.listPackageDetails" checklist-value="item">
                                                            </label>
                                                        </td>
                                                        <td class="center" ng-bind="item.billCustomId"></td>
                                                        <td class="center" ng-bind="item.CustomerName"></td>     
                                                        <td class="center" ng-bind="item.createdDate"></td>
                                                        <td class="center" ng-bind="item.UserName"></td>
                                                        <td class="center" ng-bind="item.fromPlace"></td>
                                                        <td class="center" ng-bind="item.districtTo"></td>
                                                        <td class="center" ng-bind="item.weight"></td>  
                                                        <td class="center">
                                                            <button type="button" class="btn btn-danger fa fa-trash padding-2" data-toggle="modal" data-target="#delAlert" ng-click="event.getItem(item)"></button>
                                                        </td>                                                      
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row line-top">
                                            <dir-pagination-controls class="right" pagination-id="filterOrder" max-size="numOfPage" boundary-links="true"></dir-pagination-controls>
                                        </div>
                                    </div>
                                    <div class="modal-footer no-border">
                                        <button type="submit" class="btn btn-primary" ng-disabled="Form.$invalid">Lưu</button>
                                        <button type="button" class="btn btn-primary" ng-click="onPrint()">In tải</button>
                                        <button type="button" class="btn btn-primary">Thoát</button>
                                    </div>
                                </div>
                            </div>  
                        </div> 
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal bs-modal-sm" id="delAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Xóa tải</h4>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="event.del()">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal bs-modal-sm" id="delAllAlert" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Xóa nhiều mục</h4>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa những mục đã chọn?
                    </div>
                    <div class="modal-footer">                    
                        <button type="button" class="btn btn-danger" ng-click="event.delAllItem()">Có</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>                    
                    </div>
                </div>
            </div>
        </div>
</div>