.wrapper-canhodichvu{
    width: 100%;
    max-width: 75vw !important;
    margin: auto;
    padding-top: 80px;
}

.group-canhodichvu {
    display: grid;
    grid-template-columns: 40% 45%;
    grid-gap: 100px;
    justify-content: flex-start;
}
.group-canhodichvu .right-canhodichvu img{
    display: block;
    height: 100%;
}
.group-canhodichvu .right-canhodichvu{
    height: 77vh;
}

.group-canhodichvu .left-canhodichvu .heading-canhodichvu{
    position: relative;
}

.group-canhodichvu .left-canhodichvu .description-tinhoa{
    font-size: 16px;
    color: #fff;
    text-align: justify;
}
.text-group-canhodichvu{
    max-width: 95%;
    margin-left: auto;
}

.group-canhodichvu .left-canhodichvu .heading-canhodichvu .slogan{
    position: absolute;
    top: 0;
    right: 0;
    background: #082148;
    font-size: 20px;
    color: #fff;
    padding: 0px 10px 5px 10px;
}
.group-canhodichvu .left-canhodichvu .heading-canhodichvu .title img{
    padding: 50px 0 30px 0;
}
.group-canhodichvu .left-canhodichvu .heading-canhodichvu .title .first-head{
    font-size: 80px;
    font-family: 'Housttely Signature';
    color: #fff;
}
.group-canhodichvu .left-canhodichvu .heading-canhodichvu .title .first-head .small-head{

    position: absolute;
    font-size: 33px;
    left: 150px;
    bottom: 40px;
    font-weight: bold;
}

.group-number-house-canhodichvu .heading-number-house{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 14px 0px;
    position: relative;
}

.group-number-house-canhodichvu .heading-number-house::after , .group-number-house-canhodichvu .heading-number-house::before{
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background: #fff;
    position: absolute;
    opacity: .7;
}
.group-number-house-canhodichvu .heading-number-house::after{
    left: 0;
    top: 20px;
}
.group-number-house-canhodichvu .heading-number-house::before{
    right: 0;
    top: 20px;
}
.description-canhodichvu{
    color: #fff;
    text-align: justify;
    width: 100%;
    max-width: 550px;
    margin-left: auto;
}
.group-number-house-canhodichvu .bumber-house-grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(5 , 28px);
    grid-gap: 10px;
}
.group-number-house-canhodichvu .bumber-house-grid .items {
    height: 100%;
    background: url(../imgs/canhodichvu/child.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1/8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    color: #fff;
    border: 1px solid rgba(255,255,255, .2);
}
.group-number-house-canhodichvu .bumber-house-grid .items .name{
    font-size: 22px;
    font-weight: bold;
}
.group-number-house-canhodichvu .bumber-house-grid .items .number{
    font-size: 78px;
    font-weight: bold;
    line-height: 1;
}
.group-number-house-canhodichvu .bumber-house-grid .items p{
    font-size: 22px;
}
.count.count-number0 {
    margin-right: -23px;
}






@media screen and (max-width: 1024px) {
    .wrapper-canhodichvu {
        max-width: 90vw !important;
    }
    .group-canhodichvu{
        display: inherit;
    }
    .group-canhodichvu .right-canhodichvu{
        margin-top: 20px;
    }
    .canhodichvu{
        height: auto !important; 
        padding-top: 80px ;
        padding-bottom: 20px ;

    }
    .group-number-house-canhodichvu .heading-number-house::after , .group-number-house-canhodichvu .heading-number-house::before{
        width: 15%;
    }
    .group-number-house-canhodichvu .bumber-house-grid .items .name{
        font-size: 12px;
    }
    .group-number-house-canhodichvu .bumber-house-grid .items .number{
        font-size: 40px !important;
    }
    .group-canhodichvu .right-canhodichvu img{
        height: auto;
    }
    .group-canhodichvu .right-canhodichvu{
        height: auto;
    }
    #section15{
        height: auto !important;
    }
    .text-group-canhodichvu{
        max-width: 100%;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .group-canhodichvu{
        display: grid !important;
        grid-template-columns: 48% 48% !important;
        grid-gap: 30px !important;
    }
    .group-number-house-canhodichvu .heading-number-house{
        margin: 20px 0 14px 0px !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
   
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .canhodichvu{
        padding : 80px 0;
    }
}


@media (max-device-width : 768px) {
    .group-number-house-canhodichvu .bumber-house-grid .items {
        grid-row: 1/5 !important;
    }
    .count.count-number0 {
        margin-right: -10px !important;
    }
   
}
@media screen and (max-width: 1367px) and (min-width: 900px), (max-height: 601px){
    .group-number-house-canhodichvu .bumber-house-grid .items .name{
        font-size: 16px;
    }
    .group-number-house-canhodichvu .bumber-house-grid .items .number{
        font-size: 40px;
    }
    .group-canhodichvu .left-canhodichvu .heading-canhodichvu .title .first-head{
        font-size: 28px;
    }
    .group-canhodichvu .left-canhodichvu .heading-canhodichvu .title .first-head .small-head{
        font-size: 16px;
        left: 100px;
        bottom: 33px;
    }
    .group-number-house-canhodichvu .bumber-house-grid{
        grid-template-rows: repeat(4 , 24px) !important;
    }
    .group-number-house-canhodichvu .heading-number-house{
        margin: 20px 0 14px 0px !important;
    }
    /* .group-number-house-canhodichvu .bumber-house-grid .items {
        grid-row: 1/4 !important;
    } */
    .description-canhodichvu{
        font-size: 13px;
    }
}
@media screen and (max-width: 1600px){
    .group-number-house-canhodichvu .heading-number-house{
        font-size: 20px;
        margin: 60px 0 14px 0px;
    }
    .group-number-house-canhodichvu .bumber-house-grid .items .number{
        font-size: 50px;
    }
    .group-canhodichvu .left-canhodichvu .heading-canhodichvu .title .first-head{
        font-size: 28px;
    }
    .group-canhodichvu .left-canhodichvu .heading-canhodichvu .title .first-head .small-head{
        font-size: 16px;
        left: 100px;
        bottom: 0;
    }
    .group-canhodichvu {
        grid-template-columns: 42% 48%;
        grid-gap: 70px;
        justify-content: flex-start;
    }
    .group-number-house-canhodichvu .bumber-house-grid .items .name,.group-number-house-canhodichvu .bumber-house-grid .items p{
        font-size: 16px;
    }
    /* .group-number-house-canhodichvu .bumber-house-grid .items{
        grid-row: 1/4;
    } */
    .group-number-house-canhodichvu .bumber-house-grid {
        grid-template-rows: repeat(5 , 24px);
    }
    .description-canhodichvu{
        max-width: 425px;
    }
    .group-number-house-canhodichvu .bumber-house-grid .items{
        grid-row: 1/5;
    }
    .count.count-number0 {
        margin-right: -15px;
    }
    .group-canhodichvu .left-canhodichvu .heading-canhodichvu .title img {
        padding: 5px 0 15px 0;
    }
}

@media (max-device-width : 768px) {
    .group-canhodichvu .left-canhodichvu .heading-canhodichvu .title img {
        padding: 15px 0 15px 0;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .canhodichvu{
        padding: 100px 0;
    }
}