.container {
    width: 100%;
    padding: 0 10px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1190px;
    }
}
@media (min-width: 1440px) {
    .container{
        max-width: 1590px;
    }
}
