.home-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 3rem;
    padding-top: 100px;
    box-sizing: border-box;
    height: 100%;
}

.home-footer .footer-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.home-footer .footer-left .content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 95%;
    justify-content: center;
    text-align: center;
}

.home-footer .footer-left .content-wrapper .content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.home-footer .footer-left .content-wrapper .content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.home-footer .footer-left .content-wrapper .content-left .title-left,
.home-footer .footer-left .content-wrapper .content-center .title-center,
.home-footer .footer-left .content-wrapper .content-right .title-right {
    font-family: 'SVN Aptima bold';
    font-size: 16px;
    color: white;
}

.home-footer .footer-left .content-wrapper .content-left img {
    width: 110px;
}

.home-footer .footer-left .content-wrapper .content-center img {
    width: 130px;
}

.home-footer .footer-left .content-wrapper .content-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 450px;
}

.home-footer .footer-left .content-wrapper .content-right .partner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.home-footer .footer-left .content-wrapper .content-right .partner img {
    width: 150px;
}

.footer-left .logo-footer {
    width: 280px;
}

.home-footer .footer-left .content-wrapper .content-right .partner .image-partner {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-footer .footer-left .content-wrapper .content-right .partner .image-partner:last-child img {
    margin-bottom: 40px;
}

.home-footer .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}


.home-footer .footer-right .form-register {
    height: auto;
    min-height: 300px;
}

.form-register {
    background-color: #082148;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 1rem;
    box-sizing: border-box;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 4px;
}

.form-register .title,.form-register .title-mobile {
    font-size: 24px;
    color: white;
    text-align: left;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}
.form-register .title {
    display: block;
}
.form-register .title-mobile {
    display: none;
}

.form-register .input-text {
    display: flex;
}

.form-register .input-text .holder {
    display: flex;
    color: white;
    border-bottom: 1px solid white;
}


.form-register .input-text .o2o-name,
.form-register .input-text .o2o-email,
.form-register .input-text .o2o-phone,
.form-register .input-text-message .o2o-message {
    background: transparent;
    border: none;
    outline-color: transparent;
    border-bottom: 1px solid white;
    padding-left: 4px;
    color: white;
    flex: auto;
}

.form-register .input-text .o2o-name:focus,
.form-register .input-text .o2o-email:focus,
.form-register .input-text .o2o-phone:focus,
.form-register .input-text-message .o2o-message:focus {
    outline: none;
}

.form-register .input-text-message {
    display: flex;
    flex-direction: column;
}

.form-register .input-text-message .holder {
    color: white;
}

.form-register .input-text-message .o2o-message {
    resize: none;
}

.form-register .o2o-message::-webkit-scrollbar {
    width: 3px;
}

.form-register .o2o-message::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.form-register .o2o-message::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.form-register #btn-register-submit {
    padding: 10px;
    text-transform: capitalize;
    color: white;
    background: #18517d;
    border: none;
    border-radius: 4px;
    display: flex;
    margin: auto;
}

.home-footer .info-footer {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d6d2d2;
    text-align: center;
    font-size: 13px;
    margin-top: 1rem;
    position: relative;
    gap: 30px;
    /* display: none; */
    margin-bottom: 3rem;
}

.home-footer .info-footer .brochure {
    /* position: absolute; */
    /* right: -160px; */
    /* bottom: 10px; */
    width: 415px;
}

.home-footer .info-footer .brochure img {
    width: 24%;
}


.home-footer .info-footer .brochure .brochure-text {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

@media screen and (max-width:1450px) {
    .home-footer .footer-left .content-wrapper {
        gap: 20px;
    }
}
@media screen and (max-width:1300px) {
    .form-register .title {
        display: none;
    }
    .form-register .title-mobile {
        display: block;
    }
}

@media screen and (max-width:1100px) {
    .home-footer {
        height: auto !important; 
    }

    .home-footer .info-footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .home-footer .info-footer .brochure {
        position: relative;
        right: 0;
        bottom: 0;

    }

    .home-footer .info-footer .brochure img {
        width: 35px;
    }
}

/* @media screen and (max-width:1025px) {
    .home-footer .footer-left .content-wrapper .content-right .partner img {
        width: 100px;
    }
 } */

@media screen and (max-width:900px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .home-footer .footer-right {
        width: 80%;
    }

    .footer-left .logo-footer {
        width: 180px;
    }

    .home-footer .footer-left {
        width: 90%;
    }

    .home-footer .footer-left .content-wrapper .content-left img {
        width: 80px;
    }

    .home-footer .footer-left .content-wrapper .content-center img {
        width: 90px;
    }

    .home-footer .footer-left .content-wrapper {
        width: 100%;
    }
    .home-footer .footer-left .content-wrapper .content-right .partner{
        gap: 10;
    }
    .home-footer .footer-left .content-wrapper .content-right .partner img{
        width: 100px;
    }
    .home-footer .footer-left .content-wrapper .content-right .partner .image-partner{
        width: 44%;
        padding: 0 5px;
    }
    .home-footer .button-submit{
        padding-top: 10px;
    }

    .home-footer .footer-left .content-wrapper .content-left {
        padding-top: 20px;
    }
}

@media screen and (max-width:768px) {
    
}

@media screen and (max-width:700px) {
    .home-footer .footer-left {
        width: 100%;
    }

    .footer-wrapper {
        padding: 0 10px;
    }
}

@media screen and (max-width:540px) {
    .home-footer .footer-left {
        justify-content: center;
        align-items: center;
    }

    .home-footer .footer-left .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .home-footer .footer-left .content-wrapper .content-right {
        margin: auto;
        padding-top: 2rem;
    }

    .home-footer .footer-left .content-wrapper .content-right .partner {
        justify-content: center;
        
    }

    .home-footer .footer-right .form-register {
        width: auto;
    }

    .home-footer .footer-right {
        width: 100%;
    }

    .footer-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .form-register {
        padding: 1rem;
    }

    .home-footer .info-footer {
        width: 95%;
    }
}

@media screen and (max-width:481px) {

}

@media screen and (max-width:440px) {}

@media screen and (max-width:380px) {
    .home-footer .footer-left {
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .footer-left > img{
        padding-top: 20px;
    }
}

.footer-left > img{
    padding-top: 10px;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .home-footer .footer-left .content-wrapper .content-left img {
        width: 80px;
    }

    .home-footer .footer-left .content-wrapper .content-center img {
        width: 90px;
    }

    .home-footer .footer-left .content-wrapper .content-left .title-left, 
    .home-footer .footer-left .content-wrapper .content-center .content-center, 
    .home-footer .footer-left .content-wrapper .content-right .title-right {
        font-family: 'SVN Aptima bold';
        font-size: 13px;
        color: white;
    }

    .home-footer .footer-left .content-wrapper .content-right .partner img {
        width: 125px;
    }

    .home-footer .footer-left {
        width: 56%;
    }

    .home-footer .footer-left .content-wrapper .content-left {
        padding-top: 0px !important;
    }
    
    .footer-wrapper {
        padding-top: 15px;
    }
    .home-footer .footer-left .content-wrapper .content-right .partner{
        width: 400px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .home-footer .footer-left .content-wrapper .content-left .title-left, 
    .home-footer .footer-left .content-wrapper .content-center .title-center, 
    .home-footer .footer-left .content-wrapper .content-right .title-right{
        font-size: 7px;
    }
    .home-footer .footer-left .content-wrapper .content-left img{
        width: 80px;
    }
    .home-footer .footer-left .content-wrapper .content-center img{
        width: 90px;
    }
    .form-register{
        padding: 1rem 1rem 2rem 1rem;
    }
    .home-footer .footer-left .content-wrapper .content-right .partner img{
        width: 105px;
    }
    .home-footer .footer-right{
        margin-left: 30px;
    }
}