.heading-gallery-house{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #123E66;
}
.tabs-gallery-house{
    width: 100%;
    max-width: 75vw !important;
    margin: auto;
}
.tabs-gallery-house .main-tabs {
    text-align: center;
}
.tabs-gallery-house .main-tabs #control-tabs-gallery{
    display: flex;
    justify-content: center;

}
.tabs-gallery-house .main-tabs #control-tabs-gallery li a {
    color: #123E66;
    font-size: 20px;
    padding: 0 20px;
    border-right: 1px solid;
    line-height: 1;
}
.tabs-gallery-house .main-tabs #control-tabs-gallery li:last-child a{
    border: none;
}

.tabs-gallery-house .main-tabs #control-tabs-gallery li.active a{
    font-weight: bold;
}

.slide-gallery,.thumb-gallery{
    position: relative;
    cursor: pointer;
}
.slide-gallery .prev-big, .slide-gallery .next-big ,.thumb-gallery .prev-thumb ,.thumb-gallery .next-thumb {
    position: absolute;
    z-index: 99;
    top: 0;
    top: 50%;
    transform: translate(0 ,-50%);
}
.slide-gallery .prev-big{
    left: -70px;
}
.slide-gallery .next-big{
    right: -70px;
}
.thumb-gallery .prev-thumb{
    left: -20px;
}
.thumb-gallery .next-thumb{
    right: -20px;
}
.thumb-gallery{
    max-width: 100%;
    width: 94%;
    margin: 10px auto;
}
.thumb-gallery .slide-img{
    margin: 0px 5px;
}
.content-tab {
    width: 75%;
    margin: 20px auto;
}

.thumb-gallery .slide-img.slick-slide.slick-current.slick-active img {
    border: 2px solid rgba(255,255,255,0.7);
}
.thumb-gallery .slide-img img {
    border: 2px solid rgba(255,255,255,0);
}

.thumb-gallery .slick-track {
    margin:auto;
}

@media screen and (max-width:1100px) {
    .gallery-house {
        height: 100% !important;
        padding: 20px 0px;
    }
}

@media (max-width : 767px)  {
    .heading-gallery-house{
        font-size: 25px;
    }
    .slide-gallery {
        width: 94vw;
    }
}
@media screen and (max-width: 1024px){
    .content-tab{
        width: 100%;
    }
    .tabs-gallery-house{
        max-width: 100% !important;
    }
    .thumb-gallery{
        width: 85vw;
    }
    .tabs-gallery-house .main-tabs #control-tabs-gallery li a{
        font-size: 14px;
    }
    .slide-gallery .prev-big{
        left: 20px;
    }
    .slide-gallery .next-big{
        right: 20px;
    }
}
@media screen and (max-width: 1367px) and (min-width: 900px), (max-height: 601px){
    .heading-gallery-house{
        font-size: 25px;
        margin-bottom: 5px;
    }
    .content-tab{
        margin: 0 auto;
        padding-top: 10px;
    }
}

@media screen and (max-width: 468px){
    .tabs-gallery-house .main-tabs #control-tabs-gallery li a{
        font-size: 13px;
        padding: 0 16px;
    }
}