.home-vitri {
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 95px;
    gap: 16px;
    justify-content: center;
}

.home-vitri .map-customize {
    position: relative;
}

.home-vitri .map-customize img {
    width: calc(100vw /1.8);
    padding-left: 15px;
}


.home-vitri .content {
    max-width: 30%;
    align-self: center;
    margin-bottom: 47px;
    padding: 0px 10px;
    /* margin-right: 14px; */
    box-sizing: border-box;
    padding-right: 100px;
    width: 100%;
}

.home-vitri .title-vitri,.home-vitri .title-vitri-mobile {
    font-size: 40px;
    color: white;
    margin-bottom: 16px;
    font-family: 'SVN Aptima';
    font-weight: bold;
}
.home-vitri .title-vitri {
    display: block;
}

.title-vitri-mobile {
    display: none;
}

.home-vitri .content>p {
    color: white;
    font-size: 16px;
    text-align: justify;
}

.home-vitri .content .group-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0;
}

.home-vitri .content .group-box>.item,
.home-vitri .content .header-address {
    background: white;
    display: flex;
    padding: 8px 16px;
    gap: 10px;
    max-width: 312px;
    width: 100%;
}

.home-vitri .content .item .divider {
    height: auto;
    width: 1px;
    background-color: #ABB3C1;
}

.home-vitri .content .item .left {
    max-width: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-vitri .content .item .left .position {
    display: flex;
    gap: 4px;
    align-items: center;
}

.home-vitri .content .item .left .away {
    font-size: 14px;
}

.home-vitri .content .item .left h3 {
    font-family: 'SVN Aptima bold';
    font-size: 16px;
    text-transform: uppercase;
    color: #082148;
}

.home-vitri .content .item .right {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    width: 81px;
}

.home-vitri .content .item .right>h3 {
    font-size: 35px;
    color: #082148;
    font-weight: bold;
}

.home-vitri .content .item .right .time {
    margin-bottom: 8px;
}

.home-vitri .content .group-address h3 {
    font-family: 'SVN Aptima bold';
    font-size: 16px;
    text-transform: uppercase;
    flex: auto;
    color: #082148;
}

.home-vitri .content .group-address .header-address img {
    width: 30px;
    padding: 0 20px;
}

.home-vitri .content .group-address {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.home-vitri .content .content-address .item {
    display: flex;
    gap: 4px;
    align-items: center;
}

.home-vitri .content .content-address .item img {
    padding-top: 6px;
    width: 16px;
}

.home-vitri .content .content-address .item p {
    color: white;
    font-size: 16px;
}

.home-vitri-scroll-to {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-vitri .home-vitri-box-scroll-to {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    transform: rotate(270deg);
}

.home-vitri .home-vitri-box-scroll-to .chevron {
    position: absolute;
    width: 24px;
    height: 5px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.home-vitri .home-vitri-box-scroll-to .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.home-vitri .home-vitri-box-scroll-to .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}



.home-vitri .home-vitri-box-scroll-to .chevron:before,
.home-vitri .home-vitri-box-scroll-to .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #082148;
}

.home-vitri .home-vitri-box-scroll-to .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.home-vitri .home-vitri-box-scroll-to .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .home-vitri{
        flex-direction: row !important;
    }
    .home-vitri .map-customize, .home-vitri .map-customize img{
        width: 100%;
    }
   
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1100px)  {
    .home-vitri .title-vitri {
        display: none;
    }
    .title-vitri-mobile {
        display: block;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
   
}



@media screen and (max-width:1200px) {
    .home-vitri .content {
        max-width: 100%;
        /* scale: 0.8; */
    }
}

@media screen and (max-width:1100px) {
    .home-vitri {
        display: flex;
        flex-direction: column;
        height: 100% !important;
        padding-top: 10px;
    }

    .home-vitri .content .title-vitri {
        font-size: 28px;
    }

    .home-vitri .map-customize,
    .home-vitri .map-customize img {
        width: 100%;
    }

    .home-vitri .content {
        width: 100%;
        justify-content: left;
        padding: 0 20px;
    }

}

@media screen and (max-width:900px) {}

@media screen and (max-width:767px) {
    .home-vitri .title-vitri {
        display: none;
    }
    .title-vitri-mobile {
        display: block;
        font-size: 28px !important;
        font-family: 'SVN Aptima bold' !important;
        opacity: 1;
    }
    .home-vitri .map-customize img{
        padding-left: 6px;
    }
}

@media screen and (max-width:700px) {}

@media screen and (max-width:540px) {}

@media screen and (max-width:440px) {

    .home-vitri .content .group-box>.item,
    .home-vitri .content .header-address {
        background: white;
        display: flex;
        padding: 8px 16px;
        gap: 10px;
        max-width: 92%;
    }
    .home-vitri .content .title-vitri {
        text-align: center;
    }

}

@media screen and (max-width:380px) {}

@media screen and (max-width:320px) {}

@media screen and (max-width: 1550px){
    .home-vitri .content>p{
        font-size: 14px;
    }
    .home-vitri .content .content-address .item p{
        font-size: 12px;
    }
    .home-vitri .content .item .right>h3{
        font-size: 24px;
    }
    .home-vitri .content{
        max-width: 100%;
    }
    .home-vitri .content .item .left h3{
        font-size: 13px;
    }
    .home-vitri .content .item .left .away{
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {
    .home-vitri .map-customize, .home-vitri .map-customize img {
        width: 95%;
    }

    .home-vitri .content {
        max-width: 100%;
    }
}