.home-tabs {
    display: grid;
    grid-template-columns: 25% 65%;
    grid-gap: 50px;
}
.home-tabs .tabs-left{
    align-self: flex-end;
    padding-bottom: 115px;
}
.home-tabs .tabs-left .heading-tabs{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: 'SVN Aptima bold';
}
.home-tabs .tabs-left #tabs-nav li{
    margin-bottom: 20px;
}
.home-tabs .tabs-left #tabs-nav li:last-child{
    margin-bottom: 0;
}

.home-tabs .tabs-left #tabs-nav li.active a{
    background: url(../imgs/tienich/tab_active.png);
    background-repeat: no-repeat;
}

.home-tabs .tabs-left #tabs-nav li a{
    background: url(../imgs/tienich/tab.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 24px;
    display: block;
    padding: 5px 20px 10px 20px;
}
.slide-tienich,.thumb-tienich{
    position: relative;
    cursor: pointer;
}
.slide-tienich .prev-big, .slide-tienich .next-big ,.thumb-tienich .prev-thumb ,.thumb-tienich .next-thumb {
    position: absolute;
    z-index: 99;
    top: 0;
    top: 50%;
    transform: translate(0 ,-50%);
}
.slide-tienich .prev-big{
    left: 20px;
}
.slide-tienich .next-big{
    right: 20px;
}

.slide-img {
    position: relative;
}
.tienich-text {
    position: absolute;
    z-index: 99999999;
    bottom: 5%;
    right: 50%;
    background: url(../imgs/tienich/tab.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 24px;
    display: block;
    padding: 5px 20px 10px 20px;
    font-weight: inherit;
    width: 100%;
    max-width: 290px;
    opacity: 0;
    border-radius: 50px;
    text-align: center;
    transform: translate(50%,-50%);
}
.thumb-tienich .prev-thumb{
    left: -20px;
}
.thumb-tienich .next-thumb{
    right: -20px;
}
.thumb-tienich {
    max-width: 100%;
    width: 94%;
    margin: 10px auto;
}
.thumb-tienich .slick-track{
    margin: 0 auto !important;
}
.thumb-tienich .slide-img{
    margin: 0px 5px;
}

.home-tienich .container {
    max-width: 85%;
}


.slide-tienich .slide-img.slick-slide.slick-current.slick-active .tienich-text{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 0.8s;
}
.home-tabs .tabs-right {
    width: 58vw;
}
.thumb-tienich .slide-img.slick-slide.slick-current.slick-active {
    border: 2px solid rgba(255,255,255,0.7);
}
.thumb-tienich .slide-img {
    border: 2px solid rgba(255,255,255,0);
}
.slide-tienich .slide-img {
    /* height: 62vh; */
    overflow: hidden;
}
.slide-tienich .slide-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.thumb-tienich .slide-img {
    height: 10vh;
    overflow: hidden;
    width: 100%;
}
.thumb-tienich .slide-img img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
@media (max-device-width : 768px) {
    .home-tienich .container {
        max-width: 100%;
    }
    .thumb-tienich .next-thumb, .thumb-tienich .prev-thumb{
        display: none !important;
    }
    .tienich-text{
        font-size: 14px;
        max-width: 160px;
    }
    .home-tabs .tabs-right{
        width: 100vw;
    }
    .home-tabs .tabs-left{
        padding: 0 10px;
    }
    .home-tabs .slide-tienich {
        width: 100%;
    }
    .home-tabs .tabs-right{
        width: 100vw !important;
    }
    .slide-tienich .slide-img{
        height: 25vh;
    }
    .thumb-tienich .slide-img {
        height: 8vh;;
    }
}
@media screen and (max-width: 1024px) {
    .home-tabs{
        display: inherit;
    }
    .home-tabs .tabs-left #tabs-nav{
        margin-bottom: 10px;
    }
    .home-tabs .tabs-left #tabs-nav li{
        margin-bottom: 10px;
    }
    .home-tabs .tabs-left .heading-tabs{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .home-tabs .tabs-left #tabs-nav li a{
        font-size: 20px;
    }
    .home-tabs .tabs-left{
        padding-bottom: 0;
    }
    .home-tabs .tabs-right{
        width: 100%;
    }
}
@media screen and (max-width:1100px) {
    .home-tienich {
        height: 100% !important;
        padding: 20px 0px;
    }
}
@media screen and (max-width : 768px) {
    .home-tabs .tabs-left .heading-tabs {
        text-align: center;
        font-size: 28px !important;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .home-tabs{
        display: grid;
        grid-template-columns: 43% 57% !important;
        justify-content: center !important;
        grid-gap: 5px !important;
    }
    .home-tabs .tabs-right{
        width: 53vw !important;
    }
    .thumb-tienich .slide-img{
        height: 7vh !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .thumb-tienich .slide-img{
        height: 4vh !important;
    }
}


@media screen and (max-width: 1367px) and (min-width: 900px), (max-height: 601px){
    .home-tabs .tabs-left{
        padding-bottom: 80px;
    }
    .home-tabs .tabs-left .heading-tabs{
        font-size: 30px;
        margin-bottom: 18px;
    }
    .home-tabs .tabs-left #tabs-nav li a{
        font-size: 16px;
    }
    .home-tabs {
        justify-content: flex-start !important;
    }
}
@media screen and (max-width: 1440px){
    .home-tabs .tabs-left .heading-tabs{
        font-size: 30px;
        margin-bottom: 18px;
    }
    .home-tabs .tabs-left #tabs-nav li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1600px){
    .home-tabs {
        grid-template-columns: 24% 58%;
        justify-content: center;
    }
    .home-tabs .tabs-right {
        width: 55vw;
    }
}

