.home-connect{
    display: flex;
    align-items: center;
    justify-content: center;
}
#section7{
    background-position: center !important;
}
.heading-connect{
    text-align: center;
    background: linear-gradient(to right,#d0a561 50%, #f4df9e 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px transparent;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    font-family: 'SVN Aptima';
}

@media only screen and (max-width: 1920px) and (max-height: 1080px) and (min-resolution: 120dpi) {
    .heading-connect {
        font-size: 35px !important;
    }
    
    .item-loiich-3 .item-loiich {
        bottom: 50% !important;    
        width: 18% !important;
    }
    
    .item-loiich-3 .title-loiich3 {
        font-size: 23px !important;
    }
    
    .title-loiich {
        font-size: 13px !important;
    }
    
    .item-loiich-1 .item-loiich {
        bottom: 8% !important;
    }
    
    .item-loiich-5 .item-loiich {
        bottom: 8% !important;
    }
    
    .item-loiich-2 .item-loiich {
        bottom: 41.3% !important;
    }
    
    .item-loiich-4 .item-loiich {
        bottom: 41.3% !important;
    }
    
    .item-loiich-center {
        bottom: 3% !important;
    }
}

.group-choose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}
.group-choose .items {
    width: 20%;
    margin: 0 5px;
    background: #edf2f4;
    text-align: center;
    border: 1px solid #f6e286;
    height: 20vw;
    border-radius: 8px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center
}
.group-choose .items .spacing-item{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.group-choose .items .spacing-item .text-items{
    font-size: 1.1vw;
    text-transform: uppercase;
    background: #0a3058;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.desc-items{
    color: #000;
    padding-top: 15px;
    /* font-size: 1.8vh; */
}
.line-items{
    background: #0a3058;
    display: block;
    height: 1px;
    width: 75%;
    margin: 35px 0;
}
.group-choose .slick-dots{
    bottom: -50px !important;
}
.group-choose .slick-dots button{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.group-choose .slick-dots li button:before{
    display: none;
}
.group-choose .slick-dots .slick-active button{
    background: linear-gradient(#f6e286, #d4a655);
}
.group-choose .items .icon img {
    width: 80%;
    margin: 0 auto;
}

.loiich-wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 30%;
    left: 0;
    right: 0;
}

.item-loiich {
    display: flex;
    flex-direction: column;
}

.item-circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.title-loiich {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.item-loiich-1.item-loiich {
    left: 9.7%;
    position: absolute;
    bottom: 22%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-loiich-2.item-loiich {
    position: absolute;
    left: 26.9%;
    bottom: 49.3%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-loiich-3 .item-circle{
    width: 100%;
    height: 100%;
}

.item-loiich-3.item-loiich {
    position: absolute;
    left: 40.2%;
    bottom: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
}

.title-loiich-mobile{
    display: none;
}

.item-loiich-3 .title-loiich3 {
    background: linear-gradient(to right,#d0a561 50%, #f4df9e 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px transparent;
    height: auto;
    margin: 5px auto;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}


.home-connect .heading {
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: white;
    width: 30%;
}

.item-loiich-4.item-loiich {
    position: absolute;
    right: 26.9%;
    bottom: 49.3%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-loiich-5.item-loiich {
    right: 9.7%;
    position: absolute;
    bottom: 22%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-loiich-center {
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 24%;
}

.title-loiich .text1 {
    background: linear-gradient(to right,#d0a561 50%, #f4df9e 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px transparent;
}

.title-loiich .text2 {
    background: linear-gradient(to right,#d0a561 50%, #f4df9e 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px transparent;
}

.title-loiich {
    background: linear-gradient(to right,#d0a561 50%, #f4df9e 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px transparent;
}

.item-loiich-road{
    display: none;
}

.home-connect .heading-bg{
    display: none;
}

@media screen and (max-width:1100px) { 
    .home-connect {
        padding-top: 20px;
        padding-bottom: 34px;
    }
}

@media screen and (max-width: 1024px) {
    .heading-connect{
        font-size: 28px;
    }
    .group-choose{
        width: 90vw;
        margin: 0 auto;
    }
    .group-choose .items .icon img {
        width: 50%;
        margin: 0 auto;
    }
}
@media (max-device-width: 768px){
    .home-connect {
        background: url(../imgs/loiich/bg-loi-ich-mobile.jpg) !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    .group-choose .items{
        height: 280px;
    }
    .group-choose .items .spacing-item .text-items{
        font-size: 18px !important;
    }

    .heading-connect {
        font-size: 13px;
    }

    .item-loiich-3.item-loiich {
        bottom: 145%;
        left: 20%;
        width: 60%;
    }

    .item-loiich-3 .item-circle {
        width: 60%;
        height: 60%;
    }

    .item-loiich-3 .title-loiich3 {
        font-size: 13px;
    }

    .item-circle {
        width: 175%;
        height: 175%;
    }

    .item-loiich-2.item-loiich {
        left: 8.9%;
        bottom: 157.3%;
    }

    .item-loiich-4.item-loiich {
        right: 8.9%;
        bottom: 157.3%;
    }

    .item-loiich-3 .title-loiich3 {
        display: flex;
        margin: 30px auto;
        font-size: 18px;
    }

    .title-loiich {
        display: none;
    }

    .item-loiich-center {
        position: absolute;
        bottom: 16%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        color: white;
        width: 65%;
    }

    .item-loiich-road img{
        width: 50px;
    }

    .item-loiich-road {
        display: block;
    }

    
    
}


@media (max-device-width: 468px){
    .item-loiich-3 .title-loiich3 {
        display: none;
    }
    .title-loiich-mobile{
        display: block;
        background: linear-gradient(to right,#d0a561 50%, #f4df9e 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px transparent;
        height: auto;
        margin: 5px auto;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }

    .home-connect .heading-bg{
        display: flex;
        top: 0;
        position: absolute;
        left: 3rem;
        right: 3rem;
        width: auto;
    }


    .home-connect .heading {
        top: 1% !important;
        width: 70%;
    }

    .heading-connect {
        font-size: 28px !important;
    }

    .item-loiich-center {
        bottom: 20% !important;
    }

    .item-circle {
        width: 140%;
        height: 140%;
    }

    .item-loiich-3.item-loiich {
        bottom: 158% !important;
        left: 34% !important;
        width: 35% !important;
    }

    .item-loiich-3 .item-circle {
        width: 60% !important;
        height: 60% !important;
    }

    .item-loiich-2.item-loiich {
        left: 22.9%;
        bottom: 161.3%;
    }

    .item-loiich-4.item-loiich {
        right: 22.9%;
        bottom: 161.3%;
    }

    .item-loiich-1.item-loiich {
        left: 3.7%;
        bottom: 155%;
    }

    .item-loiich-5.item-loiich {
        right: 3.7%;
        bottom: 155%;
    }
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
        .home-connect .heading-bg {
            height: 50px !important;
        }

        .item-loiich-center {
            bottom: 20% !important;
        }
    }

    @media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
        .home-connect .heading-bg {
            height: 50px !important;
        }

        .item-loiich-center {
            bottom:20% !important;
        }
}

/* iPhone XR */
@media only screen 
    and (min-device-width: 414px) 
    and (min-device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) { 
        .home-connect .heading-bg {
            height: 50px !important;
        }

        .item-loiich-center {
            bottom: 20% !important;
        }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .group-choose{
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
    .group-choose .items{
        height: 25vw;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .group-choose{
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
    .group-choose .items{
        width: 31%;
        margin: 5px 5px;
    }
    .desc-items {
        font-size: 14px;
    }
    .group-choose .items{
        height: 100%;
    }

    
}



@media screen and (max-width: 1367px) and (min-width: 900px), (max-height: 601px){
    .group-choose .items .spacing-item .text-items{
        font-size: inherit;
    }
    .desc-items {
        font-size: 11px;
    }
}
@media screen and (max-width: 1440px){
    .group-choose .items .spacing-item .text-items{
        font-size: inherit;
    }
    .group-choose .items .icon img {
        width: 50%;
        margin: 0 auto;
    }
    .group-choose{
        max-width: 85%;
    }
}

@media screen and (max-width: 1550px){
    .group-choose{
        max-width: 85%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .home-connect {
        background: url(../imgs/loiich/bg-loiich-ipad-ngang.jpg) !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .heading-connect {
        font-size: 30px;
    }

    .item-loiich-2.item-loiich {
        bottom: 67.3%;
    }

    .item-loiich-4.item-loiich {
        bottom: 67.3%;
    }

    .item-loiich-1.item-loiich {
        bottom: 56% !important; 
    }

    .item-loiich-5.item-loiich {
        bottom: 56% !important; 
    }

    .item-loiich-center {
        bottom: 3% !important;
    }

    .item-loiich-3.item-loiich {
        left: 30%;
        bottom: 30% !important;
    }

    .item-loiich-road img{
        width: 50px;
    }

    .item-loiich-road {
        display: block;
    }

    
    .item-loiich-3 .title-loiich3 {
        height: auto;
        margin: 5px auto;
        font-size: 22px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .home-connect {
        background: url(../imgs/loiich/bg-loi-ich-ipad-doc.jpg) !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .item-loiich-3 .item-circle {
        width: 50%;
        height: 50%;
    }

    .item-circle {
        width: 70%;
        height: 70%;
    }

    .heading-connect {
        font-size: 30px;
    }

    .item-loiich-3.item-loiich {
        left: 32%;
        bottom: 93%;
        width: 35%;
    }

    .item-loiich-2.item-loiich {
        display: flex;
        left: 19.9%;
        bottom: 126.3%;
        width: 15%;
    }

    .item-loiich-4.item-loiich {
        display: flex;
        right: 19.9%;
        bottom: 126.3%;
        width: 15%;
    }

    .item-loiich-1.item-loiich {
        display: flex;
        left: 1.7%;
        bottom: 119%;
        width: 15%;
    }

    .item-loiich-5.item-loiich {
        display: flex;
        right: 1.7%;
        bottom: 119%;
        width: 15%;
    }

    .item-loiich-center {
        bottom: 10%;
        width: 40%;
        font-size: 24px;
    }

    .title-loiich {
        display: block;
    }

    .title-loiich {
        font-size: 13px;
    }

    .item-loiich-3 .title-loiich3 {
        height: auto;
        margin: 50px auto;
        font-size: 24px;
    }

    .item-loiich-road img{
        width: 50px;
    }

    .item-loiich-road {
        display: block;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
    .home-connect {
        background: url(../imgs/loiich/bg-loiich-ipad-ngang.jpg) !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .heading-connect {
        font-size: 30px;
    }

    .item-loiich-2.item-loiich {
        bottom: 69.3%;
        left: 20.9%;
        width: 15%;
    }

    .item-loiich-4.item-loiich {
        bottom: 69.3%;
        right: 20.9%;
        width: 15%;
    }

    .item-loiich-1.item-loiich {
        bottom: 51%;
        left: 4.7%;
        width: 15%;
    }

    .item-loiich-5.item-loiich {
        bottom: 51%;
        right: 4.7%;
        width: 15%;
    }

    .item-loiich-3.item-loiich {
        left: 38%;
        bottom: 42%;
        width: 25%;
    }

    .title-loiich {
        font-size: 16px;
    }

    .item-loiich-3 .title-loiich3 {
        margin: 50px auto;
    }

    .item-loiich-center {
        width: 40%;
    }

    .item-circle {
        width: 70%;
        height: 70%;
        border-radius: 50%;
    }

    .item-loiich-center {
        bottom: 9%;
    }

    .item-loiich-road img{
        width: 50px;
    }

    .item-loiich-road {
        display: block;
    }

}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {
    .home-connect {
        background: url(../imgs/loiich/bg-loi-ich-ipad-doc.jpg) !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .heading-connect {
        font-size: 30px;
    }

    .item-loiich-3.item-loiich {
        bottom: 100%;
        width: 41%;
        left: 29%;
    }

    .item-loiich-2.item-loiich {
        left: 19.9%;
        bottom: 126.3%;
        width: 15%;
    }

    .item-loiich-4.item-loiich {
        right: 19.9%;
        bottom: 126.3%;
        width: 15%;
    }

    .item-loiich-1.item-loiich {
        left: 1.7%;
        bottom: 118%;
        width: 15%;
    }

    .item-loiich-5.item-loiich {
        right: 1.7%;
        bottom: 118%;
        width: 15%;
    }

    .item-loiich-center {
        bottom: 18%;
        width: 40%;
        font-size: 24px;
    }

    .item-loiich-road img{
        width: 50px;
    }

    .item-loiich-road {
        display: block;
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  
  .item-loiich-3 .title-loiich3 {
        height: auto;
        margin: 50px auto;
        font-size: 24px;
   }

   .item-loiich-3 .item-circle {
        width: 80%;
        height: 80%;
    }

    .item-loiich-center {
        bottom: 20% !important;
    }
}

@media only screen and (max-device-width : 2560px) and (max-device-height : 1600px) and (orientation : landscape){

    .item-loiich-3 .item-circle {
        width: 60%;
        height: 60%;
    }

    .item-loiich-3.item-loiich {
        left: 39.5%;
        bottom: 50%;
    }

    .item-loiich-center {
        bottom: 5% !important;
    }

    .item-loiich-3 .title-loiich3 {

        margin: 10px auto;
        font-size: 22px;
   }
}