.dot-ani {
    position: absolute;
    bottom: 13%;
    left: 64%;
    transform: translate(-50%, -50%);
}

.map-logo {
    width: 142px !important;
    height: 142px;
    position: absolute;
    bottom: 45%;
    left: 49%;
    -webkit-animation: MapAnimation 5s ease infinite;
    animation: MapAnimation s ease infinite;
}



@keyframes MapAnimation {
    0% { transform: rotate(0); }
    5% { transform: rotate(10deg); }
    10% { transform: rotate(0); }
    15% { transform: rotate(10deg); }
    20% { transform: rotate(0); }
    25% { transform: rotate(10deg); }
    30% { transform: rotate(0); }
    35% { transform: rotate(10deg); }
    40% { transform: rotate(0); }
    45% { transform: rotate(10deg); }
    50% { transform: rotate(0); }
    55% { transform: rotate(10deg); }
    60% { transform: rotate(0); }
    65% { transform: rotate(10deg); }
    70% { transform: rotate(0); }
    75% { transform: rotate(10deg); }
    80% { transform: rotate(0); }
    85% { transform: rotate(10deg); }
    90% { transform: rotate(0); }
    95% { transform: rotate(10deg); }
    100% { transform: rotate(0); }
}

@media (min-width: 1900px) {
    .dot-ani {
      position: absolute;
      bottom: 40%;
    left: 56%;
      transform: translate(-50%, -50%);
    }
}

@media (max-width: 480px) {
    .dot-ani {
        bottom: 41%;
        left: 59%;
    }
  }

  .Phone {
    display: block;
    margin: 0;
    width: 0.4em;
    height: 0.4em;
    font-size: 25vmin;
    background-color: transparent;
    border-radius: 0.5em;
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0) scale(1);
  }
  
  .Phone::before,
  .Phone::after {
    position: absolute;
    content: "";
  }
  
  .Phone::before {
    top: 0;
    left: 0;
    width: 0.4em;
    height: 0.4em;
    background-color: rgb(255 255 255 / 25%);
    border-radius: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  
  .Phone::after {
    top: 0.1em;
    left: 0.1em;
    width: 0.1em;
    height: 0.1em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
  }
  
  .Phone.is-animating {
    -webkit-animation: phone-outer 3000ms infinite;
            animation: phone-outer 3000ms infinite;
  }
  .Phone.is-animating::before {
    -webkit-animation: phone-inner 3000ms infinite;
            animation: phone-inner 3000ms infinite;
  }
  .Phone.is-animating::after {
    -webkit-animation: phone-icon 3000ms infinite;
            animation: phone-icon 3000ms infinite;
  }
  
  @-webkit-keyframes phone-outer {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
      box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    33.3333% {
      transform: translate3d(0, 0, 0) scale(1.1);
      box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    }
    66.6666% {
      transform: translate3d(0, 0, 0) scale(1);
      box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
      box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
  }
  
  @keyframes phone-outer {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
      box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    33.3333% {
      transform: translate3d(0, 0, 0) scale(1.1);
      box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    }
    66.6666% {
      transform: translate3d(0, 0, 0) scale(1);
      box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
      box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
  }
  @-webkit-keyframes phone-inner {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(0);
    }
    33.3333% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(0.9);
    }
    66.6666% {
      opacity: 0;
      transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 0, 0) scale(0);
    }
  }
  @keyframes phone-inner {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(0);
    }
    33.3333% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(0.9);
    }
    66.6666% {
      opacity: 0;
      transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 0, 0) scale(0);
    }
  }
  @-webkit-keyframes phone-icon {
    0% {
      transform: translate3d(0em, 0, 0);
    }
    2% {
      transform: translate3d(0.01em, 0, 0);
    }
    4% {
      transform: translate3d(-0.01em, 0, 0);
    }
    6% {
      transform: translate3d(0.01em, 0, 0);
    }
    8% {
      transform: translate3d(-0.01em, 0, 0);
    }
    10% {
      transform: translate3d(0.01em, 0, 0);
    }
    12% {
      transform: translate3d(-0.01em, 0, 0);
    }
    14% {
      transform: translate3d(0.01em, 0, 0);
    }
    16% {
      transform: translate3d(-0.01em, 0, 0);
    }
    18% {
      transform: translate3d(0.01em, 0, 0);
    }
    20% {
      transform: translate3d(-0.01em, 0, 0);
    }
    22% {
      transform: translate3d(0.01em, 0, 0);
    }
    24% {
      transform: translate3d(-0.01em, 0, 0);
    }
    26% {
      transform: translate3d(0.01em, 0, 0);
    }
    28% {
      transform: translate3d(-0.01em, 0, 0);
    }
    30% {
      transform: translate3d(0.01em, 0, 0);
    }
    32% {
      transform: translate3d(-0.01em, 0, 0);
    }
    34% {
      transform: translate3d(0.01em, 0, 0);
    }
    36% {
      transform: translate3d(-0.01em, 0, 0);
    }
    38% {
      transform: translate3d(0.01em, 0, 0);
    }
    40% {
      transform: translate3d(-0.01em, 0, 0);
    }
    42% {
      transform: translate3d(0.01em, 0, 0);
    }
    44% {
      transform: translate3d(-0.01em, 0, 0);
    }
    46% {
      transform: translate3d(0em, 0, 0);
    }
  }
  @keyframes phone-icon {
    0% {
      transform: translate3d(0em, 0, 0);
    }
    2% {
      transform: translate3d(0.01em, 0, 0);
    }
    4% {
      transform: translate3d(-0.01em, 0, 0);
    }
    6% {
      transform: translate3d(0.01em, 0, 0);
    }
    8% {
      transform: translate3d(-0.01em, 0, 0);
    }
    10% {
      transform: translate3d(0.01em, 0, 0);
    }
    12% {
      transform: translate3d(-0.01em, 0, 0);
    }
    14% {
      transform: translate3d(0.01em, 0, 0);
    }
    16% {
      transform: translate3d(-0.01em, 0, 0);
    }
    18% {
      transform: translate3d(0.01em, 0, 0);
    }
    20% {
      transform: translate3d(-0.01em, 0, 0);
    }
    22% {
      transform: translate3d(0.01em, 0, 0);
    }
    24% {
      transform: translate3d(-0.01em, 0, 0);
    }
    26% {
      transform: translate3d(0.01em, 0, 0);
    }
    28% {
      transform: translate3d(-0.01em, 0, 0);
    }
    30% {
      transform: translate3d(0.01em, 0, 0);
    }
    32% {
      transform: translate3d(-0.01em, 0, 0);
    }
    34% {
      transform: translate3d(0.01em, 0, 0);
    }
    36% {
      transform: translate3d(-0.01em, 0, 0);
    }
    38% {
      transform: translate3d(0.01em, 0, 0);
    }
    40% {
      transform: translate3d(-0.01em, 0, 0);
    }
    42% {
      transform: translate3d(0.01em, 0, 0);
    }
    44% {
      transform: translate3d(-0.01em, 0, 0);
    }
    46% {
      transform: translate3d(0em, 0, 0);
    }
  }
  @media (max-width: 480px) {
    .section-location .wrapper-section-location .wrapper-map .dot-ani {
        bottom: 41%;
        left: 59%;
    }
  }
  .icon-pos {
    min-height: 187px;
  }
  
  #owl-brand-logo .owl-stage {
    display: flex;
    align-items: center;
  }
  
  .menu-close-mb {
    font-size: 30px;
    color: #dbc570;
    font-weight: normal;
    position: absolute;
    left: 20px;
    top: 10px;
  }
  
  .hompage-banner-main {
    position: relative;
  }
  .hompage-banner-main .title-banner-main {
    position: absolute;
    top: 19%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  .hompage-banner-main .title-banner-main img {
    max-height: 100px;
  }
  
  /* menu scroll */
  * {
    scroll-margin-top: 150px;
  }
  
  .main-header.affix-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #004a51;
    -webkit-animation: fadeInDown 0.6s both;
    animation: fadeInDown 0.6s both;
  }
  
  .scroll-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    -webkit-animation: fadeInDown 500ms ease-in-out;
    animation: fadeInDown 500ms ease-in-out;
    transition: all 500ms linear;
    background: #004a51;
  }
  
  .main-header.affix-mobile .wrapper-logo a img {
    max-height: 70px !important;
  }
  .main-header.affix-mobile .header-navbar-menu .main-nav-center::before {
    top: -5px !important;
  }
  
  
  
  @media (max-width: 600px) {
    #footer > div.top-footer > div > div > div.col-md-6.col-sm-12.col-xs-12.text-center > a > img{
      margin-top: 30px;
    }
    .hompage-banner-main .title-banner-main {
      top: 19% !important;
      left: 40% !important;
      transform: translate(-20%, -50%) !important;
    }
  
    .htp-tablinks-el .htp-tablink {
      min-width: 126px;
    }
  
    .section-investment .htp-tabcontents-investment {
      margin-top: 10px;
    }
  
    .slider-tabcontent {
      margin: 10px 0 0;
    }
  
    .section-plane .grid_sth__content .place-title h4, .section-investment .wrapper-investment .homepage-banner-investment h4, .section-news .wrapper-news .new--head h4 {
      font-size: 24px;
    }
  }
  @media (max-width: 425px) {
    .section-investment .investment-table .title-iven {
      font-size: 8px !important;
    }
  }
  #footer .d-flex-logo .item-logo span {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }/*# sourceMappingURL=main.css.map */
  
  .imgal-container{line-height:0;-webkit-column-count:5;-webkit-column-gap:0;-moz-column-count:5;-moz-column-gap:0;column-count:5;column-gap:0}.imgal-img{width:100%;height:auto;transition:filter .2s}.imgal-img:hover{-webkit-filter:opacity(80%);filter:opacity(80%);cursor:pointer}.imgal-modal{margin:auto;position:fixed;z-index:999999;top:0;left:0;bottom:0;right:0;background-color:#000;color:#fff;vertical-align:middle;height:100%;width:100%}#imgal-modal-close{    background: #000;
    display: block;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    height: 30px;
    width: 30px;
    text-align: CENTER;
    right: 1.5rem;
    line-height: 30px;
    BORDER-RADIUS: 50%;
    cursor: pointer;
    z-index: 999999;}.imgal-modal-img{width:100%;height:100%;object-fit:contain}@media only screen and (max-width:768px){.imgal-container{line-height:0;-webkit-column-count:2;-webkit-column-gap:0;-moz-column-count:2;-moz-column-gap:0;column-count:2;column-gap:0}}@media only screen and (min-width:768px){.imgal-container{line-height:0;-webkit-column-count:3;-webkit-column-gap:0;-moz-column-count:3;-moz-column-gap:0;column-count:3;column-gap:0}}@media only screen and (min-width:992px){.imgal-container{line-height:0;-webkit-column-count:4;-webkit-column-gap:0;-moz-column-count:4;-moz-column-gap:0;column-count:4;column-gap:0}}@media only screen and (min-width:1200px){.imgal-container{line-height:0;-webkit-column-count:5;-webkit-column-gap:0;-moz-column-count:5;-moz-column-gap:0;column-count:5;column-gap:0}}
  
  
  
  @-moz-keyframes quick-alo-circle-img-anim {
    10% {
      transform: rotate(0) scale(1) skew(1deg)
    }
  
    10% {
      -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
  
    20% {
      -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
  
    30% {
      -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
  
    40% {
      -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
  
    50% {
      -moz-transform: rotate(0) scale(1) skew(1deg)
    }
  
    100% {
      -moz-transform: rotate(0) scale(1) skew(1deg)
    }
  }
  
  @-webkit-keyframes quick-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
  
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
  
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
  
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
  
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
  
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
  
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
  }
  
  @-o-keyframes quick-alo-circle-img-anim {
    0% {
      -o-transform: rotate(0) scale(1) skew(1deg)
    }
  
    10% {
      -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
  
    20% {
      -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
  
    30% {
      -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
  
    40% {
      -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
  
    50% {
      -o-transform: rotate(0) scale(1) skew(1deg)
    }
  
    100% {
      -o-transform: rotate(0) scale(1) skew(1deg)
    }
  }
  
  .iconphone svg{
    -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  }
  .fotorama__fullscreen-icon{
    right: 70px !important;
   opacity: 0 !important;
  }


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .map-logo {
        width: 81px!important;
        height: 81px;
        bottom: 43%;
        left: 46% !important;
    }

    .dot-ani {
        position: absolute;
        bottom: 36% !important;
        left: 57% !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    

    .map-logo {
        width: 65px!important;
        height: 65px;
        bottom: 43%;
        left: 46%;
    }

    .Phone {
        width: 0.1em;
        height: 0.1em;
    }

    .dot-ani {
        position: absolute;
        bottom: 57%;
        left: 55%;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
    .map-logo {
        width: 81px !important;
        height: 81px;
        bottom: 46%;
        left: 50%;
    }

    .dot-ani {
        position: absolute;
        bottom: 38% !important;
        left: 56% !important;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {
    .map-logo {
        width: 70px!important;
        height: 70px;
        bottom: 45%;
        left: 49%;
    }

    .Phone {
        width: 0.1em;
        height: 0.1em;
    }

    .dot-ani {
        position: absolute;
        bottom: 57% !important;
        left: 55% !important;
    }
}

@media (max-width : 768px)  {
    .map-logo {
        width: 52px !important;
        height: 52px;
        position: absolute;
        bottom: 46%;
        left: 46%;
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  
    .map-logo {
      width: 88px !important;
      height: 88px;
      position: absolute;
      bottom: 47%;
      left: 51%;
  }
}
  