@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap");
.section-matbang .heading-matbang {
  font-family: "SVN Aptima bold";
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

/* .section-matbang .map-matbang .mask{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
} */
.section-matbang .map-matbang .mask .items {
  cursor: pointer;
  fill: transparent;
}

.section-matbang .map-matbang .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 100vh;
}

.section-matbang .map-matbang .none-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-matbang .map-matbang svg {
  height: 100%;
  width: 100%;
}

.group-text-map {
  background-image: url(../imgs/matbang/mask-text.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 400px;
  height: 58px;
  font-size: 35px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.6;
  font-family: "Barlow", sans-serif;
  position: absolute;
  width: 100%;
  right: 50%;
  bottom: 0;
  transform: translate(50%, -50%);
  z-index: 9999;
  display: none;
}
.section-matbang .map-matbang .mask2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0.5;
}
.current {
  display: block !important;
}
.matbang-pc {
  display: block;
}
.matbang-mb {
  position: relative;
  display: none;
}
.matbang-mb svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.matbang-mb .img-group-mb .none-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
}
.active-map {
  opacity: 1 !important;
}

.matbang-ipad-pro {
  position: relative;
  display: none;
}

.matbang-ipad-mini {
  position: relative;
  display: none;
}

@media screen and (max-width: 1100px) {
  .section-matbang {
    height: 100% !important;
    padding: 100px 0px;
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .matbang-pc {
    display: none;
  }
  .matbang-mb {
    display: block;
  }
  .group-text-map {
    bottom: 25%;
  }
}
@media (max-device-width: 768px) {
  .section-matbang .heading-matbang {
    font-size: 25px;
  }
  .group-text-map {
    max-width: 300px;
    height: 44px;
    font-size: 28px;
  }
  .group-text-map {
    bottom: 5%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .group-text-map {
    bottom: 7%;
  }
  .section-matbang {
    display: none !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .group-text-map {
    bottom: 15%;
  }
}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .section-matbang .map-matbang {
    max-width: 100% !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1399px) and (min-width: 900px),
  (max-height: 601px) {
  .section-matbang .heading-matbang {
    font-size: 25px;
  }
  .section-matbang .map-matbang {
    max-width: 850px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1550px) {
  .section-matbang .heading-matbang {
    font-size: 28px;
  }
  .section-matbang .map-matbang {
    max-width: 950px;
    margin: 0 auto;
  }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
  #section5 {
    background-image: url(../imgs/matbang/1024x768/full.jpg) !important;
    height: 768px !important;
    display: block !important;
  }

  .section-matbang {
        padding: 0px;
}

  .matbang-ipad-mini {
    display: block !important;
  }

  .section-matbang .map-matbang {
        max-width: 100% !important;
        margin: 0 auto;
    }

    .section-matbang .map-matbang .maskmini {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        opacity: 0.5;
      }
}

@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {
  #section5 {
    background-image: url(../imgs/matbang/1366x1024/full.jpg) !important;
    height: 1024px !important;
    display: block !important;
  }

  .matbang-ipad-pro {
    display: block !important;
  }

  .section-matbang .map-matbang .maskpro {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0.5;
  }

  .group-text-map {
    bottom: 85px;
  } 
}
