@font-face {
    font-family: 'Housttely Signature';
    src: url('../fonts/Housttely_Signature.ttf');
}

@font-face {
    font-family: 'UTM Aptima';
    src: url('../fonts/UTM Aptima.ttf');
}

@font-face {
    font-family: 'SVN Aptima';
    src: url('../fonts/SVN-Aptima.ttf');
}

@font-face {
    font-family: 'SVN Aptima bold';
    src: url('../fonts/SVN-Aptima bold.ttf');
}

@font-face {
    font-family: 'JosefinSans VariableFont wght';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'JosefinSans VariableFont wght';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'UTMA-SHeartbeat';
    src: url('../fonts/UTMA-SHeartbeat.ttf');
}

/* Reset CSS
 * --------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
    font-family: 'UTM Aptima';
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

body {
    font-family: SVN Aptima;
}

@-webkit-keyframes goRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes goRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.img-res {
    max-width: 100%;
}

/* Custom CSS
 * --------------------------------------- */
/*HEADER*/
.body-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    
}

/* *{
    -webkit-box-sizing: unset !important;
} */

.active-body-wrapper {
    display: block;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    transition: all .3s ease;
}

.nav-left {
    padding-left: 70px;
    z-index: 999999999999;
    position: fixed;
    top: 45px;
}

.nav-left .main-nav {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 345px;
    transition: transform .3s ease-in-out;
    transform: translateX(-100%);
}

.active-nav {
    transition: transform .3s ease-in-out;
    transform: translateX(0) !important;
}

.nav-left .main-nav .wrapper {
    background: url(../imgs/bgmenu.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-left .main-nav .nav {
    width: 285px;
    height: 600px;
    padding-top: 50px;
    margin: auto;
}

.nav-left .main-nav .nav .logo {
    text-align: center;
}

.nav-left .main-nav .nav .logo img{
    max-width: 60%;
}

.nav-left .main-nav .nav .menu {
    margin-top: 15px;
}

.nav-left .main-nav .nav .menu li a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    position: relative;
    text-align: center;
    font-family: 'SVN Aptima';
}

.text-chu-dau h3{
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    position: relative;
    text-align: center;
    font-family: 'SVN Aptima';
}

.nav-left .main-nav .nav .logo-chu-dau-tu img{
    max-width: 45%;
}
.nav-left .main-nav .nav .logo-chu-dau-tu{
    text-align: center;
}

.nav-left .main-nav .nav .text-chu-dau {
    margin-top: 15px;
}

.nav-left .main-nav .nav .menu li a:after {
    content: '';
    display: block;
    background: url(../imgs/header/line.png);
    background-size: 100%;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.nav-left .main-nav .nav .menu li {
    animation-name: fadeOut;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    opacity: 0;
    cursor: pointer;
}

.show-menu li {
    animation-name: goRight !important;
    animation-duration: .6s !important;
    animation-fill-mode: forwards !important;
}

.nav-left .button-nav {
    position: absolute;
    z-index: 9999999;
    cursor: pointer;
    height: 25px;
    width: 40px;
    transition: all .3s ease;
}

.active-button span:nth-child(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    left: 0;
    top: 30% !important;
    transition: all .1s ease-in-out;
}

.active-button span:nth-child(2) {
    transform: rotate3d(0, 0, 1, -45deg);
    transition: all .1s ease-in-out;
    left: 0;
    top: 38%;
}

.active-button span:nth-child(3) {
    display: none !important;
}

.nav-left .button-nav span {
    display: block;
    width: 35px;
    height: 4px;
    position: absolute;
    background-color: #fff;
}

.nav-left .button-nav span:nth-child(1) {
    top: 0px;
    transition: all .1s ease-in-out;
}

.nav-left .button-nav span:nth-child(2) {
    top: 7px;
    transition: all .1s ease-in-out;
}

.nav-left .button-nav span:nth-child(3) {
    top: 14px;
    left: 0;
}

.nav-right {
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
}

.nav-right li {
    margin-right: 15px;
}
.nav-right li img {
    width: 42px;
}

.nav-right li svg {
    width: 42px;
}

.nav-right li:last-child {
    margin-right: 0;
}

.scroll-to {
    position: fixed;
    right: 50px;
    z-index: 99999;
    bottom: -40px;
}

.scroll-to .box-scroll-to {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}


/* .fp-viewing-matbangtongthe .nav-left,.fp-viewing-matbangtongthe .right-nav,.fp-viewing-tiendoduan .nav-left, .fp-viewing-tiendoduan .right-nav{
    z-index: 9999;
} */


.chevron {
    position: absolute;
    width: 24px;
    height: 5px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}



.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

.text-scroll {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
}

.line {
    display: block;
    width: 2px;
    height: 60px;
    background: #fff;
    margin: 0px auto;
}

.right-nav {
    position: fixed;
    z-index: 99999;
    right: 70px;
    top: 50%;
    transform: translate(50%, -50%);
}

.nav-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-action .active {
    background: #fff;
    width: 40px;
    height: 40px;
}

.nav-action .active a {
    color: #18517D;
}

.nav-action li {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    background: #18517D;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-action li:last-child {
    margin-bottom: 0;
}

.nav-action li a {
    color: #fff;
    display: block;
    font-weight: 500;
    height: 28px;
    line-height: 1.6;
}

/*HEADER*/










/* Backgrounds will cover all the section
        * --------------------------------------- */
#section0,
#section1,
#section2,
#section3,
#section4,
#section6,
#section7,
#section8 {
    background-size: cover !important;
    background-attachment: fixed;
    
}

#section0{
    background-position: center;
}

/* Defining each sectino background and styles
* --------------------------------------- */


/*section0*/
#section0.active .wave-in {
    animation: fadeInUp;
    animation-duration: 1s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
}

.wave-in {
    height: 130px;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.wave-in svg {
    display: block;
}

/*section0*/


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


.rt-container {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.rt-row:before,
.rt-row:after {
    display: table;
    line-height: 0;
    content: "";
}

.rt-row:after {
    clear: both;
}

[class^="col-rt-"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 15px;
    min-height: 1px;
    position: relative;
}


@media (min-width: 768px) {
    .rt-container {
        width: 750px;
    }

    [class^="col-rt-"] {
        float: left;
        width: 49.9999999999%;
    }

    .col-rt-6,
    .col-rt-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .icon-phone:hover:after{
        display: none;
    }
}




#section0 h1 {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#section1 {
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
}



#section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#section4 {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

#section5 {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}


#section6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section7 {
    background-size: cover;
}

#section8 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

#section9 {
    display: flex;
    align-items: center;
    background-size: cover;
}

#section10 {
    display: flex;
    align-items: center;
    background-position: center !important;
}

#section11 {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center !important;
}

#section12 {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

#section13 {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center !important;
}


#section14 {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}
#section15{
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}


/*Adding background for the slides
        * --------------------------------------- */
#slide1 {
    background-image: url(../imgs/bg2.jpg);
    padding: 6% 0 0 0;
}

#slide2 {
    background-image: url(../imgs/bg5.jpg);
    padding: 6% 0 0 0;
}


.logo-main{
    display: none;
}

.fancybox-caption {
    font-size: 18px !important;
}

@media screen and (max-width: 1024px) {
    .parent-circle {
        margin-top: -8px;
    }

    .logo-main{
        display: block;
        width: 100px;
    }
    
    /* header */
    .header {
        padding-top: 0;
        background: #082148;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-right li img{
        width: 25px;
    }

    .nav-left {
        padding-left: 10px;
        top: 7px;
        padding-top: 0;
    }

    .nav-right {
        padding-right: 0px;
        top: 26px;
    }

    .nav-right img {
        width: 40px;
    }

    .scroll-to {
        right: 10px;
        bottom: 0px;
    }

    .nav-left .button-nav {
        top: 18px;
    }

    .nav-right li {
        margin-right: 10px;
    }

    .right-nav {
        display: none;
    }

    .wave-in {
        height: auto;
    }

    #section4 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #section5{
        background-image: url(../imgs/matbang/bg_mb.png) !important;
        height: auto !important;
    }
    /* header */
    #section0,
#section1,
#section2,
#section3,
#section4,
#section6,
#section7,
#section8{
    padding: 50px 0;
}
.section-matbang{
    /* display: none !important; */
}
#section0.active .wave-in{
    animation: none;
}
.wave-in{
    opacity: 1;
}

#section0{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
}

.icon-phone:hover:after{
    content:"0965.986.468";
    position:absolute;
    right: 21px;
    background:#18517D;
    color: #fff;
    z-index:-1;
    font-size: 24px;
    margin: auto;
    padding-right:30px;
    padding-left:20px;
    border-radius:30px 3% 0% 30px;
    width: 150px; 
    height: 40px;
    top: 2px;
    text-align: center;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .header {
        height: 75px !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .header {
        height: 75px !important;
    }
    .nav-left{
        top: 7px !important;
    }
    /* .nav-left .button-nav{
        top: 25px;
    } */
    .nav-right li img{
        width: 30px !important;
    }
    /* .nav-right{
        top: 30px;
    } */
    .header{
        padding-top: 0 !important;
    }
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 
    .nav-action{
        display: none;
    }
    .nav-right li img{
        margin-right: 5px;
    }
   
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-left .button-nav{
        top: 10px;
    }
    .header{
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 1367px) and (min-width: 900px),
(max-height: 601px) {
    .header {
        padding-top: 20px;
    }
    .nav-left{
        top: 22px;
    }
    .nav-left .main-nav {
        width: 325px;
    }

    .nav-right li img {
        width: 40px;
    }

    .line {
        height: 25px;
    }
}

@media screen and (max-width:480px) {
    .scroll-to {
        display: none;
    }

    .nav-right li svg {
        width: 20px;
        height: 20px;
    }

    .nav-right .parent-circle {
        width: 20px !important;
        height: 20px !important;
    }
}

.formError {
    position: absolute;
    top: -30px;
    left: 20px;
    display: block;
    cursor: pointer;
    z-index: 99999
}

.formErrorContent {
    background-color: rgba(209, 0, 8, .8);
    position: relative;
    display: inline-block;
    color: #fff;
    width: auto;
    height: auto;
    max-width: 250px;
    font-size: 14px;
    line-height: 1.4;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding: 8px 12px;
    border-radius: 10px;
    z-index: 9999
}

.details-content, .popup-home {
    text-align: center;
    overflow: hidden;
    z-index: 3000;
    opacity: 0
}

.formErrorContent::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7px 0;
    border-color: rgba(209, 0, 8, .8) transparent transparent
}

.text-danger {
    color: #ed5565;
  }

#section0 {
    background-position: right !important;
}

.map-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.map-animation .cr-parent, .cr-parent1, .cr-parent2, .cr-parent3 {
    width: 40px;
    height: 40px;
    line-height: 38px;
    font-size: 20px;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0);
    border-radius: 50%;
}

.map-animation .cr-parent .circle {
    position: absolute;
    top: 46%;
    left: 59%;
    border: 1px solid #edc97d;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.cr-parent::before {
    top: 0;
 left: 0;
 width: 0.4em;
 height: 0.4em;
 background-color: #000;
 border-radius: 100%;
 opacity: 1;
 transform: translate3d(0, 0, 0) scale(0);
}

.cr-parent::after {
    top: 0.1em;
	 left: 0.1em;
	 width: 0.1em;
	 height: 0.1em;
	 background-position: 50% 50%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 transform: translate3d(0, 0, 0);
}

.map-animation .cr-parent .circle, .cr-parent1 .circle, .cr-parent2 .circle, .cr-parent3 .circle {
    animation: Ani 2s infinite;
}

/* .nav-right li {
} */


.send-info {
    position: fixed;
    z-index: 100000;
    bottom: 15%;
    right: 45px;
}


.fb_dialog.fb_dialog_advanced iframe {
    left: auto !important;
    right: 28px !important;
    bottom: 6rem !important;
    z-index: 100000 !important;
}


@keyframes MenuAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #section12{
        background-size: cover !important;
        background-position: top -80px center !important;
    }
}


.active-header{
    transform: translateY(-300px) !important;
    transition: all .3s ease !important; 
}

.fancybox-infobar {
    color: red !important;
    display: none !important;
}


  @media only screen and (max-device-width: 1024px) {
    .box-news .img-res {
        width: 300px;
        height: 200px;
    }
  }

  @media only screen and (max-device-width: 468px) {
    .nav-right {
        top: 36px;
    }
  }

  @media screen and (max-width: 1023px) {

    #section0{
        background: url('../imgs/bg-web-SML-M.jpg') !important;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    }

    .fancybox-container {
        z-index: 99999999999 !important;
    }
    .parent-circle {
        position: relative;
        width: 42px;
        height: 42px;
        background: linear-gradient(
            135deg, #D0A24E, #18517D, #edc97d);
                background-size: 300% 300%;
        animation: BorderBox 3s infinite;
        border-radius: 50%;
    }
    .parent-circle .circle {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        box-shadow: 0 0 3px rgb(255 255 255);
      }

      .icon-phone .circle{
        animation: AniCircleHeader 2s infinite;
      }

    .icon-call svg path{
        color: white;
    }

    .parent-circle:hover {
        animation-play-state: paused;
        background: linear-gradient(
            135deg, #07443D, #07443D, #07443D);
    }


@keyframes BorderBox {
    0%,100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

@keyframes AniCircleHeader {
    0% {
		box-shadow: 0 0 0 rgba(220, 220, 220, 0);
		border: 1px solid rgba(220, 220, 220, 0);
		transform: scale(0)
	}
	70% {
		box-shadow: 0 0 50px rgba(220, 220, 220, 1);
		border: 1px solid rgba(220, 220, 220, 1);
		transform: scale(1)
	}
	100% {
		box-shadow: 0 0 60px rgba(220, 220, 220, 0);
		border: 0 solid rgba(220, 220, 220, 0);
		transform: scale(2)
	}
}


