.heading-tien-ich-hot{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'SVN Aptima bold';
}
.tabs-tien-ich-hot{
    width: 100%;
    max-width: 75vw !important;
    margin: auto;
}

.home-service-hot .container {
    max-width: 100%;
}

.slide-ti .slick-dots {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.slide-ti .slick-dots li {
    margin: 0 0.25rem;
}

.slide-ti .slick-dots button {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #fff;
    text-indent: -9999px;
}



.slide-ti .slick-dots li.slick-active button {
    background-color: #000;
}

.tabs-tien-ich-hot .main-tabs {
    text-align: center;
}
.tabs-tien-ich-hot .main-tabs #control-tabs-ti{
    display: flex;
    justify-content: center;

}
.tabs-tien-ich-hot .main-tabs #control-tabs-ti li a {
    color: #123E66;
    font-size: 20px;
    padding: 0 20px;
    border-right: 1px solid;
    line-height: 1;
}
.tabs-tien-ich-hot .main-tabs #control-tabs-ti li:last-child a{
    border: none;
}

.tabs-tien-ich-hot .main-tabs #control-tabs-ti li.active a{
    font-weight: bold;
}

.slide-ti,.thumb-ti{
    position: relative;
    cursor: pointer;
}
.slide-ti .prev-big, .slide-ti .next-big ,.thumb-ti .prev-thumb ,.thumb-ti .next-thumb {
    position: absolute;
    z-index: 99;
    top: 0;
    top: 50%;
    transform: translate(0 ,-50%);
}
.slide-ti .prev-big{
    left: 170px;
}
.slide-ti .next-big{
    right: 170px;
}
.thumb-ti .prev-thumb{
    left: -20px;
}
.thumb-ti .next-thumb{
    right: -20px;
}
.thumb-ti{
    max-width: 100%;
    width: 94%;
    margin: 50px auto;
}
.thumb-ti .slide-img{
    margin: 0px 5px;
}

.thumb-ti .slide-text{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    font-family: 'SVN Aptima bold';
}

.thumb-ti .slide-text h3{
    color: #fff;
}

.home-service-hot .content-tab {
    width: 75%;
    margin: 20px auto;
}

.slide-ti .slick-center {
    -webkit-transform: scale(1.25) !important;
    -moz-transform: scale(1.25) !important;
    transform: scale(1.5) !important;
    z-index: 1;
    opacity: 1 !important;
}

.home-service-hot .tab-ti-content {
    -webkit-transform: scale(1.3) !important;
    -moz-transform: scale(1.3) !important;
    transform: scale(1.3) !important;
}

.slide-ti .slide-img {
    border-style: solid;
    border-width: 1px;
    border-image: radial-gradient(#6aaafd 50%, #0bc411 50%) 1;
    opacity: 0.5;
}

.slide-ti .slick-list {
    padding-top:70px !important;
    padding-bottom:60px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 1002px;
    margin: 0 auto;
    align-items: center;
  }

.thumb-ti .slide-img.slick-slide.slick-current.slick-active img {
    border: 2px solid rgba(255,255,255,0.7);
}
.thumb-ti .slide-img img {
    border: 2px solid rgba(255,255,255,0);
}

@media screen and (max-width:1100px) {
    .tien-ich-hot {
        height: auto !important;
        padding: 20px 0px;
    }
}

@media (max-width : 480px)  {
    .heading-tien-ich-hot{
        font-size: 25px;
        margin-bottom: 50px;
    }
            
    .slide-ti .slick-center {
        -webkit-transform: scale(1) !important;
        -moz-transform: scale(1) !important;
        transform: scale(1) !important;
        z-index: 1;
    }

    .home-service-hot .tab-ti-content {
        -webkit-transform: scale(1) !important;
        -moz-transform: scale(1) !important;
        transform: scale(1) !important;
    }


    .slide-ti .prev-big{
        left: 5px !important;
    }

    .slide-ti .next-big{
        right: 5px !important;
    }

    .slide-ti .slick-list {
        padding: 0px !important;
        
    }

    .home-service-hot .container {
        max-width: 100vw;
        width: 100%;
        overflow: hidden;
    }

}

@media (max-width : 768px)  {
    .heading-tien-ich-hot{
        font-size: 25px;
        margin-bottom: 60px;
    }

    .slide-ti {
        width: 100%;
    }

    .slide-ti .slide-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .slide-ti .slick-list{
        width: 100%;
        position: relative;
        display: block;
        box-sizing: border-box;
    }

    .thumb-ti .slide-text h3 {
        font-size: 11px;
    }

    .slick-dots li {
        width: 5px;
        height: 5px;
    }

    .slide-ti .slick-dots li {
        margin: 0 0.5rem;
    }

    .home-service-hot .content-tab {
        width: 100%;
    }

    .slide-ti .prev-big{
        left: 45px;
    }
    .slide-ti .next-big{
        right: 45px;
    }

    .home-connect .heading {
        top: 0%;
        width: 70%;
    }

    .heading-connect {
        font-size: 28px;
    }
}





@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .home-service-hot .tab-ti-content {
        -webkit-transform: scale(1.1) !important;
        -moz-transform: scale(1.1) !important;
        transform: scale(0.8) !important;
    }

    .home-service-hot .content-tab {
        width: 100%;
        margin: 20px auto;
    }
    
    .slide-ti .prev-big{
        left: -35px;
    }
    .slide-ti .next-big{
        right: -35px;
    }

    .heading-tien-ich-hot{
        font-size: 25px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .home-service-hot .tab-ti-content {
        -webkit-transform: scale(0.9) !important;
        -moz-transform: scale(0.9) !important;
        transform: scale(0.9) !important;
    }

    .home-service-hot .content-tab {
        width: 100%;
        margin: 20px auto;
    }
    
    .slide-ti .prev-big{
        left: -35px;
    }
    .slide-ti .next-big{
        right: -35px;
    }

    .heading-tien-ich-hot{
        font-size: 25px;
        margin-bottom: 50px;
    }

    .home-service-hot .tab-ti-content {
        -webkit-transform: scale(0.8) !important;
        -moz-transform: scale(0.8) !important;
        transform: scale(0.8) !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .home-service-hot .tab-ti-content {
        -webkit-transform: scale(1.1) !important;
        -moz-transform: scale(1.1) !important;
        transform: scale(0.8) !important;
    }
    .home-service-hot .content-tab {
        width: 100% !important;
        margin: 20px auto !important;
    }
    .slide-ti .prev-big{
        left: -45px;
    }
    .slide-ti .next-big{
        right: -45px;
    }

    .slide-ti .slick-list {
        padding-top:70px !important;
        padding-bottom:60px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin: 0 auto;
        align-items: center;
    }

    .thumb-ti .slide-text h3 {
        font-size: 16px;
    }

    .heading-tien-ich-hot {
        font-size: 22px;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
    
    .slide-ti .prev-big{
        left: -35px;
    }
    .slide-ti .next-big{
        right: -35px;
    }

    .home-service-hot .tab-ti-content {
        -webkit-transform: scale(0.9) !important;
        -moz-transform: scale(0.9) !important;
        transform: scale(0.9) !important;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {
    .home-service-hot .tab-ti-content {
        -webkit-transform: scale(0.8) !important;
        -moz-transform: scale(0.8) !important;
        transform: scale(0.8) !important;
    }
    .home-service-hot .content-tab {
        width: 100% !important;
        margin: 20px auto !important;
    }
    .slide-ti .prev-big{
        left: -35px;
    }
    .slide-ti .next-big{
        right: -35px;
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  
  .home-service-hot .tab-ti-content {
        -webkit-transform: scale(1.1) !important;
        -moz-transform: scale(1.1) !important;
        transform: scale(1.1) !important;
    }
    
    .slide-ti .prev-big{
        left: -5px;
    }
    .slide-ti .next-big{
        right: -5px;
    }
}