.wrapper-tinhhoa{
    width: 100%;
    max-width: 75vw !important;
    margin: auto;
    position: relative;
    z-index: 99;
    padding-top: 80px;
}





.group-tinhhoa {
    display: grid;
    grid-template-columns: 45% 50%;
    grid-gap: 70px;
    justify-content: flex-start;
}
.group-tinhhoa .right-tinhhoa img{
    display: block;
}
.group-tinhhoa .right-tinhhoa{
    background : url(../imgs/tinhhoa/wrapper.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 5px;
    width: 92%;
}

.group-tinhhoa .left-tinhhoa .heading-tinhhoa{
    position: relative;
}

.group-tinhhoa .left-tinhhoa .description-tinhoa{
    font-size: 16px;
    color: #fff;
    text-align: justify;
}
.text-group-tinhhoa{
    max-width: 95%;
    margin-left: auto;
}

.group-tinhhoa .left-tinhhoa .heading-tinhhoa .slogan{
    position: absolute;
    top: 0;
    right: 0;
    background: #082148;
    font-size: 20px;
    color: #fff;
    padding: 0px 10px 5px 10px;
}

.group-tinhhoa .left-tinhhoa .heading-tinhhoa .title .first-head{
    font-size: 80px;
    font-family: 'Housttely Signature';
    color: #fff;
}
.group-tinhhoa .left-tinhhoa .heading-tinhhoa .title .first-head .small-head{
    position: absolute;
    font-size: 50px;
    left: 150px;
    bottom: 40px;
    font-weight: bold;
}

.group-number-house .heading-number-house{
    color: #082148;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 14px 0px;
    position: relative;
}

.group-number-house .heading-number-house::after , .group-number-house .heading-number-house::before{
    content: '';
    display: block;
    width: 25%;
    height: 2px;
    background: #082148;
    position: absolute;
}
.group-number-house .heading-number-house::after{
    left: 0;
    top: 20px;
}
.group-number-house .heading-number-house::before{
    right: 0;
    top: 20px;
}

.group-number-house .bumber-house-grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(4 , 1fr);
    grid-gap: 10px;
}
.group-number-house .bumber-house-grid .items {
    height: 10vw;
    background: url(../imgs/tinhhoa/wrapper_number.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}
.group-number-house .bumber-house-grid .items .name{
    font-size: 20px;
    font-weight: bold;
}
.group-number-house .bumber-house-grid .items .number{
    font-size: 78px;
    font-weight: bold;
    line-height: 1;
}
.group-number-house .bumber-house-grid .items p{
    font-size: 20px;
}







@media screen and (max-width: 1024px) {
    .wrapper-tinhhoa {
        max-width: 90vw !important;
    }
    .group-tinhhoa{
        display: inherit;
    }
    .group-tinhhoa .right-tinhhoa{
        margin-top: 20px;
    }
    .tinhhoa{
        height: auto !important; 
        padding: 80px 0;
    }
    .group-number-house .bumber-house-grid .items{
        height: 120px;
    }
    .group-number-house .heading-number-house::after , .group-number-house .heading-number-house::before{
        width: 15%;
    }
    .group-number-house .bumber-house-grid .items .name{
        font-size: 12px !important;
    }
    .group-number-house .bumber-house-grid .items .number{
        font-size: 41px !important;
    }
    .heading-tinhhoa .title img {
        width: 70% !important;
    }
    #section14{
        height: auto !important;
    }
    .text-group-tinhhoa{
        max-width: 100%;
    }
}


@media (max-device-width : 768px) {
    .tinhhoa::after{
        display: block;
        content: "";
        background: #000;
        opacity: .3;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .group-tinhhoa{
        display: grid !important;
        grid-gap: 30px;
    }
    .tinhhoa::after{
        display: none;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
   
}







@media screen and (max-width: 1550px){
    .group-number-house .heading-number-house{
        font-size: 20px;
    }
    .group-number-house .bumber-house-grid .items .number{
        font-size: 48px;
    }

    .group-number-house .bumber-house-grid .items .name ,  .group-number-house .bumber-house-grid .items p{
        font-size: 16px;
    }

    .group-tinhhoa .left-tinhhoa .heading-tinhhoa .title .first-head{
        font-size: 28px;
    }
    .group-tinhhoa .left-tinhhoa .heading-tinhhoa .title .first-head .small-head{
        font-size: 16px;
        left: 100px;
        bottom: 33px;
    }   
    .heading-tinhhoa .title img {
        width: 50%;
    }
}

@media screen and (max-width: 1367px) and (min-width: 900px), (max-height: 601px){
    .group-number-house .bumber-house-grid .items .name{
        font-size: 16px;
    }
    .group-number-house .bumber-house-grid .items .number{
        font-size: 40px;
    }
    .group-tinhhoa .left-tinhhoa .heading-tinhhoa .title .first-head{
        font-size: 28px;
    }
    .group-tinhhoa .left-tinhhoa .heading-tinhhoa .title .first-head .small-head{
        font-size: 16px;
        left: 100px;
        bottom: 33px;
    }
    .heading-tinhhoa .title img {
        width: 35% ;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .heading-tinhhoa .title img {
        width: 70% !important;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .tinhhoa{
        padding: 100px 0;
    }
}