.wrapper-news {
  max-width: 1180px;
  margin: 0 auto;
}


.desktop-tintuc{
  display: block;
}
.mobile-tintuc{
  display: none;
}


#section6 .wrapper-news .heading-news {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 25px;
  font-weight: bold;
}

#section6 .wrapper-news .grid-first {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 15px;
  margin-bottom: 20px;
}

#section6 .wrapper-news .grid-first .grid-box .grid-img {
  height: 15vw;
  overflow: hidden;
  position: relative;
}

#section6 .wrapper-news .grid-first .grid-box .grid-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s ease-in-out;
}

#section6 .wrapper-news .grid-first .grid-box .grid-img img:hover,
#section6 .wrapper-news .grid-second .grid-box .grid-img img:hover {
  transform: scale(1.1);
}

#section6 .wrapper-news .grid-first .grid-box .grid-text {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

#section6 .wrapper-news .grid-second {
  display: grid;
  grid-template-columns: 32% 33% 32%;
  grid-gap: 15px;
}

#section6 .wrapper-news .grid-second .grid-img {
  height: 11vw;
  overflow: hidden;
}

#section6 .wrapper-news .grid-second .grid-img img {
  transition: transform .5s ease-in-out;
  object-fit: cover;
}

#section6 .wrapper-news .grid-second .grid-box .grid-text {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.slide-project{
  position: relative;
}

.group-row {
  margin: 0 4px;
}
.slide-project .prev-service ,.slide-project .next-service{
  position: absolute;
  top: 45%;
  z-index: 99;
}
.slide-project .next-service{
  right: -70px;
}
.slide-project .prev-service{
  left: -70px;
}
.detail-logo {
  position: fixed;
  z-index: 0;
  right: 30px;
  top: 50px;
}
.text-slogan-page {
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  position: fixed;
  z-index: 999999;
  left: 8rem;
  top: 30px;
  font-family: 'SVN Aptima bold';
}


#section6 .flex-mobile-row .grid-text {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.copylink{
  cursor: pointer;
}


.news-list {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: right;
  z-index: 5;
}
.scroll{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.scroll::before,.scroll::after{
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.mask-content {
  -webkit-mask-image: url(../imgs/mask.svg);
  mask-image: url(../imgs/mask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
}
.page-news{
  height: 100vh !important;
  background-size: cover;
}

.grid-news , .link-news {
  position: relative;
  display: inline-block;
  height: auto;
  text-align: left;
}

.grid-news {
  width: 97%;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  margin-top: 7%;
}

.page-news .grid-news .link-news{
  vertical-align: top;
  width: 30vw;
  max-width: 550px;
  margin-left: 42px;
  padding: 27px 0px;
  cursor: pointer;
  margin-right: 54px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pic-thumb {
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  pointer-events: none;
  height: 15vw;
}

.new-icon {
  position: absolute;
  right: 10px;
  top: 12px;
  display: block;
  width: 50px;
  height: 30px;
  background: url('../imgs/new.png') no-repeat 50%;
  text-align: center;
  z-index: 3;
  text-indent: -9999px;
  font-size: 0;
}
.date-thumb {
  height: auto;
  padding: 10px 15px;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  text-align: left;
  z-index: 1;
  transition: all .3s ease-in-out;
}
.link-news .date-thumb {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.date-thumb span {
  font-weight: 400;
  font-size: 10px;
  display: block;
  white-space: nowrap;
  margin-top: 10px;
}
.head-text {
  width: calc(100% - 120px);
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
  text-align: left;
  white-space: normal;
}
.head-text h3 {
  font-size: 0.90909vw;
  transition: all .3s ease-in-out;
  font-weight: 300;
  color: #fff;
  display: block;
  position: relative;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}
.go-news, .view-more {
  padding: 15px 0 0;
  margin: 0;
  font-weight: 700;
  font-size: 11px;
  color: #d0b179;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  text-align: left;
  transition: all .3s ease-in-out;
}
.go-news:after, .view-more:after {
  content: " ";
  width: 100%;
  height: 1px;
  position: relative;
  margin: 10px 0 0;
  display: block;
  background-color: currentColor;
  transition: all .3s ease-in-out;
}
.link-news:hover .go-news:after {
  width: 150px;
  transition: all .3s ease-in-out;
}


.link-news:hover .date-thumb {
  background-color: #d0b179;
  color: #fff;
  transition: all .3s ease-in-out;
}
.link-news:hover .head-text h3 {
  color: #d0b179;
  transition: all .3s ease-in-out;
}
.pic-thumb:after {
  content: "";
  border: 10px solid transparent;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transition: border-color .3s ease-in-out;
  box-sizing: border-box;
}
.link-news:hover .pic-thumb:after {
  border: 10px solid #d0b179;
}
.pic-thumb img{
  transition: all .3s ease-in-out;
}

.link-news:hover .pic-thumb img {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.heading-page-news {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 90px;
  font-family: "SVN Aptima bold";
}


.news-list .nicescroll-rails {
  background-color: rgba(0,0,0,.2);
}

.news-list .nicescroll-rails-hr {
  transform: scale(.12);
  top: auto!important;
  bottom: 30px;
}

.news-list .nicescroll-cursors {
  cursor: pointer;
}

.news-list .nicescroll-cursors:hover {
  height: 45px !important;
  top: -10px;
}

.news-list .news-list .nicescroll-cursors:after {
  width: 100%;
  height: 30px;
  border-radius: 30px;
}

.news-list .nicescroll-cursors:after {
  content: "";
  width: 1px;
  height: 100%;
  position: relative;
  display: block;
  background-color: #d0b179;
  transition: all .3s ease-in-out;
  border-radius: 0;
}

.scroll-left {
  display: block;
  left: 0;
}

.scroll-right {
  display: block;
  right: 0;
}

.scroll-left, .scroll-right {
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  #section6 .wrapper-news .heading-news {
      font-size: 25px !important;
      margin-bottom: 20px;
  }

  .mobile-tintuc{
      display: block;
  }
  

  #section6 .wrapper-news .grid-first .grid-box .grid-img,
  #section6 .wrapper-news .grid-second .grid-img {
      height: auto;
  }

  #section6 .wrapper-news .grid-first,
  #section6 .wrapper-news .grid-second {
      grid-template-columns: 48% 48%;
      grid-gap: 15px;
  }

  #section6 .wrapper-news .grid-first .grid-box .grid-text {
      font-size: 14px !important;
  }
  .group-row, #section6 .wrapper-news .heading-news {
      margin: 0 10px;
  }
  .slide-project .prev-service ,.slide-project .next-service{
      position: absolute;
      bottom: -15%;
      z-index: 99;
      transform: translate(50%,-50%);
      top: auto;
  }
  .slide-project .next-service{
      right: 38%;
  }
  .slide-project .prev-service{
      left: 38%;
  }
  .detail-logo{
      display: none;
  }
  .text-slogan-page{
      left: 60px;
      top: 10px;
      transition: all .3s ease;
  }
  .desktop-tintuc{
      display: none;
  }
  /* .wrapper-news{
      padding: 120px 0 50px 0;
  } */
  .mobile-tintuc {
      padding: 5px;
  }
  #section6 .flex-mobile-row .grid-box{
      margin: 0px 5px;
  }
  #section6 .flex-mobile-row .slick-dots{
      bottom: -50px;
  }
  #section6 .flex-mobile-row .slick-dots button {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 15px;
      height: 15px;
  }
  #section6 .flex-mobile-row .slick-dots .slick-active button {
      background: -webkit-linear-gradient(#f6e286, #d4a655);
  }
  .slick-dots li.slick-active button:before {
      opacity: 0 !important;
  }
  .mask-content{
      -webkit-mask-image : none;
  }
  .page-news .grid-news .link-news{
      margin: 0 15px;
      width: 300px;
  }
  .pic-thumb{
      height: auto;
  }
  .head-text h3{
      font-size: 10px !important;
  }
  .heading-page-news{
      top: 130px;
      font-size: 30px;
  }

  
  .scroll-left {
      display: none;
  }
  
  .scroll-right {
      display: none;
  }

  .grid-news {
      overflow-y: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .grid-news::-webkit-scrollbar {
      display: none;
  }
}

@media screen and (max-width:1100px) {
  .home-news-project {
      height: 100% !important;
      padding: 20px 0px;
  }
  
}

@media screen and (max-width:768px) {
  #section6 .wrapper-news .heading-news {
      text-align: center;
  }
  .mobile-tintuc{
      width: 94vw;
  }
  .mobile-tintuc .grid-img {
      height: 30vh;
  }
  .mobile-tintuc .grid-img img{
      height: 100%;
  }

  /* .heading-page-news {
      font-size: 28px !important;
      top: 60px !important;
  }

  #tintucfullpage .page-news .heading-page-news {
      font-size: 28px !important;
      top: 80px !important;
  } */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  .mobile-tintuc {
      display: none;
  }
  .desktop-tintuc{
      display: block;
  }
  #section6 .wrapper-news .grid-img{
      height: 20vw !important;
  }
  #section6 .wrapper-news  .grid-second .grid-img{
      height: 13vw !important;
  }
  #section6 .wrapper-news .grid-second{
      grid-template-columns: 32% 30% 32%;
  }
  .pic-thumb{
      height: auto !important;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
 
}


@media screen and (max-width: 1367px) and (min-width: 900px),
(max-height: 601px) {
  #section6 .wrapper-news .heading-news {
      font-size: 25px;
      margin-bottom: 10px;
  }

  .wrapper-news {
      width: 75%;
  }

  #section6 .wrapper-news .grid-first .grid-box .grid-text {
      font-size: 15px;
  }

  #section6 .wrapper-news .grid-second .grid-box .grid-text {
      font-size: 12px;
  }
  .heading-page-news{
      top: 60px;
  }
  .pic-thumb{
      height: 240px;
  }
  .box-news .pic-thumb .img-res{
    height: 240px;
  }
}

@media screen and (max-width: 1440px) {
  #section6 .wrapper-news .heading-news {
      font-size: 30px;
      margin-bottom: 10px;
  }

  #section6 .wrapper-news .grid-first .grid-box .grid-text {
      font-size: 16px;
  }

  #section6 .wrapper-news .grid-second .grid-box .grid-text {
      font-size: 14px;
  }

  .wrapper-news {
      max-width: 950px;
  }
}

@media screen and (max-width: 1400px){
  .head-text h3 {
      font-size: 1.11111vw;
  }
}

@media screen and (max-width: 1550px){
  .content-popup{
      max-width: 600px !important;
  }
  
}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
  .heading-page-news{
      top: 130px !important;
  }
}

@media only screen 
and (min-width: 1024px) 
and (max-height: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1.5) {
  .grid-news {
      width: 98%;
  }
  .page-news .grid-news .link-news {
      margin-left: 20px;
      margin-right: 10px;
  }
}


@media only screen and (max-width: 1920px) and (max-height: 1080px)  {
  .grid-news {
      width: 99%;
  }

  .page-news .grid-news .link-news {
      max-width: 523px;
      width: 28vw;
  }
}

@media only screen and (max-width: 1920px) and (max-height: 1080px) and (min-resolution: 120dpi) {
  .grid-news {
      width: 99%;
  }

  .page-news .grid-news .link-news {
      max-width: 523px;
      width: 26vw;
  }
}

@media only screen and (max-width: 1440px) and (max-height: 900px)  {
  .grid-news {
      width: 98%;
  }

  .page-news .grid-news .link-news {
      width: 25vw;
  }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .grid-news {
      width: 99%;
  }
  .page-news .grid-news .link-news {
      width: 30vw;
  }
}

@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation:landscape) {
  .grid-news {
      width: 98%;
  }

  .page-news .grid-news .link-news {
    width: 30vw;
  }

  .box-news .pic-thumb .img-res{
    width: 409px;
  }
}

@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
  .grid-news {
      width: 98%;
  }
}

@media all and (max-width: 768px) {
  .page-news .grid-news .link-news {
      margin: 0 15px;
      width: 300px;
  }
  .grid-news {
      width: 97%;
      white-space: nowrap;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      margin-top: 7%;
  }
}