.tropical-paradise {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tropical-paradise .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-tropical-paradise {
    display: flex;
    gap: 1rem;
    width: 85%;
}

.wrapper-tropical-paradise .left-tropical-paradise {
    flex: 50;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper-tropical-paradise .left-tropical-paradise .heading-tropical-paradise {
    position: relative;
}

.wrapper-tropical-paradise .left-tropical-paradise .heading-tropical-paradise .title .first-head {
    font-size: 80px;
    font-family: 'Housttely Signature';
    color: #fff;
}

.wrapper-tropical-paradise .left-tropical-paradise .heading-tropical-paradise .title .first-head .small-head {
    font-family: 'UTM Aptima';
    position: absolute;
    font-size: 50px;
    left: 150px;
    bottom: 18px;
    color: white;
    text-transform: uppercase;
}

.wrapper-tropical-paradise .right-tropical-paradise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50;
    position: relative;
}


.wrapper-tropical-paradise .right-tropical-paradise .backgroung-right {
    display: block;

    width: 504px;
    height: 504px;
    position: absolute;
}

.wrapper-tropical-paradise .right-tropical-paradise .backgroung-right .background-image {
    position: absolute;
    width: 100%;
    display: block;
}

.wrapper-tropical-paradise .right-tropical-paradise .content-img {
    display: block;
    position: absolute;
    width: 90%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}


.text-group-tropical-paradise .description-tropical-paradise {
    color: white;
    text-align: justify;
}



@media screen and (max-width: 1100px) {
    .wrapper-tropical-paradise {
        max-width: 100vw !important;
        flex-direction: column;
        padding-right: 30px;
        padding-left: 10px;
    }

    .wrapper-tropical-paradise .right-tropical-paradise {
        margin-top: 20px;
    }

    .tropical-paradise {
        height: auto !important; 
        padding-top: 30px;
    }


    .wrapper-tropical-paradise .right-tropical-paradise .backgroung-right {
        position: inherit;
        display: none;

    }

    .wrapper-tropical-paradise .right-tropical-paradise .content-img {
        display: none;
    }

}


@media (max-device-width : 768px) {
    .wrapper-tropical-paradise {
        width: 100%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .wrapper-tropical-paradise .right-tropical-paradise .content-img{
        display: block;
    }
    .wrapper-tropical-paradise{
        padding-right: 0;
    }
    .wrapper-tropical-paradise{
        flex-direction: row;
    }
    .text-group-tropical-paradise .description-tropical-paradise{
        font-size: 14px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
   
}


@media screen and (max-width: 1367px) and (min-width: 900px),
(max-height: 601px) {
    .wrapper-tropical-paradise .left-tropical-paradise .heading-tropical-paradise .title .first-head {
        font-size: 28px;
    }

    .wrapper-tropical-paradise .left-tropical-paradise .heading-tropical-paradise .title .first-head .small-head {
        position: inherit;
    }
}

@media screen and (max-width: 1440px) {

    .wrapper-tropical-paradise .left-tropical-paradise .heading-tropical-paradise .title .first-head {
        font-size: 28px;
    }

    .wrapper-tropical-paradise .left-tropical-paradise .heading-tropical-paradise .title .first-head .small-head {
        font-size: 16px;
        position: inherit;
    }
    /* .heading-tropical-paradise .title img {
        width: 50%;
    } */
    .text-group-tropical-paradise .description-tropical-paradise{
        font-size: 14px;
    }
}

@media screen and (max-width: 1550px){
    .text-group-tropical-paradise .description-tropical-paradise{
        font-size: 14px;
    }
}
